In [1]:
pip install keras-tuner --upgrade

Collecting keras-tuner
  Downloading keras_tuner-1.0.3-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.3 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.4.1)
Collecting kt-legacy
  Downloading kt-legacy-1.0.3.tar.gz (5.8 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (5.5.0)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.5.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.0.5)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (1.0.18)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (2.4.7)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2021.5.30)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.3.4)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.36.2)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.12.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.32.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.4)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.34.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.6.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.1.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.5.0)
Building wheels for collected packages: kt-legacy
  Building wheel for kt-legacy (setup.py) ... done
  Created wheel for kt-legacy: filename=kt_legacy-1.0.3-py3-none-any.whl size=9568 sha256=0be04b9ae76d86a7c4185610812f75fcc01b3d4513dd63f5046ac3d680c5acd0
  Stored in directory: /root/.cache/pip/wheels/38/5c/e0/13003e68c17f403af40b92a24d20171b95fef13b0fdaba833c
Successfully built kt-legacy
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.0.3 kt-legacy-1.0.3

In [2]:
#Importing Dependencies
import psycopg2
import sqlalchemy as sal
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

CREATING CONNECTION TO DATABASE

In [3]:
engine = create_engine('postgresql://postgres:bootcamp@database-1.c2wp8xz2pqbi.us-east-2.rds.amazonaws.com:5432/bootcampDB')

In [4]:
connection_test = engine.connect()

In [5]:
inspector = inspect(engine)

In [6]:
print(inspector.get_table_names())

['stats', 'events', 'location']

LOADING LOCATION TABLE IN TO DATAFRAME

In [7]:
loc_column_names = ['Country', 'Capital', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020']

In [19]:
location = engine.execute("SELECT * FROM location")

In [20]:
location_df = pd.DataFrame(location)
location_df.head()

               0                 1   ...                  17                  18
0     Afghanistan             Kabul  ...         7290.724741  3852.6952340000003
1         Albania            Tirane  ...         5591.135578   6571.702756000001
2         Algeria           Algiers  ...  4809.9730119999995   7456.896815000001
3  American Samoa         Pago Pago  ...         6972.944914         17274.49986
4         Andorra  Andorra la Vella  ...         5113.942627         7566.659669

[5 rows x 19 columns]

In [21]:
location_df.columns = ['Country', 'Capital', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020']

In [22]:
location_df.head()

          Country  ... Distance From Tokyo 2020
0     Afghanistan  ...       3852.6952340000003
1         Albania  ...        6571.702756000001
2         Algeria  ...        7456.896815000001
3  American Samoa  ...              17274.49986
4         Andorra  ...              7566.659669

[5 rows x 19 columns]

In [23]:
location_df.shape[0]

200

LOADING STATS TABLE IN TO DATAFRAME

In [30]:
stats = engine.execute("SELECT * FROM stats")

In [31]:
stats_df = pd.DataFrame(stats)
stats_df.head()

            0    1   2   3   4   ...   8            9     10    11          12
0  Netherlands  NLD   2   4   4  ...  JPN  18699380731   NLD  73.8  12127116.0
1     Bulgaria  BGR   3   5   2  ...  JPN        $-     None  None   8144340.0
2     Pakistan  PAK   0   1   0  ...  JPN   5204955901  None  None        None
3       Brazil  BRA   0   0   1  ...  JPN  21211892260   BRA  56.2  81168654.0
4        Italy  ITA  10  10   7  ...  JPN  63175417019  None  None  51675294.0

[5 rows x 13 columns]

In [35]:
stats_df.columns = ['Country', 'Country Code', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Host_City', 'Host_Country', 'GDP', 'COU', 'Life Expectancy at Birth',
       'Population']

In [36]:
stats_df.head()

       Country Country Code  Gold  ...   COU  Life Expectancy at Birth  Population
0  Netherlands          NLD     2  ...   NLD                      73.8  12127116.0
1     Bulgaria          BGR     3  ...  None                      None   8144340.0
2     Pakistan          PAK     0  ...  None                      None        None
3       Brazil          BRA     0  ...   BRA                      56.2  81168654.0
4        Italy          ITA    10  ...  None                      None  51675294.0

[5 rows x 13 columns]

In [37]:
stats_df.shape[0]

865

LOADING EVENTS TABLE IN TO DATAFRAME

In [38]:
events = engine.execute("SELECT * FROM events")

In [39]:
events_df = pd.DataFrame(events)

In [40]:
events_df.columns = ['COU', 'Country', 'Place', 'Year', 'Discipline', 'Gender', 'Event']

In [41]:
events_df.head()

   COU         Country  ... Gender                  Event
0  TCH  Czechoslovakia  ...  Women           Balance Beam
1  TCH  Czechoslovakia  ...  Women            Horse Vault
2  TCH  Czechoslovakia  ...  Women  Individual All-Around
3  TCH  Czechoslovakia  ...  Women        Team All-Around
4  TCH  Czechoslovakia  ...    Men           1,500 metres

[5 rows x 7 columns]

In [42]:
events_df.shape[0]

10520

TRANSFORMING DATA

In [ ]:
performance =