In [ ]:
pip install keras-tuner --upgrade

Collecting keras-tuner
  Downloading keras_tuner-1.0.3-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.4 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.19.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.0)
Collecting kt-legacy
  Downloading kt-legacy-1.0.3.tar.gz (5.8 kB)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.5.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (5.5.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.0.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.8.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.2.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (2.4.7)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.12.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.3.4)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.36.2)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.34.1)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.32.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (4.2.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.6.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.5.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.7.4.3)
Building wheels for collected packages: kt-legacy
  Building wheel for kt-legacy (setup.py) ... done
  Created wheel for kt-legacy: filename=kt_legacy-1.0.3-py3-none-any.whl size=9568 sha256=0af3facfa53edc72c636d834665d460ae57f3865c30b10d38ab2b13bc7f84f73
  Stored in directory: /root/.cache/pip/wheels/38/5c/e0/13003e68c17f403af40b92a24d20171b95fef13b0fdaba833c
Successfully built kt-legacy
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.0.3 kt-legacy-1.0.3

In [ ]:
import psycopg2
import sqlalchemy as sal
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
engine = create_engine('postgresql://postgres:bootcamp@database-1.c2wp8xz2pqbi.us-east-2.rds.amazonaws.com:5432/bootcampDB')

In [ ]:
connection_test = engine.connect()

In [ ]:
inspector = inspect(engine)

In [ ]:
print(inspector.get_table_names())

['stats', 'gloc']

In [ ]:
gloc_column_names = ['Country', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020', 'Year',
       'Value']

In [ ]:
gloc = engine.execute("SELECT * FROM gloc")
gloc_df = pd.DataFrame(gloc)

In [ ]:
gloc_df.columns

RangeIndex(start=0, stop=22, step=1)

In [ ]:
gloc_df.columns = ['Country', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020', 'Year',
       'Value']

In [ ]:
gdp_df = gloc_df[['Country', 'Year', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere']]

In [ ]:
gdp_df.head()

          Country  Year  ... Latitude Hemisphere  Longitude Hemisphere
0     Afghanistan   NaN  ...               North                  East
1         Albania   NaN  ...               North                  East
2         Algeria   NaN  ...               North                  East
3  American Samoa   NaN  ...               South                  West
4         Andorra   NaN  ...               North                  East

[5 rows x 6 columns]

In [ ]:
gloc_df['Year'] = pd.to_numeric(gloc_df['Year'], errors='coerce')

In [ ]:
stats = engine.execute("SELECT * FROM stats")
stats_df = pd.DataFrame(stats)

In [ ]:
stats_df.columns = ['Country', 'Country Code', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Host_City', 'Host_Country', 'COU', 'Life Expectancy at Birth',
       'Population']

In [ ]:
stats_df.head()

         Country Country Code  Gold  ...   COU  Life Expectancy at Birth   Population
0  United States          USA    36  ...   USA                      70.3  191888791.0
1         Russia          URS    30  ...   RUS                      67.7  125412625.0
2          Japan          JPN    16  ...   JPN                      70.3   98110000.0
3        Germany          GER    10  ...   DEU                      70.6   75318338.0
4          Italy          ITA    10  ...  None         65.31290322580645   51675294.0

[5 rows x 12 columns]

In [ ]:
df = pd.merge(stats_df, gloc_df, how="left", on=["Country", "Year"])

In [ ]:
df.head(20)

           Country Country Code  ...  Distance From Tokyo 2020      Value
0    United States          USA  ...                       NaN        NaN
1           Russia          URS  ...                       NaN        NaN
2            Japan          JPN  ...                       NaN        NaN
3          Germany          GER  ...                       NaN        NaN
4            Italy          ITA  ...                       NaN        NaN
5          Hungary          HUN  ...                       NaN        NaN
6           Poland          POL  ...                       NaN        NaN
7        Australia          AUS  ...               4913.860856  32694.467
8   Czechoslovakia          TCH  ...                       NaN        NaN
9          England          GBR  ...                       NaN        NaN
10        Bulgaria          BUL  ...                       NaN        NaN
11         Finland          FIN  ...                       NaN        NaN
12     New Zealand          NZL  ...                       NaN        NaN
13         Romania          ROU  ...                       NaN        NaN
14     Netherlands          NED  ...                       NaN        NaN
15          Turkey          TUR  ...                       NaN        NaN
16          Sweden          SWE  ...               6835.886355  24401.202
17         Denmark          DEN  ...                       NaN        NaN
18      Yugoslavia          YUG  ...                       NaN        NaN
19         Belgium          BEL  ...                       NaN        NaN

[20 rows x 32 columns]

In [ ]:
df.columns

Index(['Country', 'Country Code', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Host_City', 'Host_Country', 'COU', 'Life Expectancy at Birth',
       'Population', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020',
       'Value'],
      dtype='object')

In [ ]:
df = df.drop(["Country Code", "COU", "Host_Country", "Host_City", "Capital", "Value"], axis=1)

In [ ]:
df.head()

         Country  ...  Distance From Tokyo 2020
0  United States  ...                       NaN
1         Russia  ...                       NaN
2          Japan  ...                       NaN
3        Germany  ...                       NaN
4          Italy  ...                       NaN

[5 rows x 26 columns]

In [ ]:
df.columns

Index(['Country', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Life Expectancy at Birth', 'Population', 'GDP (Billions)',
       'Latitude Hemisphere', 'Longitude Hemisphere',
       'Distance From Tokyo 1964', 'Distance From Mexico City 1968',
       'Distance From Munich 1972', 'Distance From Montreal 1976',
       'Distance From Moscow 1980', 'Distance From Los Angeles 1984',
       'Distance From Seoul 1988', 'Distance From Barcelona 1992',
       'Distance From Atlanta 1996', 'Distance From Sydney 2000',
       'Distance From Athens 2004', 'Distance From Beijing 2008',
       'Distance From London 2012', 'Distance From Rio de Janeiro 2016',
       'Distance From Tokyo 2020'],
      dtype='object')

In [ ]:
df_distance = df.drop(['Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Life Expectancy at Birth', 'Population', 'GDP (Billions)',], axis=1)

In [ ]:
df_distance.head(500)

                   Country  ... Distance From Tokyo 2020
0            United States  ...                      NaN
1                   Russia  ...                      NaN
2                    Japan  ...                      NaN
3                  Germany  ...                      NaN
4                    Italy  ...                      NaN
..                     ...  ...                      ...
495                 Latvia  ...              6472.043995
496  Serbia and Montenegro  ...                      NaN
497            New Zealand  ...              5633.175948
498                Estonia  ...              6494.667894
499               Thailand  ...                      NaN

[500 rows x 18 columns]

In [ ]:
df_distance_filled = df_distance.fillna(df.groupby('Country').transform('mean'))

In [ ]:
df_distance_filled.head(20)

           Country  ... Distance From Tokyo 2020
0    United States  ...                      NaN
1           Russia  ...                      NaN
2            Japan  ...                      NaN
3          Germany  ...                  6996.07
4            Italy  ...                   6965.6
5          Hungary  ...                  6633.31
6           Poland  ...                  6576.97
7        Australia  ...              4913.860856
8   Czechoslovakia  ...                      NaN
9          England  ...                      NaN
10        Bulgaria  ...                  6375.31
11         Finland  ...                  6482.01
12     New Zealand  ...                  5633.18
13         Romania  ...                   6228.1
14     Netherlands  ...                  7464.87
15          Turkey  ...                  5854.36
16          Sweden  ...              6835.886355
17         Denmark  ...                  7083.18
18      Yugoslavia  ...                      NaN
19         Belgium  ...                  7465.48

[20 rows x 18 columns]

## Machine Learning

In [ ]:
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [ ]:
df_values = df.dropna(axis=0)

In [ ]:
values_cat = df_values.dtypes[df_values.dtypes == "object"].index.tolist()
values_cat

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df_values[values_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(values_cat)
encode_df.head()

In [ ]:
# Merge one-hot encoded features and drop the originals
df_values= df_values.merge(encode_df,left_index=True, right_index=True)
df_values = df_values.drop(values_cat,1)
df_values.head()

In [ ]:
y = df_values['Total'].values
X = df_values.drop(['Total', 'Gold', 'Silver', 'Bronze'], 1).values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  5
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

NN Model Just Life Expectancy and GDP

In [ ]:
nn_df = stats_df.dropna(axis=0)

In [ ]:
nn_df.head()

         Country Country Code  Gold  ...  COU  Life Expectancy at Birth   Population
0  United States          USA    36  ...  USA                      70.3  191888791.0
1         Russia          URS    30  ...  RUS                      67.7  125412625.0
2          Japan          JPN    16  ...  JPN                      70.3   98110000.0
3        Germany          GER    10  ...  DEU                      70.6   75318338.0
5        Hungary          HUN    10  ...  HUN                      69.5   10119834.0

[5 rows x 12 columns]

In [ ]:
nn_df = nn_df.drop(["Country Code", "Gold", "Silver", "Bronze", "Year", "Host_City", "Host_Country", "COU"], axis=1)

In [ ]:
values_cat = nn_df.dtypes[nn_df.dtypes == "object"].index.tolist()
values_cat

['Country', 'Life Expectancy at Birth', 'Population']

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(nn_df[values_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(values_cat)
encode_df.head()

   Country_Australia  ...  Population_1324171354.0
0                0.0  ...                      0.0
1                0.0  ...                      0.0
2                0.0  ...                      0.0
3                0.0  ...                      0.0
4                0.0  ...                      0.0

[5 rows x 620 columns]

In [ ]:
# Merge one-hot encoded features and drop the originals
nn_df = nn_df.merge(encode_df,left_index=True, right_index=True)
nn_df = nn_df.drop(values_cat,1)
nn_df.head()

   Total  Country_Australia  ...  Population_1263065852.0  Population_1324171354.0
0     90                0.0  ...                      0.0                      0.0
1     96                0.0  ...                      0.0                      0.0
2     29                0.0  ...                      0.0                      0.0
3     50                0.0  ...                      0.0                      0.0
5     22                0.0  ...                      0.0                      0.0

[5 rows x 621 columns]

In [ ]:
y = nn_df['Total'].values
X = nn_df.drop(['Total'], 1).values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  2
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_64 (Dense)             (None, 2)                 1242
_________________________________________________________________
dense_65 (Dense)             (None, 6)                 18
_________________________________________________________________
dense_66 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_67 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_68 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_69 (Dense)             (None, 1)                 7
=================================================================
Total params: 1,393
Trainable params: 1,393
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
6/6 [==============================] - 1s 3ms/step - loss: -0.2031 - accuracy: 0.1358
Epoch 2/100
6/6 [==============================] - 0s 4ms/step - loss: -1.1257 - accuracy: 0.1358
Epoch 3/100
6/6 [==============================] - 0s 3ms/step - loss: -2.1481 - accuracy: 0.1358
Epoch 4/100
6/6 [==============================] - 0s 3ms/step - loss: -3.4168 - accuracy: 0.1358
Epoch 5/100
6/6 [==============================] - 0s 3ms/step - loss: -4.6560 - accuracy: 0.1358
Epoch 6/100
6/6 [==============================] - 0s 3ms/step - loss: -6.1870 - accuracy: 0.1358
Epoch 7/100
6/6 [==============================] - 0s 3ms/step - loss: -7.9558 - accuracy: 0.1358
Epoch 8/100
6/6 [==============================] - 0s 3ms/step - loss: -9.9215 - accuracy: 0.1358
Epoch 9/100
6/6 [==============================] - 0s 2ms/step - loss: -12.3007 - accuracy: 0.1358
Epoch 10/100
6/6 [==============================] - 0s 4ms/step - loss: -15.2578 - accuracy: 0.1358
Epoch 11/100
6/6 [==============================] - 0s 3ms/step - loss: -18.6417 - accuracy: 0.1358
Epoch 12/100
6/6 [==============================] - 0s 3ms/step - loss: -22.5783 - accuracy: 0.1358
Epoch 13/100
6/6 [==============================] - 0s 2ms/step - loss: -27.1510 - accuracy: 0.1358
Epoch 14/100
6/6 [==============================] - 0s 2ms/step - loss: -32.7820 - accuracy: 0.1358
Epoch 15/100
6/6 [==============================] - 0s 3ms/step - loss: -39.2056 - accuracy: 0.1358
Epoch 16/100
6/6 [==============================] - 0s 3ms/step - loss: -46.0081 - accuracy: 0.1358
Epoch 17/100
6/6 [==============================] - 0s 2ms/step - loss: -53.8628 - accuracy: 0.1358
Epoch 18/100
6/6 [==============================] - 0s 3ms/step - loss: -62.2337 - accuracy: 0.1358
Epoch 19/100
6/6 [==============================] - 0s 4ms/step - loss: -71.1307 - accuracy: 0.1358
Epoch 20/100
6/6 [==============================] - 0s 3ms/step - loss: -82.2945 - accuracy: 0.1358
Epoch 21/100
6/6 [==============================] - 0s 3ms/step - loss: -94.6488 - accuracy: 0.1358
Epoch 22/100
6/6 [==============================] - 0s 3ms/step - loss: -108.0324 - accuracy: 0.1358
Epoch 23/100
6/6 [==============================] - 0s 3ms/step - loss: -122.1872 - accuracy: 0.1358
Epoch 24/100
6/6 [==============================] - 0s 3ms/step - loss: -137.4849 - accuracy: 0.1358
Epoch 25/100
6/6 [==============================] - 0s 3ms/step - loss: -153.2069 - accuracy: 0.1358
Epoch 26/100
6/6 [==============================] - 0s 2ms/step - loss: -168.8317 - accuracy: 0.1358
Epoch 27/100
6/6 [==============================] - 0s 3ms/step - loss: -187.3597 - accuracy: 0.1358
Epoch 28/100
6/6 [==============================] - 0s 3ms/step - loss: -204.3541 - accuracy: 0.1358
Epoch 29/100
6/6 [==============================] - 0s 2ms/step - loss: -223.3728 - accuracy: 0.1358
Epoch 30/100
6/6 [==============================] - 0s 2ms/step - loss: -242.4596 - accuracy: 0.1358
Epoch 31/100
6/6 [==============================] - 0s 2ms/step - loss: -265.4156 - accuracy: 0.1358
Epoch 32/100
6/6 [==============================] - 0s 2ms/step - loss: -288.1257 - accuracy: 0.1358
Epoch 33/100
6/6 [==============================] - 0s 2ms/step - loss: -310.1841 - accuracy: 0.1358
Epoch 34/100
6/6 [==============================] - 0s 3ms/step - loss: -333.6435 - accuracy: 0.1358
Epoch 35/100
6/6 [==============================] - 0s 3ms/step - loss: -356.8282 - accuracy: 0.1358
Epoch 36/100
6/6 [==============================] - 0s 2ms/step - loss: -379.0749 - accuracy: 0.1358
Epoch 37/100
6/6 [==============================] - 0s 3ms/step - loss: -403.3518 - accuracy: 0.1358
Epoch 38/100
6/6 [==============================] - 0s 3ms/step - loss: -428.2558 - accuracy: 0.1358
Epoch 39/100
6/6 [==============================] - 0s 4ms/step - loss: -451.5722 - accuracy: 0.1358
Epoch 40/100
6/6 [==============================] - 0s 4ms/step - loss: -473.7311 - accuracy: 0.1358
Epoch 41/100
6/6 [==============================] - 0s 3ms/step - loss: -498.0293 - accuracy: 0.1358
Epoch 42/100
6/6 [==============================] - 0s 3ms/step - loss: -521.3035 - accuracy: 0.1358
Epoch 43/100
6/6 [==============================] - 0s 2ms/step - loss: -547.2510 - accuracy: 0.1358
Epoch 44/100
6/6 [==============================] - 0s 2ms/step - loss: -569.9909 - accuracy: 0.1358
Epoch 45/100
6/6 [==============================] - 0s 2ms/step - loss: -595.6987 - accuracy: 0.1358
Epoch 46/100
6/6 [==============================] - 0s 3ms/step - loss: -622.7490 - accuracy: 0.1358
Epoch 47/100
6/6 [==============================] - 0s 2ms/step - loss: -647.8370 - accuracy: 0.1358
Epoch 48/100
6/6 [==============================] - 0s 2ms/step - loss: -675.2517 - accuracy: 0.1358
Epoch 49/100
6/6 [==============================] - 0s 2ms/step - loss: -703.2224 - accuracy: 0.1358
Epoch 50/100
6/6 [==============================] - 0s 2ms/step - loss: -731.6679 - accuracy: 0.1358
Epoch 51/100
6/6 [==============================] - 0s 3ms/step - loss: -763.7632 - accuracy: 0.1358
Epoch 52/100
6/6 [==============================] - 0s 2ms/step - loss: -791.9294 - accuracy: 0.1358
Epoch 53/100
6/6 [==============================] - 0s 3ms/step - loss: -827.1986 - accuracy: 0.1358
Epoch 54/100
6/6 [==============================] - 0s 3ms/step - loss: -862.1087 - accuracy: 0.1358
Epoch 55/100
6/6 [==============================] - 0s 2ms/step - loss: -898.7749 - accuracy: 0.1358
Epoch 56/100
6/6 [==============================] - 0s 3ms/step - loss: -932.3672 - accuracy: 0.1358
Epoch 57/100
6/6 [==============================] - 0s 3ms/step - loss: -968.0490 - accuracy: 0.1358
Epoch 58/100
6/6 [==============================] - 0s 2ms/step - loss: -1007.3828 - accuracy: 0.1358
Epoch 59/100
6/6 [==============================] - 0s 2ms/step - loss: -1048.8379 - accuracy: 0.1358
Epoch 60/100
6/6 [==============================] - 0s 3ms/step - loss: -1091.1414 - accuracy: 0.1358
Epoch 61/100
6/6 [==============================] - 0s 3ms/step - loss: -1128.6218 - accuracy: 0.1358
Epoch 62/100
6/6 [==============================] - 0s 3ms/step - loss: -1170.1711 - accuracy: 0.1358
Epoch 63/100
6/6 [==============================] - 0s 3ms/step - loss: -1212.6891 - accuracy: 0.1358
Epoch 64/100
6/6 [==============================] - 0s 2ms/step - loss: -1255.2511 - accuracy: 0.1358
Epoch 65/100
6/6 [==============================] - 0s 2ms/step - loss: -1299.9373 - accuracy: 0.1358
Epoch 66/100
6/6 [==============================] - 0s 2ms/step - loss: -1340.3206 - accuracy: 0.1358
Epoch 67/100
6/6 [==============================] - 0s 3ms/step - loss: -1389.8215 - accuracy: 0.1358
Epoch 68/100
6/6 [==============================] - 0s 3ms/step - loss: -1435.2737 - accuracy: 0.1358
Epoch 69/100
6/6 [==============================] - 0s 3ms/step - loss: -1480.2142 - accuracy: 0.1358
Epoch 70/100
6/6 [==============================] - 0s 3ms/step - loss: -1526.0128 - accuracy: 0.1358
Epoch 71/100
6/6 [==============================] - 0s 3ms/step - loss: -1576.9149 - accuracy: 0.1358
Epoch 72/100
6/6 [==============================] - 0s 2ms/step - loss: -1628.8857 - accuracy: 0.1358
Epoch 73/100
6/6 [==============================] - 0s 3ms/step - loss: -1690.9823 - accuracy: 0.1358
Epoch 74/100
6/6 [==============================] - 0s 3ms/step - loss: -1747.8081 - accuracy: 0.1358
Epoch 75/100
6/6 [==============================] - 0s 4ms/step - loss: -1799.6266 - accuracy: 0.1358
Epoch 76/100
6/6 [==============================] - 0s 3ms/step - loss: -1852.4458 - accuracy: 0.1358
Epoch 77/100
6/6 [==============================] - 0s 3ms/step - loss: -1908.6078 - accuracy: 0.1358
Epoch 78/100
6/6 [==============================] - 0s 3ms/step - loss: -1961.1868 - accuracy: 0.1358
Epoch 79/100
6/6 [==============================] - 0s 3ms/step - loss: -2029.3315 - accuracy: 0.1358
Epoch 80/100
6/6 [==============================] - 0s 4ms/step - loss: -2099.5759 - accuracy: 0.1358
Epoch 81/100
6/6 [==============================] - 0s 3ms/step - loss: -2172.3677 - accuracy: 0.1358
Epoch 82/100
6/6 [==============================] - 0s 2ms/step - loss: -2231.3713 - accuracy: 0.1358
Epoch 83/100
6/6 [==============================] - 0s 4ms/step - loss: -2299.4048 - accuracy: 0.1358
Epoch 84/100
6/6 [==============================] - 0s 3ms/step - loss: -2352.8198 - accuracy: 0.1358
Epoch 85/100
6/6 [==============================] - 0s 3ms/step - loss: -2412.9958 - accuracy: 0.1358
Epoch 86/100
6/6 [==============================] - 0s 2ms/step - loss: -2479.7891 - accuracy: 0.1358
Epoch 87/100
6/6 [==============================] - 0s 3ms/step - loss: -2555.0886 - accuracy: 0.1358
Epoch 88/100
6/6 [==============================] - 0s 3ms/step - loss: -2630.1990 - accuracy: 0.1358
Epoch 89/100
6/6 [==============================] - 0s 2ms/step - loss: -2705.2642 - accuracy: 0.1358
Epoch 90/100
6/6 [==============================] - 0s 3ms/step - loss: -2777.3027 - accuracy: 0.1358
Epoch 91/100
6/6 [==============================] - 0s 3ms/step - loss: -2849.3191 - accuracy: 0.1358
Epoch 92/100
6/6 [==============================] - 0s 2ms/step - loss: -2918.9849 - accuracy: 0.1358
Epoch 93/100
6/6 [==============================] - 0s 3ms/step - loss: -2995.6797 - accuracy: 0.1358
Epoch 94/100
6/6 [==============================] - 0s 4ms/step - loss: -3071.8687 - accuracy: 0.1358
Epoch 95/100
6/6 [==============================] - 0s 3ms/step - loss: -3150.6731 - accuracy: 0.1358
Epoch 96/100
6/6 [==============================] - 0s 2ms/step - loss: -3228.4500 - accuracy: 0.1358
Epoch 97/100
6/6 [==============================] - 0s 4ms/step - loss: -3303.4893 - accuracy: 0.1358
Epoch 98/100
6/6 [==============================] - 0s 2ms/step - loss: -3383.5066 - accuracy: 0.1358
Epoch 99/100
6/6 [==============================] - 0s 3ms/step - loss: -3459.5723 - accuracy: 0.1358
Epoch 100/100
6/6 [==============================] - 0s 3ms/step - loss: -3536.8132 - accuracy: 0.1358

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2/2 - 0s - loss: -2.8451e+03 - accuracy: 0.0364
Loss: -2845.13134765625, Accuracy: 0.036363635212183