In [1]:
import pandas as pd

In [2]:
Health_file = pd.read_csv("HEALTH_STAT_17072021163319835.csv")
pop_file = pd.read_csv("HISTPOP_17072021165851274.csv")

health_df = pd.DataFrame(Health_file)
pop_df = pd.DataFrame(pop_file)

In [3]:
pop_df.head()

,LOCATION,Country,SEX,Sex,AGE,Age,TIME,Time,Value,Flag Codes,Flags
0,AUS,Australia,W,Women,TOTAL,Total,1964,1964,5516400.0,NaN,NaN
1,AUS,Australia,W,Women,TOTAL,Total,1965,1965,5626400.0,NaN,NaN
2,AUS,Australia,W,Women,TOTAL,Total,1966,1966,5757910.0,NaN,NaN
3,AUS,Australia,W,Women,TOTAL,Total,1967,1967,5859757.0,NaN,NaN
4,AUS,Australia,W,Women,TOTAL,Total,1968,1968,5965400.0,NaN,NaN

In [4]:
health_df["Variable"].values

array(['Females at birth', 'Females at birth', 'Females at birth', ...,
       'Males at age 80', 'Males at age 80', 'Males at age 80'],
      dtype=object)

In [5]:
pop_df_total = pop_df[pop_df["SEX"] == "T"]
pop_df_clean = pop_df_total.drop(["SEX", "Sex", "AGE", "Age", "TIME", "Flag Codes", "Flags"], axis=1)
population_df = pop_df_clean.rename(columns={"Time":"Year", "Value": "Population"})
population_df.head()

    LOCATION    Country  Year  Population
110      AUS  Australia  1964  11121600.0
111      AUS  Australia  1965  11340900.0
112      AUS  Australia  1966  11599498.0
113      AUS  Australia  1967  11799078.0
114      AUS  Australia  1968  12008635.0

In [6]:
health_df_total = health_df[health_df["Variable"] == "Total population at birth"]
health_df_total_cl = health_df_total.drop(["Variable", "VAR", "UNIT", "Measure", "YEA", "Flag Codes", "Flags"], axis=1)
health_stats = health_df_total_cl.rename(columns={"Value":"Life Expectancy at Birth"})
health_stats.head()

     COU    Country  Year  Life Expectancy at Birth
560  AUS  Australia  1964                      70.7
561  AUS  Australia  1965                      71.0
562  AUS  Australia  1966                      70.8
563  AUS  Australia  1967                      71.2
564  AUS  Australia  1968                      70.9

In [7]:
pop_life = pd.merge(health_stats, population_df, how="right", on=["Country", "Year"])

In [8]:
pop_life = pop_life.drop("LOCATION", axis=1)

In [9]:
pop_life_cl = pop_life.drop_duplicates(subset=["Year","Country"])

In [11]:
pop_life_cl.to_csv(r'health_pop.csv', index = False)

In [13]:
pop_life_fill = pop_life_cl.fillna(pop_life_cl.groupby('Country').transform('mean'))

In [15]:
pop_life_fill.to_csv(r'health_pop_3.csv', index = False)