In [99]:
pip install keras-tuner --upgrade

Requirement already satisfied: keras-tuner in /usr/local/lib/python3.7/dist-packages (1.0.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.0.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (5.5.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.19.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.5.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.4.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.0.5)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (1.0.18)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.2.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (2.4.7)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.34.1)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.12.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.32.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.36.2)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.3.4)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.6.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.5.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.7.4.3)

Importing dependencies

In [100]:
import psycopg2
import sqlalchemy as sal
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd

Creating connection to database and initial dataframes

In [101]:
engine = create_engine('postgresql://postgres:bootcamp@database-1.c2wp8xz2pqbi.us-east-2.rds.amazonaws.com:5432/bootcampDB')

In [102]:
connection_test = engine.connect()

In [103]:
inspector = inspect(engine)

In [104]:
print(inspector.get_table_names())

['gloc', 'stats']

In [105]:
gloc_column_names = ['Country', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020', 'Year',
       'Value']

In [106]:
gloc = engine.execute("SELECT * FROM gloc")
gloc_df = pd.DataFrame(gloc)

In [107]:
gloc_df.columns

RangeIndex(start=0, stop=22, step=1)

In [108]:
gloc_df.columns = ['Country', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020', 'Year',
       'Value']

In [109]:
gdp_df = gloc_df[['Country', 'Year', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere']]

In [110]:
gdp_df.head()

     Country    Year  ... Latitude Hemisphere  Longitude Hemisphere
0  Australia  1960.0  ...               South                  East
1  Australia  1961.0  ...               South                  East
2  Australia  1962.0  ...               South                  East
3  Australia  1963.0  ...               South                  East
4  Australia  1964.0  ...               South                  East

[5 rows x 6 columns]

In [111]:
gloc_df['Year'] = pd.to_numeric(gloc_df['Year'], errors='coerce')

In [112]:
stats = engine.execute("SELECT * FROM stats")
stats_df = pd.DataFrame(stats)

In [113]:
stats_df.columns = ['Country', 'Country Code', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Host_City', 'Host_Country', 'COU', 'Life Expectancy at Birth',
       'Population']

In [114]:
stats_df.head()

       Country Country Code  Gold  ...   COU  Life Expectancy at Birth  Population
0  Netherlands          NLD     2  ...   NLD                      73.8  12127116.0
1     Bulgaria          BGR     3  ...  None         65.31290322580645   8144340.0
2     Pakistan          PAK     0  ...  None                      None        None
3       Brazil          BRA     0  ...   BRA                      56.2  81168654.0
4        Italy          ITA    10  ...  None         65.31290322580645  51675294.0

[5 rows x 12 columns]

In [115]:
# Joining using SQL
joined_table = engine.execute("SELECT * FROM gloc join stats on stats.Country = gloc.Country and stats.Year = gloc.Year")

In [116]:
joined_df = pd.DataFrame(joined_table)

In [117]:
joined_df.head()

          0         1       2      3   ...   30   31    32          33
0  Australia  Canberra  1397.0  South  ...  JPN  AUS  70.7  11121600.0
1  Australia  Canberra  1397.0  South  ...  MEX  AUS  70.9  12008635.0
2  Australia  Canberra  1397.0  South  ...  DEU  AUS  72.0  13303664.0
3  Australia  Canberra  1397.0  South  ...  CAN  AUS  72.8  14033083.0
4  Australia  Canberra  1397.0  South  ...  RUS  AUS  74.6  14695356.0

[5 rows x 34 columns]

In [118]:
joined_df.columns = ['Country', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020', 'Year',
       'Value', 'Country', 'Country Code', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Host_City', 'Host_Country', 'COU', 'Life Expectancy at Birth',
       'Population']

In [119]:
joined_df.head()

     Country   Capital  ...  Life Expectancy at Birth  Population
0  Australia  Canberra  ...                      70.7  11121600.0
1  Australia  Canberra  ...                      70.9  12008635.0
2  Australia  Canberra  ...                      72.0  13303664.0
3  Australia  Canberra  ...                      72.8  14033083.0
4  Australia  Canberra  ...                      74.6  14695356.0

[5 rows x 34 columns]

In [120]:
joined_df.shape[0]

436

In [121]:
#Making these two columns numeric in order to fit one hot encoder
joined_df['Life Expectancy at Birth'] = pd.to_numeric(joined_df['Life Expectancy at Birth'], errors='coerce')
joined_df['Population'] = pd.to_numeric(joined_df['Population'], errors='coerce')

In [122]:
#Merging the two pandas data frames
df = pd.merge(stats_df, gloc_df, how="left", on=["Country", "Year"])

In [123]:
df.head(20)

          Country Country Code  ...  Distance From Tokyo 2020      Value
0     Netherlands          NLD  ...                       NaN        NaN
1        Bulgaria          BGR  ...                       NaN        NaN
2        Pakistan          PAK  ...                       NaN        NaN
3          Brazil          BRA  ...                       NaN        NaN
4           Italy          ITA  ...                       NaN        NaN
5          Sweden          SWE  ...               6835.886355  24401.202
6         Uruguay          URY  ...                       NaN        NaN
7         Ireland          IRL  ...                       NaN        NaN
8           Japan          JPN  ...                       NaN        NaN
9            Iran          IRN  ...                       NaN        NaN
10           Cuba          CUB  ...                       NaN        NaN
11    Switzerland          CHE  ...                       NaN        NaN
12          India          IND  ...                       NaN        NaN
13          Kenya          KEN  ...                       NaN        NaN
14    Philippines          PHL  ...                       NaN        NaN
15        Hungary          HUN  ...                       NaN        NaN
16  United States          USA  ...                       NaN        NaN
17        Romania          ROU  ...                       NaN        NaN
18     Yugoslavia          YUG  ...                       NaN        NaN
19          Ghana          GHA  ...                       NaN        NaN

[20 rows x 32 columns]

In [124]:
df.columns

Index(['Country', 'Country Code', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Host_City', 'Host_Country', 'COU', 'Life Expectancy at Birth',
       'Population', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020',
       'Value'],
      dtype='object')

In [125]:
#Dropping duplicate columns and irrelavent values
df = df.drop(["Country Code", "COU", "Host_Country", "Host_City", "Capital", "Value"], axis=1)

In [126]:
df.head()

       Country  Gold  ...  Distance From Rio de Janeiro 2016  Distance From Tokyo 2020
0  Netherlands     2  ...                                NaN                       NaN
1     Bulgaria     3  ...                                NaN                       NaN
2     Pakistan     0  ...                                NaN                       NaN
3       Brazil     0  ...                                NaN                       NaN
4        Italy    10  ...                                NaN                       NaN

[5 rows x 26 columns]

In [127]:
df.columns

Index(['Country', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Life Expectancy at Birth', 'Population', 'GDP (Billions)',
       'Latitude Hemisphere', 'Longitude Hemisphere',
       'Distance From Tokyo 1964', 'Distance From Mexico City 1968',
       'Distance From Munich 1972', 'Distance From Montreal 1976',
       'Distance From Moscow 1980', 'Distance From Los Angeles 1984',
       'Distance From Seoul 1988', 'Distance From Barcelona 1992',
       'Distance From Atlanta 1996', 'Distance From Sydney 2000',
       'Distance From Athens 2004', 'Distance From Beijing 2008',
       'Distance From London 2012', 'Distance From Rio de Janeiro 2016',
       'Distance From Tokyo 2020'],
      dtype='object')

In [128]:
#Dropping duplicate columns and irrelavent values
df_distance = df.drop(['Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Life Expectancy at Birth', 'Population', 'GDP (Billions)',], axis=1)

In [129]:
df_distance.head(500)

            Country  ... Distance From Tokyo 2020
0       Netherlands  ...                      NaN
1          Bulgaria  ...                      NaN
2          Pakistan  ...                      NaN
3            Brazil  ...                      NaN
4             Italy  ...                      NaN
..              ...  ...                      ...
495     New Zealand  ...              5633.175948
496          Canada  ...              11761.45096
497    Saudi Arabia  ...              5149.412878
498  Chinese Taipei  ...                      NaN
499           Chile  ...              12415.56917

[500 rows x 18 columns]

In [130]:
#Filling blank values with average since distance by city is consistent
df_distance_filled = df_distance.fillna(df.groupby('Country').transform('mean'))

In [131]:
df_distance_filled.head(20)

          Country  ... Distance From Tokyo 2020
0     Netherlands  ...                  7464.87
1        Bulgaria  ...                  6375.31
2        Pakistan  ...                      NaN
3          Brazil  ...                  10813.3
4           Italy  ...                   6965.6
5          Sweden  ...              6835.886355
6         Uruguay  ...                      NaN
7         Ireland  ...                  8052.05
8           Japan  ...                      NaN
9            Iran  ...                      NaN
10           Cuba  ...                      NaN
11    Switzerland  ...                  7266.36
12          India  ...                  3450.65
13          Kenya  ...                      NaN
14    Philippines  ...                      NaN
15        Hungary  ...                  6633.31
16  United States  ...                  11833.8
17        Romania  ...                   6228.1
18     Yugoslavia  ...                      NaN
19          Ghana  ...                      NaN

[20 rows x 18 columns]

In [132]:
# Dropping long/lat hemisphere info
df_distance_filled_hemi = df_distance_filled.drop(["Latitude Hemisphere", "Longitude Hemisphere"], axis=1)
df_distance_filled_hemi.head()

       Country  ... Distance From Tokyo 2020
0  Netherlands  ...                  7464.87
1     Bulgaria  ...                  6375.31
2     Pakistan  ...                      NaN
3       Brazil  ...                  10813.3
4        Italy  ...                   6965.6

[5 rows x 16 columns]

## Machine Learning

In [133]:
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [136]:
# Dropping rows with blank values
df_values = joined_df.dropna(axis=0)
df_values.columns

Index(['Country', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020', 'Year',
       'Value', 'Country', 'Country Code', 'Gold', 'Silver', 'Bronze', 'Total',
       'Year', 'Host_City', 'Host_Country', 'COU', 'Life Expectancy at Birth',
       'Population'],
      dtype='object')

In [139]:
df_values.shape[0]

325

In [148]:
#df_values = df_values.drop(['Country', 'Country Code'], axis=1)
#df_values = df_values.drop('Capital', axis=1)
df_values = df_values.drop('Host_Country', axis=1)

In [150]:
df_values = df_values.drop('Host_City', axis=1)

In [151]:
df_values = df_values.drop('COU', axis=1)

In [152]:
df_values.columns

Index(['GDP (Billions)', 'Latitude Hemisphere', 'Longitude Hemisphere',
       'Distance From Tokyo 1964', 'Distance From Mexico City 1968',
       'Distance From Munich 1972', 'Distance From Montreal 1976',
       'Distance From Moscow 1980', 'Distance From Los Angeles 1984',
       'Distance From Seoul 1988', 'Distance From Barcelona 1992',
       'Distance From Atlanta 1996', 'Distance From Sydney 2000',
       'Distance From Athens 2004', 'Distance From Beijing 2008',
       'Distance From London 2012', 'Distance From Rio de Janeiro 2016',
       'Distance From Tokyo 2020', 'Year', 'Value', 'Gold', 'Silver', 'Bronze',
       'Total', 'Year', 'Life Expectancy at Birth', 'Population'],
      dtype='object')

In [155]:
#getting list of categorical values
values_cat = df_values.dtypes[df_values.dtypes == "object"].index.tolist()
values_cat

['Latitude Hemisphere',
 'Longitude Hemisphere',
 'Distance From Tokyo 1964',
 'Distance From Mexico City 1968',
 'Distance From Munich 1972',
 'Distance From Montreal 1976',
 'Distance From Moscow 1980',
 'Distance From Los Angeles 1984',
 'Distance From Seoul 1988',
 'Distance From Barcelona 1992',
 'Distance From Atlanta 1996',
 'Distance From Sydney 2000',
 'Distance From Athens 2004',
 'Distance From Beijing 2008',
 'Distance From London 2012',
 'Distance From Rio de Janeiro 2016',
 'Distance From Tokyo 2020',
 'Value']

In [156]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df_values[values_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(values_cat)
encode_df.head()

   Latitude Hemisphere_North  ...  Value_7665672.881
0                        0.0  ...                0.0
1                        0.0  ...                0.0
2                        0.0  ...                0.0
3                        0.0  ...                0.0
4                        0.0  ...                0.0

[5 rows x 866 columns]

In [157]:
# Merge one-hot encoded features and drop the originals
df_values= df_values.merge(encode_df,left_index=True, right_index=True)
df_values = df_values.drop(values_cat,1)
df_values.head()

   GDP (Billions)    Year  ...  Value_6153155.414  Value_7665672.881
0          1397.0  1964.0  ...                0.0                0.0
1          1397.0  1968.0  ...                0.0                0.0
2          1397.0  1972.0  ...                0.0                0.0
3          1397.0  1976.0  ...                0.0                0.0
4          1397.0  1980.0  ...                0.0                0.0

[5 rows x 875 columns]

In [158]:
#separating in to 
y = df_values['Total'].values
X = df_values.drop(['Total', 'Gold', 'Silver', 'Bronze'], 1).values

In [159]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [160]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [161]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  5
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_18 (Dense)             (None, 5)                 4360
_________________________________________________________________
dense_19 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_20 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_21 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_22 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 6
=================================================================
Total params: 4,486
Trainable params: 4,486
Non-trainable params: 0
_________________________________________________________________

In [162]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [163]:

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
7/7 [==============================] - 1s 3ms/step - loss: 0.6620 - accuracy: 0.0718
Epoch 2/100
7/7 [==============================] - 0s 3ms/step - loss: 0.5691 - accuracy: 0.0872
Epoch 3/100
7/7 [==============================] - 0s 3ms/step - loss: 0.4738 - accuracy: 0.0872
Epoch 4/100
7/7 [==============================] - 0s 3ms/step - loss: 0.3809 - accuracy: 0.0872
Epoch 5/100
7/7 [==============================] - 0s 3ms/step - loss: 0.2871 - accuracy: 0.0872
Epoch 6/100
7/7 [==============================] - 0s 2ms/step - loss: 0.1913 - accuracy: 0.0872
Epoch 7/100
7/7 [==============================] - 0s 3ms/step - loss: 0.0971 - accuracy: 0.0872
Epoch 8/100
7/7 [==============================] - 0s 3ms/step - loss: 0.0014 - accuracy: 0.0872
Epoch 9/100
7/7 [==============================] - 0s 3ms/step - loss: -0.0874 - accuracy: 0.0872
Epoch 10/100
7/7 [==============================] - 0s 3ms/step - loss: -0.1815 - accuracy: 0.0872
Epoch 11/100
7/7 [==============================] - 0s 3ms/step - loss: -0.2778 - accuracy: 0.0872
Epoch 12/100
7/7 [==============================] - 0s 4ms/step - loss: -0.3693 - accuracy: 0.0872
Epoch 13/100
7/7 [==============================] - 0s 4ms/step - loss: -0.4619 - accuracy: 0.0872
Epoch 14/100
7/7 [==============================] - 0s 3ms/step - loss: -0.5558 - accuracy: 0.0872
Epoch 15/100
7/7 [==============================] - 0s 4ms/step - loss: -0.6439 - accuracy: 0.0872
Epoch 16/100
7/7 [==============================] - 0s 4ms/step - loss: -0.7385 - accuracy: 0.0872
Epoch 17/100
7/7 [==============================] - 0s 3ms/step - loss: -0.8285 - accuracy: 0.0872
Epoch 18/100
7/7 [==============================] - 0s 3ms/step - loss: -0.9226 - accuracy: 0.0872
Epoch 19/100
7/7 [==============================] - 0s 3ms/step - loss: -1.0148 - accuracy: 0.0872
Epoch 20/100
7/7 [==============================] - 0s 3ms/step - loss: -1.1027 - accuracy: 0.0872
Epoch 21/100
7/7 [==============================] - 0s 3ms/step - loss: -1.1927 - accuracy: 0.0872
Epoch 22/100
7/7 [==============================] - 0s 3ms/step - loss: -1.2833 - accuracy: 0.0872
Epoch 23/100
7/7 [==============================] - 0s 3ms/step - loss: -1.3733 - accuracy: 0.0872
Epoch 24/100
7/7 [==============================] - 0s 3ms/step - loss: -1.4640 - accuracy: 0.0872
Epoch 25/100
7/7 [==============================] - 0s 3ms/step - loss: -1.5528 - accuracy: 0.0872
Epoch 26/100
7/7 [==============================] - 0s 3ms/step - loss: -1.6408 - accuracy: 0.0872
Epoch 27/100
7/7 [==============================] - 0s 3ms/step - loss: -1.7273 - accuracy: 0.0872
Epoch 28/100
7/7 [==============================] - 0s 4ms/step - loss: -1.8239 - accuracy: 0.0872
Epoch 29/100
7/7 [==============================] - 0s 4ms/step - loss: -1.9163 - accuracy: 0.0872
Epoch 30/100
7/7 [==============================] - 0s 4ms/step - loss: -2.0077 - accuracy: 0.0872
Epoch 31/100
7/7 [==============================] - 0s 3ms/step - loss: -2.1075 - accuracy: 0.0872
Epoch 32/100
7/7 [==============================] - 0s 4ms/step - loss: -2.1985 - accuracy: 0.0872
Epoch 33/100
7/7 [==============================] - 0s 3ms/step - loss: -2.2888 - accuracy: 0.0872
Epoch 34/100
7/7 [==============================] - 0s 4ms/step - loss: -2.3790 - accuracy: 0.0872
Epoch 35/100
7/7 [==============================] - 0s 3ms/step - loss: -2.4734 - accuracy: 0.0872
Epoch 36/100
7/7 [==============================] - 0s 4ms/step - loss: -2.5657 - accuracy: 0.0872
Epoch 37/100
7/7 [==============================] - 0s 3ms/step - loss: -2.6560 - accuracy: 0.0872
Epoch 38/100
7/7 [==============================] - 0s 3ms/step - loss: -2.7486 - accuracy: 0.0872
Epoch 39/100
7/7 [==============================] - 0s 3ms/step - loss: -2.8430 - accuracy: 0.0872
Epoch 40/100
7/7 [==============================] - 0s 3ms/step - loss: -2.9382 - accuracy: 0.0872
Epoch 41/100
7/7 [==============================] - 0s 3ms/step - loss: -3.0266 - accuracy: 0.0872
Epoch 42/100
7/7 [==============================] - 0s 3ms/step - loss: -3.1164 - accuracy: 0.0872
Epoch 43/100
7/7 [==============================] - 0s 3ms/step - loss: -3.2044 - accuracy: 0.0872
Epoch 44/100
7/7 [==============================] - 0s 4ms/step - loss: -3.2968 - accuracy: 0.0872
Epoch 45/100
7/7 [==============================] - 0s 4ms/step - loss: -3.3907 - accuracy: 0.0872
Epoch 46/100
7/7 [==============================] - 0s 3ms/step - loss: -3.4820 - accuracy: 0.0872
Epoch 47/100
7/7 [==============================] - 0s 4ms/step - loss: -3.5788 - accuracy: 0.0872
Epoch 48/100
7/7 [==============================] - 0s 3ms/step - loss: -3.6753 - accuracy: 0.0872
Epoch 49/100
7/7 [==============================] - 0s 3ms/step - loss: -3.7688 - accuracy: 0.0872
Epoch 50/100
7/7 [==============================] - 0s 3ms/step - loss: -3.8590 - accuracy: 0.0872
Epoch 51/100
7/7 [==============================] - 0s 4ms/step - loss: -3.9508 - accuracy: 0.0872
Epoch 52/100
7/7 [==============================] - 0s 3ms/step - loss: -4.0391 - accuracy: 0.0872
Epoch 53/100
7/7 [==============================] - 0s 3ms/step - loss: -4.1332 - accuracy: 0.0872
Epoch 54/100
7/7 [==============================] - 0s 3ms/step - loss: -4.2143 - accuracy: 0.0872
Epoch 55/100
7/7 [==============================] - 0s 3ms/step - loss: -4.3070 - accuracy: 0.0872
Epoch 56/100
7/7 [==============================] - 0s 3ms/step - loss: -4.3909 - accuracy: 0.0872
Epoch 57/100
7/7 [==============================] - 0s 3ms/step - loss: -4.4793 - accuracy: 0.0872
Epoch 58/100
7/7 [==============================] - 0s 3ms/step - loss: -4.5688 - accuracy: 0.0872
Epoch 59/100
7/7 [==============================] - 0s 3ms/step - loss: -4.6599 - accuracy: 0.0872
Epoch 60/100
7/7 [==============================] - 0s 4ms/step - loss: -4.7465 - accuracy: 0.0872
Epoch 61/100
7/7 [==============================] - 0s 3ms/step - loss: -4.8378 - accuracy: 0.0872
Epoch 62/100
7/7 [==============================] - 0s 3ms/step - loss: -4.9307 - accuracy: 0.0872
Epoch 63/100
7/7 [==============================] - 0s 3ms/step - loss: -5.0263 - accuracy: 0.0872
Epoch 64/100
7/7 [==============================] - 0s 3ms/step - loss: -5.1152 - accuracy: 0.0872
Epoch 65/100
7/7 [==============================] - 0s 4ms/step - loss: -5.2065 - accuracy: 0.0872
Epoch 66/100
7/7 [==============================] - 0s 3ms/step - loss: -5.2913 - accuracy: 0.0872
Epoch 67/100
7/7 [==============================] - 0s 2ms/step - loss: -5.3814 - accuracy: 0.0872
Epoch 68/100
7/7 [==============================] - 0s 4ms/step - loss: -5.4737 - accuracy: 0.0872
Epoch 69/100
7/7 [==============================] - 0s 4ms/step - loss: -5.5686 - accuracy: 0.0872
Epoch 70/100
7/7 [==============================] - 0s 4ms/step - loss: -5.6611 - accuracy: 0.0872
Epoch 71/100
7/7 [==============================] - 0s 3ms/step - loss: -5.7504 - accuracy: 0.0872
Epoch 72/100
7/7 [==============================] - 0s 3ms/step - loss: -5.8502 - accuracy: 0.0872
Epoch 73/100
7/7 [==============================] - 0s 4ms/step - loss: -5.9403 - accuracy: 0.0872
Epoch 74/100
7/7 [==============================] - 0s 3ms/step - loss: -6.0403 - accuracy: 0.0872
Epoch 75/100
7/7 [==============================] - 0s 3ms/step - loss: -6.1419 - accuracy: 0.0872
Epoch 76/100
7/7 [==============================] - 0s 3ms/step - loss: -6.2376 - accuracy: 0.0872
Epoch 77/100
7/7 [==============================] - 0s 3ms/step - loss: -6.3310 - accuracy: 0.0872
Epoch 78/100
7/7 [==============================] - 0s 3ms/step - loss: -6.4250 - accuracy: 0.0872
Epoch 79/100
7/7 [==============================] - 0s 4ms/step - loss: -6.5175 - accuracy: 0.0872
Epoch 80/100
7/7 [==============================] - 0s 4ms/step - loss: -6.6116 - accuracy: 0.0872
Epoch 81/100
7/7 [==============================] - 0s 4ms/step - loss: -6.7019 - accuracy: 0.0872
Epoch 82/100
7/7 [==============================] - 0s 3ms/step - loss: -6.7963 - accuracy: 0.0872
Epoch 83/100
7/7 [==============================] - 0s 3ms/step - loss: -6.8847 - accuracy: 0.0872
Epoch 84/100
7/7 [==============================] - 0s 3ms/step - loss: -6.9710 - accuracy: 0.0872
Epoch 85/100
7/7 [==============================] - 0s 3ms/step - loss: -7.0610 - accuracy: 0.0872
Epoch 86/100
7/7 [==============================] - 0s 3ms/step - loss: -7.1549 - accuracy: 0.0872
Epoch 87/100
7/7 [==============================] - 0s 4ms/step - loss: -7.2419 - accuracy: 0.0872
Epoch 88/100
7/7 [==============================] - 0s 3ms/step - loss: -7.3326 - accuracy: 0.0872
Epoch 89/100
7/7 [==============================] - 0s 3ms/step - loss: -7.4274 - accuracy: 0.0872
Epoch 90/100
7/7 [==============================] - 0s 3ms/step - loss: -7.5231 - accuracy: 0.0872
Epoch 91/100
7/7 [==============================] - 0s 3ms/step - loss: -7.6185 - accuracy: 0.0872
Epoch 92/100
7/7 [==============================] - 0s 3ms/step - loss: -7.7148 - accuracy: 0.0872
Epoch 93/100
7/7 [==============================] - 0s 3ms/step - loss: -7.8066 - accuracy: 0.0872
Epoch 94/100
7/7 [==============================] - 0s 3ms/step - loss: -7.9001 - accuracy: 0.0872
Epoch 95/100
7/7 [==============================] - 0s 3ms/step - loss: -7.9871 - accuracy: 0.0872
Epoch 96/100
7/7 [==============================] - 0s 3ms/step - loss: -8.0761 - accuracy: 0.0872
Epoch 97/100
7/7 [==============================] - 0s 3ms/step - loss: -8.1706 - accuracy: 0.0872
Epoch 98/100
7/7 [==============================] - 0s 3ms/step - loss: -8.2633 - accuracy: 0.0872
Epoch 99/100
7/7 [==============================] - 0s 3ms/step - loss: -8.3564 - accuracy: 0.0872
Epoch 100/100
7/7 [==============================] - 0s 3ms/step - loss: -8.4470 - accuracy: 0.0872

In [164]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3/3 - 0s - loss: -5.9681e+00 - accuracy: 0.0909
Loss: -5.968053340911865, Accuracy: 0.09090909361839294

NN Model Just Life Expectancy and GDP

In [ ]:
# Dropping rows with blank values
nn_df = stats_df.dropna(axis=0)

In [ ]:
nn_df.head()

In [ ]:
#Dropping irrelevant columns
nn_df = nn_df.drop(["Country Code", "Gold", "Silver", "Bronze", "Year", 'Host_City', 'Host_Country', "COU"], axis=1)

In [ ]:
values_cat = nn_df.dtypes[nn_df.dtypes == "object"].index.tolist()
values_cat

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(nn_df[values_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(values_cat)
encode_df.head()

In [ ]:
# Merge one-hot encoded features and drop the originals
nn_df = nn_df.merge(encode_df,left_index=True, right_index=True)
nn_df = nn_df.drop(values_cat,1)
nn_df.head()

In [ ]:
y = nn_df['Total'].values
X = nn_df.drop(['Total'], 1).values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  3
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
pip install hvplot

NN Optimization with PCA

In [ ]:
#Importing dependecies
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import hvplot.pandas

In [ ]:
nn_scaled = StandardScaler().fit_transform(df_values)

In [ ]:
# Initialize PCA model
pca = PCA(n_components=4)

In [ ]:
nn_pca = pca.fit_transform(nn_scaled)

In [ ]:
pca.explained_variance_ratio_

In [ ]:
# Find the best value for K
inertia = []
k = list(range(1, 11))

# Calculate the inertia for the range of K values
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(nn_pca)
    inertia.append(km.inertia_)

# Create the elbow curve
elbow_data = {"k": k, "inertia": inertia}
df_elbow = pd.DataFrame(elbow_data)
df_elbow.hvplot.line(x="k", y="inertia", xticks=k, title="Elbow Curve")

In [ ]:
# Initialize the K-means model
model = KMeans(n_clusters=3, random_state=0)

# Fit the model
model.fit(nn_pca)

# Predict clusters
predictions = model.predict(nn_pca)

# Add the predicted class columns
nn_pca["Total"] = model.labels_
nn_pca.head()

### Random Forest Classification

In [ ]:
# copy the data from the original test
scaled_medals = df_values.copy()

In [ ]:
# add columns with gold scaled to 3, silver to 2, bronze to 1
# keep these in the dataset to train
scaled_medals["Gold_Scale"] = scaled_medals["Gold"] * 3
scaled_medals["Silver_Scale"] = scaled_medals["Silver"] * 2 
scaled_medals["Bronze_Scale"] = scaled_medals["Bronze"]

In [ ]:
# drop the original medal columns
scaled_medals.drop(columns=["Gold", "Silver", "Bronze"], inplace=True)

In [ ]:
#separating in to training data
y_forest = scaled_medals['Total'].values
X_forest = scaled_medals.drop(['Total'], 1).values

In [ ]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X_forest, y_forest, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")