In [113]:
pip install keras-tuner --upgrade

Requirement already satisfied: keras-tuner in /usr/local/lib/python3.7/dist-packages (1.0.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.19.5)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (5.5.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.4.1)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.0.3)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.5.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (1.0.18)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.0.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.8.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython->keras-tuner) (0.2.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (2.4.7)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.12.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.4)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.36.2)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.32.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.34.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.3.4)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard->keras-tuner) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.6.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.5.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->markdown>=2.6.8->tensorboard->keras-tuner) (3.7.4.3)

Importing dependencies

In [1]:
import psycopg2
import sqlalchemy as sal
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd

Creating connection to database and initial dataframes

In [2]:
engine = create_engine('postgresql://postgres:bootcamp@database-1.c2wp8xz2pqbi.us-east-2.rds.amazonaws.com:5432/bootcampDB')

In [3]:
connection_test = engine.connect()

In [4]:
inspector = inspect(engine)

In [5]:
print(inspector.get_table_names())

['gloc', 'stats']

In [6]:
gloc_column_names = ['Country', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020', 'Year',
       'Value']

In [7]:
gloc = engine.execute("SELECT * FROM gloc")
gloc_df = pd.DataFrame(gloc)

In [8]:
gloc_df.columns

RangeIndex(start=0, stop=22, step=1)

In [9]:
gloc_df.columns = ['Country', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020', 'Year',
       'Value']

In [10]:
gdp_df = gloc_df[['Country', 'Year', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere']]

In [11]:
gdp_df.head()

,Country,Year,Capital,GDP (Billions),Latitude Hemisphere,Longitude Hemisphere
0,Australia,1960.0,Canberra,1397.0,South,East
1,Australia,1961.0,Canberra,1397.0,South,East
2,Australia,1962.0,Canberra,1397.0,South,East
3,Australia,1963.0,Canberra,1397.0,South,East
4,Australia,1964.0,Canberra,1397.0,South,East

In [12]:
gloc_df['Year'] = pd.to_numeric(gloc_df['Year'], errors='coerce')

In [13]:
stats = engine.execute("SELECT * FROM stats")
stats_df = pd.DataFrame(stats)

In [14]:
stats_df.columns = ['Country', 'Country Code', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Host_City', 'Host_Country', 'COU', 'Life Expectancy at Birth',
       'Population']

In [15]:
stats_df.head()

,Country,Country Code,Gold,Silver,Bronze,Total,Year,Host_City,Host_Country,COU,Life Expectancy at Birth,Population
0,Netherlands,NLD,2,4,4,10,1964,Tokyo,JPN,NLD,73.8,12127116.0
1,Bulgaria,BGR,3,5,2,10,1964,Tokyo,JPN,None,65.31290322580645,8144340.0
2,Pakistan,PAK,0,1,0,1,1964,Tokyo,JPN,None,None,None
3,Brazil,BRA,0,0,1,1,1964,Tokyo,JPN,BRA,56.2,81168654.0
4,Italy,ITA,10,10,7,27,1964,Tokyo,JPN,None,65.31290322580645,51675294.0

In [16]:
# Joining using SQL
joined_table = engine.execute("SELECT * FROM gloc join stats on stats.Country = gloc.Country and stats.Year = gloc.Year")

In [17]:
joined_df = pd.DataFrame(joined_table)

In [18]:
joined_df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,Australia,Canberra,1397.0,South,East,4913.860856,14055.774080000001,9451.196419,13465.23217,8731.68456,...,6,2,10,18,1964,Tokyo,JPN,AUS,70.7,11121600.0
1,Australia,Canberra,1397.0,South,East,4913.860856,14055.774080000001,9451.196419,13465.23217,8731.68456,...,5,7,5,17,1968,Mexico City,MEX,AUS,70.9,12008635.0
2,Australia,Canberra,1397.0,South,East,4913.860856,14055.774080000001,9451.196419,13465.23217,8731.68456,...,8,7,2,17,1972,Munich,DEU,AUS,72.0,13303664.0
3,Australia,Canberra,1397.0,South,East,4913.860856,14055.774080000001,9451.196419,13465.23217,8731.68456,...,0,1,4,5,1976,Montreal,CAN,AUS,72.8,14033083.0
4,Australia,Canberra,1397.0,South,East,4913.860856,14055.774080000001,9451.196419,13465.23217,8731.68456,...,2,2,5,9,1980,Moscow,RUS,AUS,74.6,14695356.0

In [19]:
#Merging the two data frames
df = pd.merge(stats_df, gloc_df, how="left", on=["Country", "Year"])

In [20]:
df.head(20)

,Country,Country Code,Gold,Silver,Bronze,Total,Year,Host_City,Host_Country,COU,...,Distance From Seoul 1988,Distance From Barcelona 1992,Distance From Atlanta 1996,Distance From Sydney 2000,Distance From Athens 2004,Distance From Beijing 2008,Distance From London 2012,Distance From Rio de Janeiro 2016,Distance From Tokyo 2020,Value
0,Netherlands,NLD,2,4,4,10,1964,Tokyo,JPN,NLD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bulgaria,BGR,3,5,2,10,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pakistan,PAK,0,1,0,1,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Brazil,BRA,0,0,1,1,1964,Tokyo,JPN,BRA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Italy,ITA,10,10,7,27,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Sweden,SWE,2,2,4,8,1964,Tokyo,JPN,SWE,...,6112.028674,1503.346409,5861.369457,9701.36456,1520.955875,5528.906607,1125.672413,6577.588157,6835.886355,24401.202
6,Uruguay,URY,0,0,1,1,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Ireland,IRL,0,0,1,1,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Japan,JPN,16,5,8,29,1964,Tokyo,JPN,JPN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Iran,IRN,0,0,2,2,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Cuba,CUB,0,1,0,1,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Switzerland,CHE,1,2,1,4,1964,Tokyo,JPN,CHE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,India,IND,1,0,0,1,1964,Tokyo,JPN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Kenya,KEN,0,0,1,1,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Philippines,PHL,0,1,0,1,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Hungary,HUN,10,7,5,22,1964,Tokyo,JPN,HUN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,United States,USA,36,26,28,90,1964,Tokyo,JPN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Romania,ROU,2,4,6,12,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Yugoslavia,YUG,2,1,2,5,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Ghana,GHA,0,0,1,1,1964,Tokyo,JPN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.columns

Index(['Country', 'Country Code', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Host_City', 'Host_Country', 'COU', 'Life Expectancy at Birth',
       'Population', 'Capital', 'GDP (Billions)', 'Latitude Hemisphere',
       'Longitude Hemisphere', 'Distance From Tokyo 1964',
       'Distance From Mexico City 1968', 'Distance From Munich 1972',
       'Distance From Montreal 1976', 'Distance From Moscow 1980',
       'Distance From Los Angeles 1984', 'Distance From Seoul 1988',
       'Distance From Barcelona 1992', 'Distance From Atlanta 1996',
       'Distance From Sydney 2000', 'Distance From Athens 2004',
       'Distance From Beijing 2008', 'Distance From London 2012',
       'Distance From Rio de Janeiro 2016', 'Distance From Tokyo 2020',
       'Value'],
      dtype='object')

In [22]:
#Dropping duplicate columns and irrelavent values
df = df.drop(["Country Code", "COU", "Host_Country", "Host_City", "Capital", "Value"], axis=1)

In [23]:
df.head()

,Country,Gold,Silver,Bronze,Total,Year,Life Expectancy at Birth,Population,GDP (Billions),Latitude Hemisphere,...,Distance From Los Angeles 1984,Distance From Seoul 1988,Distance From Barcelona 1992,Distance From Atlanta 1996,Distance From Sydney 2000,Distance From Athens 2004,Distance From Beijing 2008,Distance From London 2012,Distance From Rio de Janeiro 2016,Distance From Tokyo 2020
0,Netherlands,2,4,4,10,1964,73.8,12127116.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bulgaria,3,5,2,10,1964,65.31290322580645,8144340.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pakistan,0,1,0,1,1964,None,None,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Brazil,0,0,1,1,1964,56.2,81168654.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Italy,10,10,7,27,1964,65.31290322580645,51675294.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.columns

Index(['Country', 'Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Life Expectancy at Birth', 'Population', 'GDP (Billions)',
       'Latitude Hemisphere', 'Longitude Hemisphere',
       'Distance From Tokyo 1964', 'Distance From Mexico City 1968',
       'Distance From Munich 1972', 'Distance From Montreal 1976',
       'Distance From Moscow 1980', 'Distance From Los Angeles 1984',
       'Distance From Seoul 1988', 'Distance From Barcelona 1992',
       'Distance From Atlanta 1996', 'Distance From Sydney 2000',
       'Distance From Athens 2004', 'Distance From Beijing 2008',
       'Distance From London 2012', 'Distance From Rio de Janeiro 2016',
       'Distance From Tokyo 2020'],
      dtype='object')

In [25]:
#Dropping duplicate columns and irrelavent values
df_distance = df.drop(['Gold', 'Silver', 'Bronze', 'Total', 'Year',
       'Life Expectancy at Birth', 'Population', 'GDP (Billions)',], axis=1)

In [26]:
df_distance.head(500)

,Country,Latitude Hemisphere,Longitude Hemisphere,Distance From Tokyo 1964,Distance From Mexico City 1968,Distance From Munich 1972,Distance From Montreal 1976,Distance From Moscow 1980,Distance From Los Angeles 1984,Distance From Seoul 1988,Distance From Barcelona 1992,Distance From Atlanta 1996,Distance From Sydney 2000,Distance From Athens 2004,Distance From Beijing 2008,Distance From London 2012,Distance From Rio de Janeiro 2016,Distance From Tokyo 2020
0,Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,New Zealand,South,East,5633.175948,15503.5678,10817.74758,14901.591980000001,10022.90373,16800.398240000002,6014.854576,10995.367040000001,15046.355969999999,1363.195659,9872.18615,6413.627205,11467.58087,11946.09641,5633.175948
496,Canada,North,West,11761.45096,2215.2769989999997,4754.326022,17.85869536,6197.178624,2462.817034,11038.504659999999,4244.864847999999,933.6493083999999,13525.33305,5424.860063,10469.8937,4136.60053,5023.162376,11761.45096
497,Saudi Arabia,North,East,5149.412878,7953.520420999999,2509.898174,6817.767072,2198.267665,9015.008447,4462.04885,2685.1426460000002,7171.242635,6993.351547,1548.3356509999999,3950.6104689999997,3145.73118,5881.210329,5149.412878
498,Chinese Taipei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,Chile,South,West,12415.56917,3943.1054729999996,7180.963618000001,5440.38823,8488.879813,5327.327679,11801.49769,6497.463882999999,4684.999750999999,12099.98408,7081.0866510000005,11359.06185,6987.801141,1648.784529,12415.56917

In [27]:
#Filling blank values with average since distance by city is consistent
df_distance_filled = df_distance.fillna(df.groupby('Country').transform('mean'))

In [28]:
df_distance_filled.head(20)

,Country,Latitude Hemisphere,Longitude Hemisphere,Distance From Tokyo 1964,Distance From Mexico City 1968,Distance From Munich 1972,Distance From Montreal 1976,Distance From Moscow 1980,Distance From Los Angeles 1984,Distance From Seoul 1988,Distance From Barcelona 1992,Distance From Atlanta 1996,Distance From Sydney 2000,Distance From Athens 2004,Distance From Beijing 2008,Distance From London 2012,Distance From Rio de Janeiro 2016,Distance From Tokyo 2020
0,Netherlands,NaN,NaN,7464.868875,6100.454387,476.857991,4398.587044,1805.151258,6820.142453,6738.124602,759.071169,5020.216004,9971.22218,1445.327934,6159.095349,257.703275,5802.288098,7464.868875
1,Bulgaria,NaN,NaN,6375.306752,6867.582742,746.104518,5396.946733,1183.851472,7744.343588,5651.319682,1150.565063,5905.006345,8751.145986,336.32973,5081.741124,1410.485748,5785.377927,6375.306752
2,Pakistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Brazil,NaN,NaN,10813.30687,3693.901245,5448.606277,4476.475126,6740.502771,5154.81836,10177.04931,4770.980821,3947.154167,10926.30828,5332.087331,9713.367679,5290.56266,566.330518,10813.30687
4,Italy,NaN,NaN,6965.601489,6274.19585,457.047003,4804.931403,1671.339599,7145.651673,6242.692758,552.648926,5306.023586,9198.202937,668.293462,5675.147349,955.548316,5380.124554,6965.601489
5,Sweden,North,East,6835.886355,6965.4458939999995,840.4798442,5197.250774,1086.1429460000002,7640.034601,6112.028674,1503.346409,5861.369457,9701.36456,1520.955875,5528.906607,1125.672413,6577.588157,6835.886355
6,Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Ireland,NaN,NaN,8052.048537,5591.358463,1029.328577,3827.483511,2380.123695,6261.276638,7325.311382,933.559739,4477.958742,10484.38373,1943.408303,6746.474883,356.684014,5627.79411,8052.048537
8,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Iran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Cuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Switzerland,NaN,NaN,7266.357867,6107.655201,258.567278,4524.212451,1752.428395,6907.624089,6540.694834,453.424089,5082.748138,9621.005369,1079.457978,5966.725534,519.048464,5529.126736,7266.357867
12,India,NaN,NaN,3450.654954,9642.938962,3830.183598,8420.785316,2865.1176,10674.39927,2765.282337,4190.254101,8826.80147,5899.440123,2998.497325,2268.419035,4502.711561,7460.785766,3450.654954
13,Kenya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Philippines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Hungary,NaN,NaN,6633.310595,6735.868911,412.057318,5167.728171,1146.897866,7551.497706,5907.045601,1007.55419,5724.574891,9134.012281,711.944168,5331.207495,1080.010402,5916.371169,6633.310595
16,United States,NaN,NaN,11833.78191,1869.600659,4870.776436,393.751309,6335.992081,2286.644968,11113.64006,4324.97978,585.308783,13461.12519,5488.563128,10549.84124,4276.178945,4712.161285,11833.78191
17,Romania,NaN,NaN,6228.097396,7051.390932,836.554945,5551.830735,986.099325,7912.450468,5502.835655,1321.603461,6076.26716,8702.45026,483.592064,4930.228611,1509.274895,5982.617879,6228.097396
18,Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Ghana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Machine Learning

In [143]:
import plotly.express as px
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [190]:
#Dropping rows with blank values
df_values = df.dropna(axis=0)

In [191]:
#getting list of categorical values
values_cat = df_values.dtypes[df_values.dtypes == "object"].index.tolist()
values_cat

['Country',
 'Life Expectancy at Birth',
 'Population',
 'Latitude Hemisphere',
 'Longitude Hemisphere',
 'Distance From Tokyo 1964',
 'Distance From Mexico City 1968',
 'Distance From Munich 1972',
 'Distance From Montreal 1976',
 'Distance From Moscow 1980',
 'Distance From Los Angeles 1984',
 'Distance From Seoul 1988',
 'Distance From Barcelona 1992',
 'Distance From Atlanta 1996',
 'Distance From Sydney 2000',
 'Distance From Athens 2004',
 'Distance From Beijing 2008',
 'Distance From London 2012',
 'Distance From Rio de Janeiro 2016',
 'Distance From Tokyo 2020']

In [192]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df_values[values_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(values_cat)
encode_df.head()

   Country_Argentina  ...  Distance From Tokyo 2020_13085.252
0                0.0  ...                                 0.0
1                0.0  ...                                 0.0
2                0.0  ...                                 0.0
3                0.0  ...                                 0.0
4                0.0  ...                                 0.0

[5 rows x 1168 columns]

In [193]:
# Merge one-hot encoded features and drop the originals
df_values= df_values.merge(encode_df,left_index=True, right_index=True)
df_values = df_values.drop(values_cat,1)
df_values.head()

    Gold  ...  Distance From Tokyo 2020_13085.252
7      6  ...                                 0.0
16     2  ...                                 0.0
20     1  ...                                 0.0
21     1  ...                                 0.0
46     7  ...                                 0.0

[5 rows x 1174 columns]

In [148]:
#separating in to 
y = df_values['Total'].values
X = df_values.drop(['Total', 'Gold', 'Silver', 'Bronze'], 1).values

In [149]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [194]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [195]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  5
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_48 (Dense)             (None, 5)                 3105
_________________________________________________________________
dense_49 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_50 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_51 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_52 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_53 (Dense)             (None, 1)                 6
=================================================================
Total params: 3,231
Trainable params: 3,231
Non-trainable params: 0
_________________________________________________________________

In [196]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [197]:

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
6/6 [==============================] - 1s 3ms/step - loss: 0.5512 - accuracy: 0.1296
Epoch 2/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1934 - accuracy: 0.1358
Epoch 3/100
6/6 [==============================] - 0s 3ms/step - loss: -0.1566 - accuracy: 0.1358
Epoch 4/100
6/6 [==============================] - 0s 3ms/step - loss: -0.6196 - accuracy: 0.1358
Epoch 5/100
6/6 [==============================] - 0s 3ms/step - loss: -1.1330 - accuracy: 0.1358
Epoch 6/100
6/6 [==============================] - 0s 2ms/step - loss: -1.7256 - accuracy: 0.1358
Epoch 7/100
6/6 [==============================] - 0s 2ms/step - loss: -2.5375 - accuracy: 0.1358
Epoch 8/100
6/6 [==============================] - 0s 3ms/step - loss: -3.4360 - accuracy: 0.1358
Epoch 9/100
6/6 [==============================] - 0s 2ms/step - loss: -4.5111 - accuracy: 0.1358
Epoch 10/100
6/6 [==============================] - 0s 2ms/step - loss: -5.6463 - accuracy: 0.1358
Epoch 11/100
6/6 [==============================] - 0s 2ms/step - loss: -7.0771 - accuracy: 0.1358
Epoch 12/100
6/6 [==============================] - 0s 3ms/step - loss: -8.5180 - accuracy: 0.1358
Epoch 13/100
6/6 [==============================] - 0s 3ms/step - loss: -10.3584 - accuracy: 0.1358
Epoch 14/100
6/6 [==============================] - 0s 2ms/step - loss: -12.4801 - accuracy: 0.1358
Epoch 15/100
6/6 [==============================] - 0s 2ms/step - loss: -14.7610 - accuracy: 0.1358
Epoch 16/100
6/6 [==============================] - 0s 3ms/step - loss: -17.5222 - accuracy: 0.1358
Epoch 17/100
6/6 [==============================] - 0s 3ms/step - loss: -20.6178 - accuracy: 0.1358
Epoch 18/100
6/6 [==============================] - 0s 2ms/step - loss: -24.1046 - accuracy: 0.1358
Epoch 19/100
6/6 [==============================] - 0s 2ms/step - loss: -28.0193 - accuracy: 0.1358
Epoch 20/100
6/6 [==============================] - 0s 2ms/step - loss: -32.2968 - accuracy: 0.1358
Epoch 21/100
6/6 [==============================] - 0s 2ms/step - loss: -37.7984 - accuracy: 0.1358
Epoch 22/100
6/6 [==============================] - 0s 3ms/step - loss: -44.4029 - accuracy: 0.1358
Epoch 23/100
6/6 [==============================] - 0s 2ms/step - loss: -51.7492 - accuracy: 0.1358
Epoch 24/100
6/6 [==============================] - 0s 3ms/step - loss: -60.0118 - accuracy: 0.1358
Epoch 25/100
6/6 [==============================] - 0s 2ms/step - loss: -69.9325 - accuracy: 0.1358
Epoch 26/100
6/6 [==============================] - 0s 3ms/step - loss: -81.8748 - accuracy: 0.1358
Epoch 27/100
6/6 [==============================] - 0s 4ms/step - loss: -96.2765 - accuracy: 0.1358
Epoch 28/100
6/6 [==============================] - 0s 5ms/step - loss: -112.0686 - accuracy: 0.1358
Epoch 29/100
6/6 [==============================] - 0s 3ms/step - loss: -128.8631 - accuracy: 0.1358
Epoch 30/100
6/6 [==============================] - 0s 4ms/step - loss: -149.6753 - accuracy: 0.1358
Epoch 31/100
6/6 [==============================] - 0s 2ms/step - loss: -172.4626 - accuracy: 0.1358
Epoch 32/100
6/6 [==============================] - 0s 3ms/step - loss: -199.0390 - accuracy: 0.1358
Epoch 33/100
6/6 [==============================] - 0s 3ms/step - loss: -228.5103 - accuracy: 0.1358
Epoch 34/100
6/6 [==============================] - 0s 3ms/step - loss: -260.1963 - accuracy: 0.1358
Epoch 35/100
6/6 [==============================] - 0s 3ms/step - loss: -300.8257 - accuracy: 0.1358
Epoch 36/100
6/6 [==============================] - 0s 2ms/step - loss: -340.9576 - accuracy: 0.1358
Epoch 37/100
6/6 [==============================] - 0s 3ms/step - loss: -387.7365 - accuracy: 0.1358
Epoch 38/100
6/6 [==============================] - 0s 3ms/step - loss: -443.9850 - accuracy: 0.1358
Epoch 39/100
6/6 [==============================] - 0s 3ms/step - loss: -501.0705 - accuracy: 0.1358
Epoch 40/100
6/6 [==============================] - 0s 3ms/step - loss: -568.1129 - accuracy: 0.1358
Epoch 41/100
6/6 [==============================] - 0s 4ms/step - loss: -652.4055 - accuracy: 0.1358
Epoch 42/100
6/6 [==============================] - 0s 3ms/step - loss: -730.5752 - accuracy: 0.1358
Epoch 43/100
6/6 [==============================] - 0s 3ms/step - loss: -825.5364 - accuracy: 0.1358
Epoch 44/100
6/6 [==============================] - 0s 3ms/step - loss: -925.5327 - accuracy: 0.1358
Epoch 45/100
6/6 [==============================] - 0s 3ms/step - loss: -1034.1224 - accuracy: 0.1358
Epoch 46/100
6/6 [==============================] - 0s 3ms/step - loss: -1162.1693 - accuracy: 0.1358
Epoch 47/100
6/6 [==============================] - 0s 5ms/step - loss: -1302.3898 - accuracy: 0.1358
Epoch 48/100
6/6 [==============================] - 0s 2ms/step - loss: -1477.9940 - accuracy: 0.1358
Epoch 49/100
6/6 [==============================] - 0s 3ms/step - loss: -1658.2594 - accuracy: 0.1358
Epoch 50/100
6/6 [==============================] - 0s 3ms/step - loss: -1871.4037 - accuracy: 0.1358
Epoch 51/100
6/6 [==============================] - 0s 3ms/step - loss: -2110.2727 - accuracy: 0.1358
Epoch 52/100
6/6 [==============================] - 0s 3ms/step - loss: -2352.7917 - accuracy: 0.1358
Epoch 53/100
6/6 [==============================] - 0s 3ms/step - loss: -2637.1895 - accuracy: 0.1358
Epoch 54/100
6/6 [==============================] - 0s 4ms/step - loss: -2933.3777 - accuracy: 0.1358
Epoch 55/100
6/6 [==============================] - 0s 3ms/step - loss: -3266.6763 - accuracy: 0.1358
Epoch 56/100
6/6 [==============================] - 0s 3ms/step - loss: -3625.3823 - accuracy: 0.1358
Epoch 57/100
6/6 [==============================] - 0s 3ms/step - loss: -3976.0266 - accuracy: 0.1358
Epoch 58/100
6/6 [==============================] - 0s 2ms/step - loss: -4346.1470 - accuracy: 0.1358
Epoch 59/100
6/6 [==============================] - 0s 3ms/step - loss: -4718.5908 - accuracy: 0.1358
Epoch 60/100
6/6 [==============================] - 0s 2ms/step - loss: -5190.8037 - accuracy: 0.1358
Epoch 61/100
6/6 [==============================] - 0s 3ms/step - loss: -5679.5063 - accuracy: 0.1358
Epoch 62/100
6/6 [==============================] - 0s 3ms/step - loss: -6179.9868 - accuracy: 0.1358
Epoch 63/100
6/6 [==============================] - 0s 3ms/step - loss: -6733.6699 - accuracy: 0.1358
Epoch 64/100
6/6 [==============================] - 0s 3ms/step - loss: -7308.0601 - accuracy: 0.1358
Epoch 65/100
6/6 [==============================] - 0s 2ms/step - loss: -7891.5801 - accuracy: 0.1358
Epoch 66/100
6/6 [==============================] - 0s 2ms/step - loss: -8488.8721 - accuracy: 0.1358
Epoch 67/100
6/6 [==============================] - 0s 3ms/step - loss: -9158.7744 - accuracy: 0.1358
Epoch 68/100
6/6 [==============================] - 0s 3ms/step - loss: -9823.7910 - accuracy: 0.1358
Epoch 69/100
6/6 [==============================] - 0s 2ms/step - loss: -10606.1455 - accuracy: 0.1358
Epoch 70/100
6/6 [==============================] - 0s 2ms/step - loss: -11417.3193 - accuracy: 0.1358
Epoch 71/100
6/6 [==============================] - 0s 2ms/step - loss: -12230.0420 - accuracy: 0.1358
Epoch 72/100
6/6 [==============================] - 0s 2ms/step - loss: -13126.1328 - accuracy: 0.1358
Epoch 73/100
6/6 [==============================] - 0s 3ms/step - loss: -14102.8750 - accuracy: 0.1358
Epoch 74/100
6/6 [==============================] - 0s 3ms/step - loss: -15161.3584 - accuracy: 0.1358
Epoch 75/100
6/6 [==============================] - 0s 3ms/step - loss: -16272.4287 - accuracy: 0.1358
Epoch 76/100
6/6 [==============================] - 0s 2ms/step - loss: -17504.4395 - accuracy: 0.1358
Epoch 77/100
6/6 [==============================] - 0s 2ms/step - loss: -18909.4297 - accuracy: 0.1358
Epoch 78/100
6/6 [==============================] - 0s 2ms/step - loss: -20224.4082 - accuracy: 0.1358
Epoch 79/100
6/6 [==============================] - 0s 3ms/step - loss: -21585.6836 - accuracy: 0.1358
Epoch 80/100
6/6 [==============================] - 0s 2ms/step - loss: -23144.2910 - accuracy: 0.1358
Epoch 81/100
6/6 [==============================] - 0s 3ms/step - loss: -24726.0410 - accuracy: 0.1358
Epoch 82/100
6/6 [==============================] - 0s 3ms/step - loss: -26389.6172 - accuracy: 0.1358
Epoch 83/100
6/6 [==============================] - 0s 4ms/step - loss: -28413.4160 - accuracy: 0.1358
Epoch 84/100
6/6 [==============================] - 0s 2ms/step - loss: -30465.7129 - accuracy: 0.1358
Epoch 85/100
6/6 [==============================] - 0s 2ms/step - loss: -32663.7246 - accuracy: 0.1358
Epoch 86/100
6/6 [==============================] - 0s 2ms/step - loss: -34781.7422 - accuracy: 0.1358
Epoch 87/100
6/6 [==============================] - 0s 3ms/step - loss: -37431.2891 - accuracy: 0.1358
Epoch 88/100
6/6 [==============================] - 0s 2ms/step - loss: -40051.0273 - accuracy: 0.1358
Epoch 89/100
6/6 [==============================] - 0s 2ms/step - loss: -42885.5938 - accuracy: 0.1358
Epoch 90/100
6/6 [==============================] - 0s 3ms/step - loss: -45872.8984 - accuracy: 0.1358
Epoch 91/100
6/6 [==============================] - 0s 3ms/step - loss: -49055.8750 - accuracy: 0.1358
Epoch 92/100
6/6 [==============================] - 0s 3ms/step - loss: -52487.9766 - accuracy: 0.1358
Epoch 93/100
6/6 [==============================] - 0s 3ms/step - loss: -56199.5117 - accuracy: 0.1358
Epoch 94/100
6/6 [==============================] - 0s 3ms/step - loss: -59864.9805 - accuracy: 0.1358
Epoch 95/100
6/6 [==============================] - 0s 2ms/step - loss: -63767.9922 - accuracy: 0.1358
Epoch 96/100
6/6 [==============================] - 0s 3ms/step - loss: -68302.9375 - accuracy: 0.1358
Epoch 97/100
6/6 [==============================] - 0s 3ms/step - loss: -73128.8281 - accuracy: 0.1358
Epoch 98/100
6/6 [==============================] - 0s 2ms/step - loss: -77915.1094 - accuracy: 0.1358
Epoch 99/100
6/6 [==============================] - 0s 2ms/step - loss: -83285.3906 - accuracy: 0.1358
Epoch 100/100
6/6 [==============================] - 0s 3ms/step - loss: -88165.8125 - accuracy: 0.1358

In [198]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2/2 - 0s - loss: -7.7406e+03 - accuracy: 0.0364
Loss: -7740.552734375, Accuracy: 0.036363635212183

   # Visualizations

In [29]:
df.head()

,Country,Gold,Silver,Bronze,Total,Year,Life Expectancy at Birth,Population,GDP (Billions),Latitude Hemisphere,...,Distance From Los Angeles 1984,Distance From Seoul 1988,Distance From Barcelona 1992,Distance From Atlanta 1996,Distance From Sydney 2000,Distance From Athens 2004,Distance From Beijing 2008,Distance From London 2012,Distance From Rio de Janeiro 2016,Distance From Tokyo 2020
0,Netherlands,2,4,4,10,1964,73.8,12127116.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bulgaria,3,5,2,10,1964,65.31290322580645,8144340.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pakistan,0,1,0,1,1964,None,None,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Brazil,0,0,1,1,1964,56.2,81168654.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Italy,10,10,7,27,1964,65.31290322580645,51675294.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

NN Model Just Life Expectancy and GDP

In [200]:
# Dropping rows with blank values
nn_df = stats_df.dropna(axis=0)

In [201]:
nn_df.head()

         Country Country Code  Gold  ...  COU  Life Expectancy at Birth   Population
0  United States          USA    36  ...  USA                      70.3  191888791.0
1         Russia          URS    30  ...  RUS                      67.7  125412625.0
2          Japan          JPN    16  ...  JPN                      70.3   98110000.0
3        Germany          GER    10  ...  DEU                      70.6   75318338.0
5        Hungary          HUN    10  ...  HUN                      69.5   10119834.0

[5 rows x 12 columns]

In [202]:
#Dropping irrelevant columns
nn_df = nn_df.drop(["Country Code", "Gold", "Silver", "Bronze", "Year", 'Host_City', 'Host_Country', "COU"], axis=1)

In [203]:
values_cat = nn_df.dtypes[nn_df.dtypes == "object"].index.tolist()
values_cat

['Country', 'Life Expectancy at Birth', 'Population']

In [204]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(nn_df[values_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(values_cat)
encode_df.head()

   Country_Australia  ...  Population_1324171354.0
0                0.0  ...                      0.0
1                0.0  ...                      0.0
2                0.0  ...                      0.0
3                0.0  ...                      0.0
4                0.0  ...                      0.0

[5 rows x 620 columns]

In [205]:
# Merge one-hot encoded features and drop the originals
nn_df = nn_df.merge(encode_df,left_index=True, right_index=True)
nn_df = nn_df.drop(values_cat,1)
nn_df.head()

   Total  Country_Australia  ...  Population_1263065852.0  Population_1324171354.0
0     90                0.0  ...                      0.0                      0.0
1     96                0.0  ...                      0.0                      0.0
2     29                0.0  ...                      0.0                      0.0
3     50                0.0  ...                      0.0                      0.0
5     22                0.0  ...                      0.0                      0.0

[5 rows x 621 columns]

In [206]:
y = nn_df['Total'].values
X = nn_df.drop(['Total'], 1).values

In [207]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [208]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [209]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  3
hidden_nodes_layer2 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="sigmoid")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_54 (Dense)             (None, 3)                 1863
_________________________________________________________________
dense_55 (Dense)             (None, 6)                 24
_________________________________________________________________
dense_56 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_57 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_58 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_59 (Dense)             (None, 1)                 7
=================================================================
Total params: 2,020
Trainable params: 2,020
Non-trainable params: 0
_________________________________________________________________

In [210]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [211]:

# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
6/6 [==============================] - 1s 3ms/step - loss: 0.6565 - accuracy: 0.1235
Epoch 2/100
6/6 [==============================] - 0s 3ms/step - loss: 0.5452 - accuracy: 0.1358
Epoch 3/100
6/6 [==============================] - 0s 3ms/step - loss: 0.4304 - accuracy: 0.1358
Epoch 4/100
6/6 [==============================] - 0s 5ms/step - loss: 0.3063 - accuracy: 0.1358
Epoch 5/100
6/6 [==============================] - 0s 3ms/step - loss: 0.1958 - accuracy: 0.1358
Epoch 6/100
6/6 [==============================] - 0s 3ms/step - loss: 0.0884 - accuracy: 0.1358
Epoch 7/100
6/6 [==============================] - 0s 2ms/step - loss: -0.0226 - accuracy: 0.1358
Epoch 8/100
6/6 [==============================] - 0s 3ms/step - loss: -0.1285 - accuracy: 0.1358
Epoch 9/100
6/6 [==============================] - 0s 3ms/step - loss: -0.2410 - accuracy: 0.1358
Epoch 10/100
6/6 [==============================] - 0s 3ms/step - loss: -0.3472 - accuracy: 0.1358
Epoch 11/100
6/6 [==============================] - 0s 2ms/step - loss: -0.4722 - accuracy: 0.1358
Epoch 12/100
6/6 [==============================] - 0s 4ms/step - loss: -0.5838 - accuracy: 0.1358
Epoch 13/100
6/6 [==============================] - 0s 3ms/step - loss: -0.6928 - accuracy: 0.1358
Epoch 14/100
6/6 [==============================] - 0s 3ms/step - loss: -0.7926 - accuracy: 0.1358
Epoch 15/100
6/6 [==============================] - 0s 2ms/step - loss: -0.8872 - accuracy: 0.1358
Epoch 16/100
6/6 [==============================] - 0s 3ms/step - loss: -0.9848 - accuracy: 0.1358
Epoch 17/100
6/6 [==============================] - 0s 2ms/step - loss: -1.0831 - accuracy: 0.1358
Epoch 18/100
6/6 [==============================] - 0s 3ms/step - loss: -1.1734 - accuracy: 0.1358
Epoch 19/100
6/6 [==============================] - 0s 3ms/step - loss: -1.2660 - accuracy: 0.1358
Epoch 20/100
6/6 [==============================] - 0s 2ms/step - loss: -1.3662 - accuracy: 0.1358
Epoch 21/100
6/6 [==============================] - 0s 3ms/step - loss: -1.4783 - accuracy: 0.1358
Epoch 22/100
6/6 [==============================] - 0s 2ms/step - loss: -1.5737 - accuracy: 0.1358
Epoch 23/100
6/6 [==============================] - 0s 2ms/step - loss: -1.6781 - accuracy: 0.1358
Epoch 24/100
6/6 [==============================] - 0s 2ms/step - loss: -1.7835 - accuracy: 0.1358
Epoch 25/100
6/6 [==============================] - 0s 2ms/step - loss: -1.8825 - accuracy: 0.1358
Epoch 26/100
6/6 [==============================] - 0s 2ms/step - loss: -1.9780 - accuracy: 0.1358
Epoch 27/100
6/6 [==============================] - 0s 2ms/step - loss: -2.0747 - accuracy: 0.1358
Epoch 28/100
6/6 [==============================] - 0s 2ms/step - loss: -2.1810 - accuracy: 0.1358
Epoch 29/100
6/6 [==============================] - 0s 2ms/step - loss: -2.2736 - accuracy: 0.1358
Epoch 30/100
6/6 [==============================] - 0s 3ms/step - loss: -2.3842 - accuracy: 0.1358
Epoch 31/100
6/6 [==============================] - 0s 2ms/step - loss: -2.4855 - accuracy: 0.1358
Epoch 32/100
6/6 [==============================] - 0s 2ms/step - loss: -2.6023 - accuracy: 0.1358
Epoch 33/100
6/6 [==============================] - 0s 2ms/step - loss: -2.7086 - accuracy: 0.1358
Epoch 34/100
6/6 [==============================] - 0s 3ms/step - loss: -2.8149 - accuracy: 0.1358
Epoch 35/100
6/6 [==============================] - 0s 3ms/step - loss: -2.9269 - accuracy: 0.1358
Epoch 36/100
6/6 [==============================] - 0s 3ms/step - loss: -3.0321 - accuracy: 0.1358
Epoch 37/100
6/6 [==============================] - 0s 3ms/step - loss: -3.1380 - accuracy: 0.1358
Epoch 38/100
6/6 [==============================] - 0s 3ms/step - loss: -3.2569 - accuracy: 0.1358
Epoch 39/100
6/6 [==============================] - 0s 3ms/step - loss: -3.3887 - accuracy: 0.1358
Epoch 40/100
6/6 [==============================] - 0s 3ms/step - loss: -3.5138 - accuracy: 0.1358
Epoch 41/100
6/6 [==============================] - 0s 3ms/step - loss: -3.6344 - accuracy: 0.1358
Epoch 42/100
6/6 [==============================] - 0s 3ms/step - loss: -3.7463 - accuracy: 0.1358
Epoch 43/100
6/6 [==============================] - 0s 4ms/step - loss: -3.8526 - accuracy: 0.1358
Epoch 44/100
6/6 [==============================] - 0s 3ms/step - loss: -3.9584 - accuracy: 0.1358
Epoch 45/100
6/6 [==============================] - 0s 3ms/step - loss: -4.0638 - accuracy: 0.1358
Epoch 46/100
6/6 [==============================] - 0s 3ms/step - loss: -4.1547 - accuracy: 0.1358
Epoch 47/100
6/6 [==============================] - 0s 3ms/step - loss: -4.2554 - accuracy: 0.1358
Epoch 48/100
6/6 [==============================] - 0s 2ms/step - loss: -4.3646 - accuracy: 0.1358
Epoch 49/100
6/6 [==============================] - 0s 3ms/step - loss: -4.4716 - accuracy: 0.1358
Epoch 50/100
6/6 [==============================] - 0s 2ms/step - loss: -4.5777 - accuracy: 0.1358
Epoch 51/100
6/6 [==============================] - 0s 3ms/step - loss: -4.6817 - accuracy: 0.1358
Epoch 52/100
6/6 [==============================] - 0s 2ms/step - loss: -4.7761 - accuracy: 0.1358
Epoch 53/100
6/6 [==============================] - 0s 2ms/step - loss: -4.8698 - accuracy: 0.1358
Epoch 54/100
6/6 [==============================] - 0s 2ms/step - loss: -4.9624 - accuracy: 0.1358
Epoch 55/100
6/6 [==============================] - 0s 2ms/step - loss: -5.0544 - accuracy: 0.1358
Epoch 56/100
6/6 [==============================] - 0s 4ms/step - loss: -5.1434 - accuracy: 0.1358
Epoch 57/100
6/6 [==============================] - 0s 3ms/step - loss: -5.2446 - accuracy: 0.1358
Epoch 58/100
6/6 [==============================] - 0s 3ms/step - loss: -5.3357 - accuracy: 0.1358
Epoch 59/100
6/6 [==============================] - 0s 3ms/step - loss: -5.4406 - accuracy: 0.1358
Epoch 60/100
6/6 [==============================] - 0s 4ms/step - loss: -5.5336 - accuracy: 0.1358
Epoch 61/100
6/6 [==============================] - 0s 2ms/step - loss: -5.6252 - accuracy: 0.1358
Epoch 62/100
6/6 [==============================] - 0s 3ms/step - loss: -5.7260 - accuracy: 0.1358
Epoch 63/100
6/6 [==============================] - 0s 4ms/step - loss: -5.8234 - accuracy: 0.1358
Epoch 64/100
6/6 [==============================] - 0s 3ms/step - loss: -5.9222 - accuracy: 0.1358
Epoch 65/100
6/6 [==============================] - 0s 2ms/step - loss: -6.0199 - accuracy: 0.1358
Epoch 66/100
6/6 [==============================] - 0s 4ms/step - loss: -6.1131 - accuracy: 0.1358
Epoch 67/100
6/6 [==============================] - 0s 3ms/step - loss: -6.2126 - accuracy: 0.1358
Epoch 68/100
6/6 [==============================] - 0s 3ms/step - loss: -6.3194 - accuracy: 0.1358
Epoch 69/100
6/6 [==============================] - 0s 2ms/step - loss: -6.4307 - accuracy: 0.1358
Epoch 70/100
6/6 [==============================] - 0s 3ms/step - loss: -6.5498 - accuracy: 0.1358
Epoch 71/100
6/6 [==============================] - 0s 4ms/step - loss: -6.6631 - accuracy: 0.1358
Epoch 72/100
6/6 [==============================] - 0s 2ms/step - loss: -6.7658 - accuracy: 0.1358
Epoch 73/100
6/6 [==============================] - 0s 2ms/step - loss: -6.8770 - accuracy: 0.1358
Epoch 74/100
6/6 [==============================] - 0s 3ms/step - loss: -6.9862 - accuracy: 0.1358
Epoch 75/100
6/6 [==============================] - 0s 2ms/step - loss: -7.1076 - accuracy: 0.1358
Epoch 76/100
6/6 [==============================] - 0s 2ms/step - loss: -7.2257 - accuracy: 0.1358
Epoch 77/100
6/6 [==============================] - 0s 3ms/step - loss: -7.3567 - accuracy: 0.1358
Epoch 78/100
6/6 [==============================] - 0s 3ms/step - loss: -7.4632 - accuracy: 0.1358
Epoch 79/100
6/6 [==============================] - 0s 3ms/step - loss: -7.5590 - accuracy: 0.1358
Epoch 80/100
6/6 [==============================] - 0s 2ms/step - loss: -7.6647 - accuracy: 0.1358
Epoch 81/100
6/6 [==============================] - 0s 3ms/step - loss: -7.7569 - accuracy: 0.1358
Epoch 82/100
6/6 [==============================] - 0s 3ms/step - loss: -7.8551 - accuracy: 0.1358
Epoch 83/100
6/6 [==============================] - 0s 2ms/step - loss: -7.9637 - accuracy: 0.1358
Epoch 84/100
6/6 [==============================] - 0s 2ms/step - loss: -8.0632 - accuracy: 0.1358
Epoch 85/100
6/6 [==============================] - 0s 3ms/step - loss: -8.1638 - accuracy: 0.1358
Epoch 86/100
6/6 [==============================] - 0s 4ms/step - loss: -8.2669 - accuracy: 0.1358
Epoch 87/100
6/6 [==============================] - 0s 2ms/step - loss: -8.3730 - accuracy: 0.1358
Epoch 88/100
6/6 [==============================] - 0s 2ms/step - loss: -8.4945 - accuracy: 0.1358
Epoch 89/100
6/6 [==============================] - 0s 2ms/step - loss: -8.6028 - accuracy: 0.1358
Epoch 90/100
6/6 [==============================] - 0s 2ms/step - loss: -8.7093 - accuracy: 0.1358
Epoch 91/100
6/6 [==============================] - 0s 2ms/step - loss: -8.8112 - accuracy: 0.1358
Epoch 92/100
6/6 [==============================] - 0s 3ms/step - loss: -8.9076 - accuracy: 0.1358
Epoch 93/100
6/6 [==============================] - 0s 2ms/step - loss: -9.0089 - accuracy: 0.1358
Epoch 94/100
6/6 [==============================] - 0s 3ms/step - loss: -9.1057 - accuracy: 0.1358
Epoch 95/100
6/6 [==============================] - 0s 3ms/step - loss: -9.2096 - accuracy: 0.1358
Epoch 96/100
6/6 [==============================] - 0s 4ms/step - loss: -9.3183 - accuracy: 0.1358
Epoch 97/100
6/6 [==============================] - 0s 4ms/step - loss: -9.4247 - accuracy: 0.1358
Epoch 98/100
6/6 [==============================] - 0s 3ms/step - loss: -9.5207 - accuracy: 0.1358
Epoch 99/100
6/6 [==============================] - 0s 3ms/step - loss: -9.6111 - accuracy: 0.1358
Epoch 100/100
6/6 [==============================] - 0s 3ms/step - loss: -9.7087 - accuracy: 0.1358

In [212]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2/2 - 0s - loss: -9.0103e+00 - accuracy: 0.0364
Loss: -9.010329246520996, Accuracy: 0.036363635212183

NN Optimization with PCA