In [140]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np

In [141]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\huang\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [142]:
# go to website to scrape
url = "https://www.olympedia.org/editions"
browser.visit(url)

# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')

In [143]:
# read html with pandas (bs4 and parser working on backend)
test_df = pd.read_html(url) # returs list of all tables on the page

In [144]:
test_df

[         #  Year               City  Country        Opened        Closed  \
 0        I  1896             Athina      NaN       6 April      15 April
 1       II  1900              Paris      NaN           NaN           NaN
 2      III  1904          St. Louis      NaN        14 May           NaN
 3       IV  1908             London      NaN       13 July           NaN
 4        V  1912          Stockholm      NaN        6 July       27 July
 5       VI  1916             Berlin      NaN           NaN           NaN
 6      VII  1920          Antwerpen      NaN     14 August     30 August
 7     VIII  1924              Paris      NaN        5 July       27 July
 8       IX  1928          Amsterdam      NaN       28 July     12 August
 9        X  1932        Los Angeles      NaN       30 July     14 August
 10      XI  1936             Berlin      NaN      1 August     16 August
 11     XII  1940           Helsinki      NaN           NaN           NaN
 12    XIII  1944             London      NaN           NaN           NaN
 13     XIV  1948             London      NaN       29 July     14 August
 14      XV  1952           Helsinki      NaN       19 July      3 August
 15     XVI  1956          Melbourne      NaN   22 November    8 December
 16    XVII  1960               Roma      NaN     25 August  11 September
 17   XVIII  1964              Tokyo      NaN    10 October    24 October
 18     XIX  1968  Ciudad de MÃ©xico      NaN    12 October    27 October
 19      XX  1972           MÃ¼nchen      NaN     26 August  11 September
 20     XXI  1976          MontrÃ©al      NaN       17 July      1 August
 21    XXII  1980             Moskva      NaN       19 July      3 August
 22   XXIII  1984        Los Angeles      NaN       28 July     12 August
 23    XXIV  1988              Seoul      NaN  17 September     2 October
 24     XXV  1992          Barcelona      NaN       25 July      9 August
 25    XXVI  1996            Atlanta      NaN       19 July      4 August
 26   XXVII  2000             Sydney      NaN  15 September     1 October
 27  XXVIII  2004             Athina      NaN     13 August     29 August
 28    XXIX  2008            Beijing      NaN      8 August     24 August
 29     XXX  2012             London      NaN       27 July     12 August
 30    XXXI  2016     Rio de Janeiro      NaN      5 August     21 August
 31   XXXII  2020              Tokyo      NaN       23 July      8 August
 32  XXXIII  2024              Paris      NaN           NaN           NaN
 33   XXXIV  2028        Los Angeles      NaN           NaN           NaN

                    Competition           Unnamed: 7
 0               6 â 13 April                  NaN
 1        14 May â 28 October                  NaN
 2       1 July â 23 November                  NaN
 3      27 April â 31 October                  NaN
 4            5 May â 27 July                  NaN
 5                          â  Not held due to war
 6    23 April â 12 September                  NaN
 7            4 May â 27 July                  NaN
 8         17 May â 12 August                  NaN
 9        30 July â 14 August                  NaN
 10             2 â 16 August                  NaN
 11                         â  Not held due to war
 12                         â  Not held due to war
 13       26 July â 14 August                  NaN
 14        14 July â 3 August                  NaN
 15  22 November â 8 December                  NaN
 16  25 August â 11 September                  NaN
 17           11 â 24 October                  NaN
 18           12 â 27 October                  NaN
 19  26 August â 11 September                  NaN
 20        18 July â 1 August                  NaN
 21        20 July â 3 August                  NaN
 22        6 July â 12 August                  NaN
 23  17 September â 2 October                  NaN
 24        24 July â 9 August                  NaN
 25        20 July â 4 August                  NaN
 26  13 September â 1 October                  NaN
 27            11 â 29 August                  NaN
 28             6 â 24 August                  NaN
 29       25 July â 12 August                  NaN
 30             3 â 21 August                  NaN
 31        21 July â 8 August                  NaN
 32                         â                  NaN
 33                         â                  NaN  ,
         #  Year                      City  Country       Opened       Closed  \
 0       I  1924                  Chamonix      NaN   24 January   5 February
 1      II  1928              Sankt Moritz      NaN  11 February  17 February
 2     III  1932               Lake Placid      NaN   4 February  13 February
 3      IV  1936    Garmisch-Partenkirchen      NaN   6 February  16 February
 4     NaN  1940    Garmisch-Partenkirchen      NaN          NaN          NaN
 5     NaN  1944         Cortina d'Ampezzo      NaN          NaN          NaN
 6       V  1948              Sankt Moritz      NaN   30 January   8 February
 7      VI  1952                      Oslo      NaN  15 February  25 February
 8     VII  1956         Cortina d'Ampezzo      NaN   26 January   5 February
 9    VIII  1960              Squaw Valley      NaN  18 February  28 February
 10     IX  1964                 Innsbruck      NaN   29 January   9 February
 11      X  1968                  Grenoble      NaN   6 February  18 February
 12     XI  1972                   Sapporo      NaN   3 February  13 February
 13    XII  1976                 Innsbruck      NaN   4 February  15 February
 14   XIII  1980               Lake Placid      NaN  13 February  24 February
 15    XIV  1984                  Sarajevo      NaN   8 February  19 February
 16     XV  1988                   Calgary      NaN  13 February  28 February
 17    XVI  1992               Albertville      NaN   8 February  23 February
 18   XVII  1994               Lillehammer      NaN  12 February  27 February
 19  XVIII  1998                    Nagano      NaN   7 February  22 February
 20    XIX  2002            Salt Lake City      NaN   8 February  24 February
 21     XX  2006                    Torino      NaN  10 February  26 February
 22    XXI  2010                 Vancouver      NaN  12 February  28 February
 23   XXII  2014                     Sochi      NaN   7 February  23 February
 24  XXIII  2018               PyeongChang      NaN   9 February  25 February
 25   XXIV  2022                   Beijing      NaN          NaN          NaN
 26    XXV  2026  Milano-Cortina d'Ampezzo      NaN          NaN          NaN

                   Competition           Unnamed: 7
 0   26 January â 4 February                  NaN
 1          11 â 19 February                  NaN
 2           4 â 15 February                  NaN
 3           6 â 16 February                  NaN
 4                         â  Not held due to war
 5                         â  Not held due to war
 6   30 January â 8 February                  NaN
 7          14 â 25 February                  NaN
 8   26 January â 5 February                  NaN
 9          19 â 28 February                  NaN
 10  27 January â 9 February                  NaN
 11          4 â 18 February                  NaN
 12          3 â 13 February                  NaN
 13          3 â 15 February                  NaN
 14         12 â 24 February                  NaN
 15          7 â 19 February                  NaN
 16         13 â 28 February                  NaN
 17          8 â 23 February                  NaN
 18         12 â 27 February                  NaN
 19          7 â 22 February                  NaN
 20          9 â 24 February                  NaN
 21         11 â 26 February                  NaN
 22         12 â 28 February                  NaN
 23          6 â 23 February                  NaN
 24          8 â 25 February                  NaN
 25                        â                  NaN
 26                        â                  NaN  ,
     #  Year       City  Country   Opened   Closed     Competition  Unnamed: 7
 0 NaN  1956  Stockholm      NaN  10 June  17 June  11 â 17 June         NaN,
     #  Year    City  Country    Opened Closed         Competition  Unnamed: 7
 0 NaN  1906  Athina      NaN  22 April  2 May  22 April â 2 May         NaN,
      #  Year          City  Country     Opened      Closed       Competition  \
 0    I  2010     Singapore      NaN  14 August   26 August  12 â 26 August
 1   II  2014       Nanjing      NaN  16 August   28 August  14 â 28 August
 2  III  2018  Buenos Aires      NaN  6 October  18 October  6 â 18 October
 3   IV  2026         Dakar      NaN        NaN         NaN               â

    Unnamed: 7
 0         NaN
 1         NaN
 2         NaN
 3         NaN  ,
      #  Year         City  Country       Opened       Closed  \
 0    I  2012    Innsbruck      NaN   13 January   22 January
 1   II  2016  Lillehammer      NaN  12 February  21 February
 2  III  2020     Lausanne      NaN    9 January   22 January
 3   IV  2024      Gangwon      NaN          NaN          NaN

           Competition  Unnamed: 7
 0   13 â 22 January         NaN
 1  12 â 21 February         NaN
 2   10 â 22 January         NaN
 3                 â         NaN  ,
    #  Year    City  Country  Opened  Closed              Competition  \
 0  1  1859  Athina      NaN     NaN     NaN              15 November
 1  2  1870  Athina      NaN     NaN     NaN              15 November
 2  3  1875  Athina      NaN     NaN     NaN            11 â 18 May
 3  4  1889  Athina      NaN     NaN     NaN  1 December â 30 April

    Unnamed: 7
 0         NaN
 1         NaN
 2         NaN
 3         NaN  ,
          #     Year     City  Country  Opened  Closed Competition  Unnamed: 7
 0      1.0  776 BCE  Olympia      NaN     NaN     NaN         â         NaN
 1      2.0  772 BCE  Olympia      NaN     NaN     NaN         â         NaN
 2      3.0  768 BCE  Olympia      NaN     NaN     NaN         â         NaN
 3      4.0  764 BCE  Olympia      NaN     NaN     NaN         â         NaN
 4      5.0  760 BCE  Olympia      NaN     NaN     NaN         â         NaN
 ..     ...      ...      ...      ...     ...     ...         ...         ...
 289  289.0   377 CE  Olympia      NaN     NaN     NaN         â         NaN
 290  290.0   381 CE  Olympia      NaN     NaN     NaN         â         NaN
 291  291.0   385 CE  Olympia      NaN     NaN     NaN         â         NaN
 292  292.0   389 CE  Olympia      NaN     NaN     NaN         â         NaN
 293  293.0   393 CE  Olympia      NaN     NaN     NaN         â         NaN

 [294 rows x 8 columns]]

In [145]:
print(f'Total tables: {len(test_df)}')

Total tables: 8

In [146]:
# NOTE: code below could also be used to pull Winter from the winter table 
# look for tables with Tokyo
table_tokyo = pd.read_html(url, match="Tokyo", converters={"City":str})
# len(table_tokyo) # returns 1 so that is the table that we want

In [147]:
# read table as DF
sum_olympic_org = table_tokyo[0]
sum_olympic_org.head()

# NOTE: country coming in as NaN because it is a picture of a flag. Scrape country codes from the img tags.

,#,Year,City,Country,Opened,Closed,Competition,Unnamed: 7
0,I,1896,Athina,NaN,6 April,15 April,6 â 13 April,NaN
1,II,1900,Paris,NaN,NaN,NaN,14 May â 28 October,NaN
2,III,1904,St. Louis,NaN,14 May,NaN,1 July â 23 November,NaN
3,IV,1908,London,NaN,13 July,NaN,27 April â 31 October,NaN
4,V,1912,Stockholm,NaN,6 July,27 July,5 May â 27 July,NaN

In [148]:
# trying to get the country codes
# get the image tag from the correct column in the first table
# set table reference
table_to_scrape = html_soup.find_all('table')[0]

# for td in html_soup.find_all('td'):
#     if td.img:
#         print(td.img['src'])

# get table rows
table_body = table_to_scrape.find_all('tr')

In [149]:
# get number of rows in the table
body_rows = table_body[0:]
# len(body_rows)

In [150]:
body_rows

[<tr>
 <th>#</th>
 <th>Year</th>
 <th>City</th>
 <th>Country</th>
 <th>Opened</th>
 <th>Closed</th>
 <th>Competition</th>
 <th></th>
 </tr>,
 <tr>
 <td><a href="/editions/1">I</a></td>
 <td><a href="/editions/1">1896</a></td>
 <td><a href="/editions/1">Athina</a></td>
 <td><img src="/images/flags/GRE.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 6 April</td>
 <td>15 April</td>
 <td>6 – 13 April</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/2">II</a></td>
 <td><a href="/editions/2">1900</a></td>
 <td><a href="/editions/2">Paris</a></td>
 <td><img src="/images/flags/FRA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>14 May – 28 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/3">III</a></td>
 <td><a href="/editions/3">1904</a></td>
 <td><a href="/editions/3">St. Louis</a></td>
 <td><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>14 May</td>
 <td></td>
 <td> 1 July – 23 November</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/5">IV</a></td>
 <td><a href="/editions/5">1908</a></td>
 <td><a href="/editions/5">London</a></td>
 <td><img src="/images/flags/GBR.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>13 July</td>
 <td></td>
 <td>27 April – 31 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/6">V</a></td>
 <td><a href="/editions/6">1912</a></td>
 <td><a href="/editions/6">Stockholm</a></td>
 <td><img src="/images/flags/SWE.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 6 July</td>
 <td>27 July</td>
 <td> 5 May – 27 July</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/50">VI</a></td>
 <td><a href="/editions/50">1916</a></td>
 <td><a href="/editions/50">Berlin</a></td>
 <td><img src="/images/flags/GER.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>—</td>
 <td>
 Not held due to war
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/7">VII</a></td>
 <td><a href="/editions/7">1920</a></td>
 <td><a href="/editions/7">Antwerpen</a></td>
 <td><img src="/images/flags/BEL.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>14 August</td>
 <td>30 August</td>
 <td>23 April – 12 September</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/8">VIII</a></td>
 <td><a href="/editions/8">1924</a></td>
 <td><a href="/editions/8">Paris</a></td>
 <td><img src="/images/flags/FRA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 5 July</td>
 <td>27 July</td>
 <td> 4 May – 27 July</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/9">IX</a></td>
 <td><a href="/editions/9">1928</a></td>
 <td><a href="/editions/9">Amsterdam</a></td>
 <td><img src="/images/flags/NED.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>28 July</td>
 <td>12 August</td>
 <td>17 May – 12 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/10">X</a></td>
 <td><a href="/editions/10">1932</a></td>
 <td><a href="/editions/10">Los Angeles</a></td>
 <td><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>30 July</td>
 <td>14 August</td>
 <td>30 July – 14 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/11">XI</a></td>
 <td><a href="/editions/11">1936</a></td>
 <td><a href="/editions/11">Berlin</a></td>
 <td><img src="/images/flags/GER.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 1 August</td>
 <td>16 August</td>
 <td>2 – 16 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/51">XII</a></td>
 <td><a href="/editions/51">1940</a></td>
 <td><a href="/editions/51">Helsinki</a></td>
 <td><img src="/images/flags/FIN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>—</td>
 <td>
 Not held due to war
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/52">XIII</a></td>
 <td><a href="/editions/52">1944</a></td>
 <td><a href="/editions/52">London</a></td>
 <td><img src="/images/flags/GBR.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>—</td>
 <td>
 Not held due to war
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/12">XIV</a></td>
 <td><a href="/editions/12">1948</a></td>
 <td><a href="/editions/12">London</a></td>
 <td><img src="/images/flags/GBR.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>29 July</td>
 <td>14 August</td>
 <td>26 July – 14 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/13">XV</a></td>
 <td><a href="/editions/13">1952</a></td>
 <td><a href="/editions/13">Helsinki</a></td>
 <td><img src="/images/flags/FIN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>19 July</td>
 <td> 3 August</td>
 <td>14 July –  3 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/14">XVI</a></td>
 <td><a href="/editions/14">1956</a></td>
 <td><a href="/editions/14">Melbourne</a></td>
 <td><img src="/images/flags/AUS.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>22 November</td>
 <td> 8 December</td>
 <td>22 November –  8 December</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/15">XVII</a></td>
 <td><a href="/editions/15">1960</a></td>
 <td><a href="/editions/15">Roma</a></td>
 <td><img src="/images/flags/ITA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>25 August</td>
 <td>11 September</td>
 <td>25 August – 11 September</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/16">XVIII</a></td>
 <td><a href="/editions/16">1964</a></td>
 <td><a href="/editions/16">Tokyo</a></td>
 <td><img src="/images/flags/JPN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>10 October</td>
 <td>24 October</td>
 <td>11 – 24 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/17">XIX</a></td>
 <td><a href="/editions/17">1968</a></td>
 <td><a href="/editions/17">Ciudad de México</a></td>
 <td><img src="/images/flags/MEX.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>12 October</td>
 <td>27 October</td>
 <td>12 – 27 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/18">XX</a></td>
 <td><a href="/editions/18">1972</a></td>
 <td><a href="/editions/18">München</a></td>
 <td><img src="/images/flags/FRG.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>26 August</td>
 <td>11 September</td>
 <td>26 August – 11 September</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/19">XXI</a></td>
 <td><a href="/editions/19">1976</a></td>
 <td><a href="/editions/19">Montréal</a></td>
 <td><img src="/images/flags/CAN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>17 July</td>
 <td> 1 August</td>
 <td>18 July –  1 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/20">XXII</a></td>
 <td><a href="/editions/20">1980</a></td>
 <td><a href="/editions/20">Moskva</a></td>
 <td><img src="/images/flags/URS.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>19 July</td>
 <td> 3 August</td>
 <td>20 July –  3 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/21">XXIII</a></td>
 <td><a href="/editions/21">1984</a></td>
 <td><a href="/editions/21">Los Angeles</a></td>
 <td><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>28 July</td>
 <td>12 August</td>
 <td> 6 July – 12 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/22">XXIV</a></td>
 <td><a href="/editions/22">1988</a></td>
 <td><a href="/editions/22">Seoul</a></td>
 <td><img src="/images/flags/KOR.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>17 September</td>
 <td> 2 October</td>
 <td>17 September –  2 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/23">XXV</a></td>
 <td><a href="/editions/23">1992</a></td>
 <td><a href="/editions/23">Barcelona</a></td>
 <td><img src="/images/flags/ESP.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>25 July</td>
 <td> 9 August</td>
 <td>24 July –  9 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/24">XXVI</a></td>
 <td><a href="/editions/24">1996</a></td>
 <td><a href="/editions/24">Atlanta</a></td>
 <td><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>19 July</td>
 <td> 4 August</td>
 <td>20 July –  4 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/25">XXVII</a></td>
 <td><a href="/editions/25">2000</a></td>
 <td><a href="/editions/25">Sydney</a></td>
 <td><img src="/images/flags/AUS.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>15 September</td>
 <td> 1 October</td>
 <td>13 September –  1 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/26">XXVIII</a></td>
 <td><a href="/editions/26">2004</a></td>
 <td><a href="/editions/26">Athina</a></td>
 <td><img src="/images/flags/GRE.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>13 August</td>
 <td>29 August</td>
 <td>11 – 29 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/53">XXIX</a></td>
 <td><a href="/editions/53">2008</a></td>
 <td><a href="/editions/53">Beijing</a></td>
 <td><img src="/images/flags/CHN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 8 August</td>
 <td>24 August</td>
 <td>6 – 24 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/54">XXX</a></td>
 <td><a href="/editions/54">2012</a></td>
 <td><a href="/editions/54">London</a></td>
 <td><img src="/images/flags/GBR.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>27 July</td>
 <td>12 August</td>
 <td>25 July – 12 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/59">XXXI</a></td>
 <td><a href="/editions/59">2016</a></td>
 <td><a href="/editions/59">Rio de Janeiro</a></td>
 <td><img src="/images/flags/BRA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 5 August</td>
 <td>21 August</td>
 <td>3 – 21 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/61">XXXII</a></td>
 <td><a href="/editions/61">2020</a></td>
 <td><a href="/editions/61">Tokyo</a></td>
 <td><img src="/images/flags/JPN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>23 July</td>
 <td> 8 August</td>
 <td>21 July –  8 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/63">XXXIII</a></td>
 <td><a href="/editions/63">2024</a></td>
 <td><a href="/editions/63">Paris</a></td>
 <td><img src="/images/flags/FRA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>—</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/64">XXXIV</a></td>
 <td><a href="/editions/64">2028</a></td>
 <td><a href="/editions/64">Los Angeles</a></td>
 <td><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>—</td>
 <td>
 </td>
 </tr>]

In [151]:
# loop through rows and get the image source tags


# define empty list to hold the src tags
flag_images = []

# set row number to pass to table_body[]
for row_num in range(len(body_rows)):

    # loop through each row in the table body and find all rows
    for row in table_body[row_num].find_all('td'):
         
        # check to see if the row has an img tag 
        if row.img:
            # append the img src tag to a list
            flag_images.append(row.img['src'])

In [152]:
# use regex to get the country code from the img src
import re
country_codes = []
# loop through list and pull 3 alphanumeric before '.'
for src in flag_images:
    code = re.findall(r"(\w{3})\.", src) # maybe not the most efficient way but all the strings were the same so took a shot at it
    # append to list
    country_codes.append(code)

In [153]:
# regex loop returned a list of lists so extract into single list
country_codes = [x[0] for x in country_codes]

In [154]:
# get rid of columns we don't need
sum_olympic_cln = sum_olympic_org[['Year', 'City', 'Country']].copy()
sum_olympic_cln.head()

   Year       City  Country
0  1896     Athina      NaN
1  1900      Paris      NaN
2  1904  St. Louis      NaN
3  1908     London      NaN
4  1912  Stockholm      NaN

In [155]:
# replace the NaNs in the Country column with country_codes list
sum_olympic_cln['Country'] = country_codes
sum_olympic_cln.head()

   Year       City Country
0  1896     Athina     GRE
1  1900      Paris     FRA
2  1904  St. Louis     USA
3  1908     London     GBR
4  1912  Stockholm     SWE

In [156]:
# check DF
sum_olympic_cln.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     34 non-null     int64
 1   City     34 non-null     object
 2   Country  34 non-null     object
dtypes: int64(1), object(2)
memory usage: 944.0+ bytes

In [157]:
sum_olympic_org

,#,Year,City,Country,Opened,Closed,Competition,Unnamed: 7
0,I,1896,Athina,NaN,6 April,15 April,6 â 13 April,NaN
1,II,1900,Paris,NaN,NaN,NaN,14 May â 28 October,NaN
2,III,1904,St. Louis,NaN,14 May,NaN,1 July â 23 November,NaN
3,IV,1908,London,NaN,13 July,NaN,27 April â 31 October,NaN
4,V,1912,Stockholm,NaN,6 July,27 July,5 May â 27 July,NaN
5,VI,1916,Berlin,NaN,NaN,NaN,â,Not held due to war
6,VII,1920,Antwerpen,NaN,14 August,30 August,23 April â 12 September,NaN
7,VIII,1924,Paris,NaN,5 July,27 July,4 May â 27 July,NaN
8,IX,1928,Amsterdam,NaN,28 July,12 August,17 May â 12 August,NaN
9,X,1932,Los Angeles,NaN,30 July,14 August,30 July â 14 August,NaN
10,XI,1936,Berlin,NaN,1 August,16 August,2 â 16 August,NaN
11,XII,1940,Helsinki,NaN,NaN,NaN,â,Not held due to war
12,XIII,1944,London,NaN,NaN,NaN,â,Not held due to war
13,XIV,1948,London,NaN,29 July,14 August,26 July â 14 August,NaN
14,XV,1952,Helsinki,NaN,19 July,3 August,14 July â 3 August,NaN
15,XVI,1956,Melbourne,NaN,22 November,8 December,22 November â 8 December,NaN
16,XVII,1960,Roma,NaN,25 August,11 September,25 August â 11 September,NaN
17,XVIII,1964,Tokyo,NaN,10 October,24 October,11 â 24 October,NaN
18,XIX,1968,Ciudad de MÃ©xico,NaN,12 October,27 October,12 â 27 October,NaN
19,XX,1972,MÃ¼nchen,NaN,26 August,11 September,26 August â 11 September,NaN
20,XXI,1976,MontrÃ©al,NaN,17 July,1 August,18 July â 1 August,NaN
21,XXII,1980,Moskva,NaN,19 July,3 August,20 July â 3 August,NaN
22,XXIII,1984,Los Angeles,NaN,28 July,12 August,6 July â 12 August,NaN
23,XXIV,1988,Seoul,NaN,17 September,2 October,17 September â 2 October,NaN
24,XXV,1992,Barcelona,NaN,25 July,9 August,24 July â 9 August,NaN
25,XXVI,1996,Atlanta,NaN,19 July,4 August,20 July â 4 August,NaN
26,XXVII,2000,Sydney,NaN,15 September,1 October,13 September â 1 October,NaN
27,XXVIII,2004,Athina,NaN,13 August,29 August,11 â 29 August,NaN
28,XXIX,2008,Beijing,NaN,8 August,24 August,6 â 24 August,NaN
29,XXX,2012,London,NaN,27 July,12 August,25 July â 12 August,NaN
30,XXXI,2016,Rio de Janeiro,NaN,5 August,21 August,3 â 21 August,NaN
31,XXXII,2020,Tokyo,NaN,23 July,8 August,21 July â 8 August,NaN
32,XXXIII,2024,Paris,NaN,NaN,NaN,â,NaN
33,XXXIV,2028,Los Angeles,NaN,NaN,NaN,â,NaN

In [158]:
# get rid of everything before 1964 and after 2016
analysis_years = sum_olympic_cln.copy()
analysis_years.drop(analysis_years[(analysis_years['Year'] < 1964) | (analysis_years['Year'] > 2016)].index, inplace=True)

In [159]:
analysis_years.rename(columns={"City": "Host_City", "Country":"Host_Country"}, inplace=True)
# analysis_years.head()

In [160]:
# send years with host cities and countries to csv
# analysis_years.to_csv("host_cities.csv")

In [161]:
# merge the dataframes - doing this after becuase I didn't want to re-run the scrape.

# load host cities as DF
# host_cities_df = pd.read_csv("host_cities.csv", index_col=0)

In [162]:
# load medals scrape csv as DF
# all_country_medals_df = pd.read_csv("complete_year_datascrape_07182021.csv", index_col=0)

In [163]:
# merge the dataframes on year
# combined_data = all_country_medals_df.merge(right=host_cities_df, how="left", on="Year")
# combined_data.head()

In [ ]:
# send merged dataframe to .csv
# combined_data.to_csv("medal_data_by_year.csv")

# Moving to individual year medals pages
1 - navigate to correct page

2 - locate medal table

3 - load medal table as DF with index as the year

4 - merge with the summer olympic table -

In [ ]:
# get years into a list so you can use them for href and click
years_list = analysis_years['Year'].tolist()

# years are int - need them to be string to pass to scraping loop so convert
years_list = [str(x) for x in years_list]

In [ ]:
years_list

In [ ]:
# from xpath we know the table row to start is 18 
# browser.find_by_xpath('/html/body/div[2]/table[1]/tbody/tr[18]/td[2]/a'). click() # this also works but is less understandable

# NOTE: according to this link https://stackoverflow.com/questions/13784192/creating-an-empty-pandas-dataframe-then-filling-it it is not a good idea to append dataframes in a loop. Working on scraping to lists or dictionaries and then turning into dataframe but this loop should work despite it being memory intensive if we need to use it. 

# create the first dataframe - 1964
# complete_medals_table = Data - was going to create a blank dataframe to append to but apparently that's not a good idea

# test list = successful for 2 years
test_years = ['1964', '1968']

# set iterator
# counter = 0

# df dictionary - testing
# https://stackoverflow.com/questions/30233982/merge-dataframes-in-a-dictionary

all_years = {}

# start for loop to get all of the year medal tables
for year in test_years: # change back to years_list when testing complete

    browser.find_by_text(year).click() # this works - loop step 1

    # get page url - loop step 2
    page_url = browser.url

    # reset soup
    # parse HTML
    html = browser.html
    html_soup = soup(html, 'html.parser')

    # get all tables on the page as DFs 
    #page_dfs = pd.read_html(page_url)
    # print(f'Total tables: {len(page_dfs)}') # check number of tables on page - use for debugging

    # get the medal table and load to DF
    # medals_table = pd.read_html(page_url, match="NOC")[0] # loop step 3
    #all_years[year] = pd.read_html(page_url, match="NOC")[0] # loop step 3

    # add column 'year' with the year of the games - loop step 4
    # medals_table['Year'] = int(year)
    all_years[year]['Year'] = int(year)

    # rename the columns - loop step 5
    # medals_table.rename(columns={'NOC': 'Country', 'NOC.1': 'Country Code'}, inplace=True)
    all_years[year].rename(columns={'NOC': 'Country', 'NOC.1': 'Country Code'}, inplace=True)

    # NOTE: may get rid of this in favor of adding to dictionary and then appending.
    # if this is the first year then just save as DF, otherwise append to the DF
    # if counter != 0:
        # medals_table = medals_table.append(medals_table, ignore_index=True)

    # counter += 1

    # go back to the main page
    browser.back()

browser.quit()

In [178]:
# ################# HH Test

##Extract Disciplines List
url = "https://www.olympedia.org/editions/16"
browser.visit(url)

# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')
#test_disc_df = pd.read_html(url)
table_disciplines = pd.read_html(url)
other_disciplines = pd.read_html(url)
# len(table_tokyo) # returns 1 so that is the table that we want
#table_disciplines
#other_disciplines

In [179]:
pd.read_html(url)[3]

                     0                    1              2
0  Artistic Gymnastics  Equestrian Dressage         Rowing
1            Athletics  Equestrian Eventing        Sailing
2           Basketball   Equestrian Jumping       Shooting
3               Boxing              Fencing       Swimming
4         Canoe Sprint             Football     Volleyball
5         Cycling Road               Hockey     Water Polo
6        Cycling Track                 Judo  Weightlifting
7               Diving    Modern Pentathlon      Wrestling

In [180]:
#Gather List of Main Disciplines
df_table_disciplines = pd.read_html(url)[3]
#df_table_disciplines

df_table0 = df_table_disciplines[0]
df_table1 = df_table_disciplines[1]
df_table2 = df_table_disciplines[2]

pieces = {"1": df_table0,"2": df_table1,"3": df_table2}
df_table_disciplines = pd.concat(pieces)

main_disciplines = df_table_disciplines.tolist()

In [181]:
main_disciplines

['Artistic Gymnastics',
 'Athletics',
 'Basketball',
 'Boxing',
 'Canoe Sprint',
 'Cycling Road',
 'Cycling Track',
 'Diving',
 'Equestrian Dressage',
 'Equestrian Eventing',
 'Equestrian Jumping',
 'Fencing',
 'Football',
 'Hockey',
 'Judo',
 'Modern Pentathlon',
 'Rowing',
 'Sailing',
 'Shooting',
 'Swimming',
 'Volleyball',
 'Water Polo',
 'Weightlifting',
 'Wrestling']

In [8]:
#Gather list of Other Disciplines
df_other_disc = pd.read_html(url)[4]


df_table0 = df_other_disc[0]
df_table1 = df_other_disc[1]
df_table2 = df_other_disc[2]

pieces = {"1": df_table0,"2": df_table1,"3": df_table2}
df_other_disc = pd.concat(pieces)
    
other_disciplines = df_other_disc.tolist()
other_disciplines

['Baseball', 'Kendo', 'Kyudo', 'Sumo', nan, nan]

In [10]:
discipline_combo = main_disciplines + other_disciplines
df_disciplines_all = pd.DataFrame(discipline_combo)
df_disciplines_all.dropna()

                      0
0   Artistic Gymnastics
1             Athletics
2            Basketball
3                Boxing
4          Canoe Sprint
5          Cycling Road
6         Cycling Track
7                Diving
8   Equestrian Dressage
9   Equestrian Eventing
10   Equestrian Jumping
11              Fencing
12             Football
13               Hockey
14                 Judo
15    Modern Pentathlon
16               Rowing
17              Sailing
18             Shooting
19             Swimming
20           Volleyball
21           Water Polo
22        Weightlifting
23            Wrestling
24             Baseball
25                Kendo
26                Kyudo
27                 Sumo

In [ ]:
######### HH Single Competition Extract

In [131]:
#Find the right competition
url = "https://www.olympedia.org/editions/16"
browser.visit(url)

competition = df_disciplines_all[0][1]
print("going to...   " + competition)

browser.find_by_text(competition).click() # this works - loop step 1

# get page url
page_url = browser.url

# reset soup
# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')

going to...   Athletics

In [132]:
html_soup

<html><head>
<title>Olympedia – 1964 Summer Olympics Overview</title>
<meta content="authenticity_token" name="csrf-param"/>
<meta content="sXmMJUtCyI++ngoOPwK07h+2RLsIOYhyAMe4ObX9QxIcgXEahhk48OBxXF+QQPr7ItKeEMtmS9VzmkIaezMbYg==" name="csrf-token"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="EN" http-equiv="content-language"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="/assets/bootstrap.min-460a43de22fd9534d595e5aea2715cb154560291c9c6401b526e31c86a5ce32d.css" media="all" rel="stylesheet"/>
<link href="/assets/bootstrap-sortable-363d232309d54b549fa85446295ef2b5d290e3f8a49f1a646247340be3705ef9.css" media="all" rel="stylesheet"/>
<link href="/assets/jquery-ui-1.11.4.min-359ba1b9eb679ad05fb4c8fda710ee4c0239354f1ba635200b6065638295d646.css" media="all" rel="stylesheet"/>
<link href="/assets/lightbox-e29689e123fc27505d2b9d919f43ffcb6fade539cb4670f21c35aa07848105e7.css" media="screen" rel="stylesheet"/>
<link data-turbolinks-track="true" href="/assets/application-dabe0afec76f540b074f0f63c688a540786e3cc47508864701ac4bfcd2198724.css" media="all" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" media="screen" rel="stylesheet"/>
<script data-turbolinks-track="true" src="/assets/application-e1a1e4d6a20243befcce18acb216d9b0e6082405323ce1f5dfbf47c401111aa1.js"></script>
<script src="/assets/jquery-1.11.2.min-cc83565074b3fa7f2283f7f4d56b90ad171ede87008448ed5d2e91c50575bed1.js"></script>
<script src="/assets/jquery-ui-1.11.4.min-1f37fd37d8db0404488ac8f6505560e48d1364ef1c81e384ac695e143049ab0f.js"></script>
<script src="/assets/bootstrap.min-81d6fe3a991358b79b083d075ca476712c9f11c5c890047486176bde863c499e.js"></script>
<script src="/assets/moment-ded3cbd5de5ae075c44be4149abb630c658e8789f17ccfb162e6bb7664e8bec9.js"></script>
<script src="/assets/bootstrap-sortable-cd614fbc8d2030bc050ce63652169ed36d970209a94062fa218c631f2c04dc9f.js"></script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="navbar-header">
<div class="button navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar">
<span class="icon-bar">
<span class="icon-bar"></span>
</span>
</span>
</div>
<a class="navbar-brand" href="/">Olympedia</a>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
<ul class="nav navbar-nav">
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
Athletes
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li><a href="/athletes/advanced_search">Advanced search</a></li>
<li><a href="/horses">Horse search</a></li>
<li><a href="/family_relations">Related Olympians</a></li>
<li><a href="/counts">Counts</a></li>
<li><a href="/athletes/doubles">Doubles</a></li>
<li><a href="/athletes/lists">Lists</a></li>
<li class="divider"></li>
<li><a href="/athletes">Athletes</a></li>
</ul>
</li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
Countries
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li><a href="/countries/head_to_head">Head-to-head</a></li>
<li><a href="/countries/best_results">Best results</a></li>
<li><a href="/countries/comparison">Results comparison</a></li>
<li class="divider"></li>
<li><a href="/countries">Countries</a></li>
</ul>
</li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
Games
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li><a href="/editions">Games</a></li>
<li><a href="/editions/medals">Medals</a></li>
<li><a href="/editions/results">Results</a></li>
<li><a href="/ceremonies">Opening ceremony</a></li>
<li><a href="/venues/menu">Venues</a></li>
</ul>
</li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
Sports
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li><a href="/sports">Disciplines &amp; Sports</a></li>
<li></li>
</ul>
</li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
IOC
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li><a href="/organizations">Organizations</a></li>
<li><a href="/definitions">Definitions</a></li>
<li><a href="/meetings">Meetings</a></li>
<li><a href="/ioc/host_cities">Host city selection</a></li>
</ul>
</li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
Statistics
<b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li></li>
<li><a href="/statistics/medal/country">Medals by country</a></li>
<li><a href="/statistics/medal/athlete">Medals by athlete</a></li>
<li><a href="/statistics/medal_table">Medal tables</a></li>
<li><a href="/statistics/participation">Participations</a></li>
<li><a href="/records">Records</a></li>
<li><a href="/statistics/age">Age records</a></li>
<li><a href="/lists">Lists</a></li>
<li><a href="/today">Today</a></li>
<li></li>
<li class="divider"></li>
<li><a href="/statistics">Statistics</a></li>
</ul>
</li>
<li><a href="/feedbacks/new">Feedback</a></li>
<form accept-charset="UTF-8" action="/athletes/quick_search" class="navbar-form navbar-left" method="post" role="search"><input name="utf8" type="hidden" value="✓"/><input name="authenticity_token" type="hidden" value="sXmMJUtCyI++ngoOPwK07h+2RLsIOYhyAMe4ObX9QxIcgXEahhk48OBxXF+QQPr7ItKeEMtmS9VzmkIaezMbYg=="/>
<div class="form-group">
<input class="form-control" id="query" name="query" placeholder="Athlete search" type="text"/>
</div>
<input class="btn btn-default" data-disable-with="Go" name="commit" type="submit" value="Go"/>
</form>
</ul>
</div>
</div>
<div class="container">
<ol class="breadcrumb">
<li>
<a href="/">Home</a>
</li>
<li><a href="/editions">Games</a></li><li class="active">1964 Summer Olympics Overview</li>
</ol>
<h1>1964 Summer Olympics</h1>
<h2>Facts</h2>
<table class="biotable">
<tbody><tr>
<th>Competition type</th>
<td>Olympic Games</td>
</tr>
<tr>
<th>Number and Year</th>
<td>XVIII / 1964</td>
</tr>
<tr>
<th>Host city</th>
<td>
Tokyo, Japan
(<a href="/venues/editions/16">Venues</a>)
</td>
</tr>
<tr>
<th>Opening ceremony</th>
<td>
10 October
</td>
</tr>
<tr>
<th>Closing ceremony</th>
<td>
24 October
</td>
</tr>
<tr>
<th>Competition dates</th>
<td>
11 – 24 October
</td>
</tr>
<tr>
<th>OCOG</th>
<td><a href="/organizations/344">Organizing Committee for the Games of the XVIII Olympiad</a></td>
</tr>
<tr>
<th>Participants</th>
<td>
<a href="/counts/edition/16">5137</a>
from <a href="/editions/16/countries">93 countries</a>
</td>
</tr>
<tr>
<th>Medal events</th>
<td>
163
in 24 disciplines
</td>
</tr>
<tr>
<th>Other events</th>
<td>
27
in 4 disciplines
</td>
</tr>
</tbody></table>
<h2>
Overview

</h2>
<div class="description">
<p>For the first time, the Olympic Games were hosted in an Asian country. The Japanese were eager to prove that they had recovered from the horrors of World War II and, to emphasize the point, they chose as the final torch bearer, <a href="/athletes/1100069">Yoshinori Sakai</a>, who had been born in Hiroshima on the day the atom bomb immolated that city.</p>
<p>Before the Games began there was a minor controversy when Indonesia and North Korea withdrew because several of their athletes were declared ineligible. The affected athletes had competed in the 1963 Games of the New Emerging Forces (GANEFO) in Jakarta, Indonesia. Indonesia did not allow Chinese Taipei or Israel to compete at those Games, so the international federations for athletics, swimming and shooting banned any athlete from the Tokyo Olympics who had competed at GANEFO. Because this affected several of their athletes, Indonesia and North Korea withdrew from Tokyo in protest. The only significant athlete to be missed was Dan Sin-Kim, women’s world record holder in the 800 metres.</p>
<p>The Games were beautifully run and the minor boycott had minimal effect. In athletics, <a href="/athletes/78795">Billy Mills</a> of the United States pulled off one of the biggest upsets in Olympic history when he won the 10,000 metre run. Prior to the Olympic Trials he was only a longshot to make the United States’ team. At Tokyo, USA hopes rested on the slim shoulders of tiny <a href="/athletes/78703">Gerry Lindgren</a> in that event, but a few days before the race, Lindgren sprained his ankle and was not at his best. However, Mills lowered his personal best by over 45 seconds to win the gold medal in a wild sprint finish from Australia’s <a href="/athletes/64643">Ron Clarke</a> and Tunisia’s <a href="/athletes/76964">Mohamad Gammoudi</a>.</p>
<p>The most decorated hero of the Games was swimmer <a href="/athletes/51552">Don Schollander</a> who won four gold medals in men’s swimming. Schollander could have won a fifth gold medal but he was mercifully left off the medley relay team by US coaches, although he was America’s fastest freestyler.</p>
<p>The Japanese were gracious hosts but they were helped in their own efforts by two new Olympic sports: judo and volleyball. In volleyball the Japanese women, coached by the martinet-like Hirofumi Daimatsu, were easily victorious. In judo, the Japanese won three of the four gold medals. But the one they lost, in the open class to the Netherland’s <a href="/athletes/33766">Anton Geesink</a>, was a crushing blow to the hosts.</p>
<p>Several repeat winners were prominent at Tokyo. <a href="/athletes/74357">Peter Snell</a> (NZL) won the 800 metres race again and this time doubled by also winning the 1,500 metres. In the marathon, <a href="/athletes/67392">Abebe Bikila</a> (ETH) repeated his Rome victory only a few weeks after recovering from an emergency appendectomy. <a href="/athletes/78857">Al Oerter</a> won his third consecutive discus title, despite a disc injury in his neck, and torn rib cartilage sustained only the week before the discus throw. And in rowing, the Soviet’s <a href="/athletes/40263">Vyacheslav Ivanov</a> also won his third consecutive title, in the single sculls.</p>
</div>
<h2>Bid process</h2>
<div class="description">
<p>Bid voting at the 56th <a href="/meetings">IOC Session</a> in München, Germany on 26 May 1959.</p>
<table>
<tbody><tr>
<td></td>
<td></td>
<td>Round 1</td>
</tr><tr>
<td class="city">Tokyo</td>
<td>Japan</td>
<td>34</td>
</tr><tr>
<td class="city">Detroit, Michigan</td>
<td>United States</td>
<td>10</td>
</tr><tr>
<td class="city">Wien</td>
<td>Austria</td>
<td>9</td>
</tr><tr>
<td class="city">Bruxelles</td>
<td>Belgium</td>
<td>5</td>
</tr></tbody></table>
</div>
<h2>Ceremonies</h2>
<table class="biotable">
<tbody><tr>
<th>Officially opened by</th>
<td><a href="/athletes/1100015">Hirohito, Emperor of Japan</a> (Emperor)</td>
</tr>
<tr>
<th>Torchbearer(s)</th>
<td><a href="/athletes/1100069">Yoshinori Sakai</a> (Lit flame)</td>
</tr>
<tr>
<th>Taker of the Athlete's Oath</th>
<td><a href="/athletes/30611">Takashi Ono</a></td>
</tr>
<tr>
<th>Flagbearers</th>
<td><a href="/flagbearers?edition_id=16">Full list</a></td>
</tr>
<tr>
<th>Olympic Flag Bearers</th>
<td>Eight unknown members of the Maritime Self-Defense Force</td>
</tr>
</tbody></table>
<h2>Medal Disciplines</h2>
<table class="table table-striped">
<tbody><tr>
<td>
<a href="/editions/16/sports/GYM">Artistic Gymnastics</a>
</td>
<td>
<a href="/editions/16/sports/EDR">Equestrian Dressage</a>
</td>
<td>
<a href="/editions/16/sports/ROW">Rowing</a>
</td>
</tr>
<tr>
<td>
<a href="/editions/16/sports/ATH">Athletics</a>
</td>
<td>
<a href="/editions/16/sports/EVE">Equestrian Eventing</a>
</td>
<td>
<a href="/editions/16/sports/SAI">Sailing</a>
</td>
</tr>
<tr>
<td>
<a href="/editions/16/sports/BAS">Basketball</a>
</td>
<td>
<a href="/editions/16/sports/EQU">Equestrian Jumping</a>
</td>
<td>
<a href="/editions/16/sports/SHO">Shooting</a>
</td>
</tr>
<tr>
<td>
<a href="/editions/16/sports/BOX">Boxing</a>
</td>
<td>
<a href="/editions/16/sports/FEN">Fencing</a>
</td>
<td>
<a href="/editions/16/sports/SWI">Swimming</a>
</td>
</tr>
<tr>
<td>
<a href="/editions/16/sports/CAN">Canoe Sprint</a>
</td>
<td>
<a href="/editions/16/sports/FTB">Football</a>
</td>
<td>
<a href="/editions/16/sports/VOL">Volleyball</a>
</td>
</tr>
<tr>
<td>
<a href="/editions/16/sports/CYC">Cycling Road</a>
</td>
<td>
<a href="/editions/16/sports/HOK">Hockey</a>
</td>
<td>
<a href="/editions/16/sports/WAP">Water Polo</a>
</td>
</tr>
<tr>
<td>
<a href="/editions/16/sports/CTR">Cycling Track</a>
</td>
<td>
<a href="/editions/16/sports/JUD">Judo</a>
</td>
<td>
<a href="/editions/16/sports/WLT">Weightlifting</a>
</td>
</tr>
<tr>
<td>
<a href="/editions/16/sports/DIV">Diving</a>
</td>
<td>
<a href="/editions/16/sports/MOP">Modern Pentathlon</a>
</td>
<td>
<a href="/editions/16/sports/WRE">Wrestling</a>
</td>
</tr>
</tbody></table>
<h2>Other Disciplines</h2>
<table class="table table-striped">
<tbody><tr>
<td>
<a href="/editions/16/sports/BSB">Baseball</a>
</td>
<td>
<a href="/editions/16/sports/KYU">Kyudo</a>
</td>
<td>
</td>
</tr>
<tr>
<td>
<a href="/editions/16/sports/KEN">Kendo</a>
</td>
<td>
<a href="/editions/16/sports/SUM">Sumo</a>
</td>
<td>
</td>
</tr>
</tbody></table>
<h2>Medal table</h2>
<table class="table table-striped">
<thead>
<tr>
<th colspan="2">NOC</th>
<th>Gold</th>
<th>Silver</th>
<th>Bronze</th>
<th>Total</th>
</tr>
</thead>
<tbody><tr>
<td><a href="/countries/USA">United States</a></td>
<td><a href="/countries/USA"><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/> USA</a></td>
<td>36</td>
<td>26</td>
<td>28</td>
<td>90</td>
</tr>
<tr>
<td><a href="/countries/URS">Soviet Union</a></td>
<td><a href="/countries/URS"><img src="/images/flags/URS.png" style="padding-right: 2px; vertical-align: middle"/> URS</a></td>
<td>30</td>
<td>31</td>
<td>35</td>
<td>96</td>
</tr>
<tr>
<td><a href="/countries/JPN">Japan</a></td>
<td><a href="/countries/JPN"><img src="/images/flags/JPN.png" style="padding-right: 2px; vertical-align: middle"/> JPN</a></td>
<td>16</td>
<td>5</td>
<td>8</td>
<td>29</td>
</tr>
<tr>
<td><a href="/countries/GER">Germany</a></td>
<td><a href="/countries/GER"><img src="/images/flags/GER.png" style="padding-right: 2px; vertical-align: middle"/> GER</a></td>
<td>10</td>
<td>22</td>
<td>18</td>
<td>50</td>
</tr>
<tr>
<td><a href="/countries/ITA">Italy</a></td>
<td><a href="/countries/ITA"><img src="/images/flags/ITA.png" style="padding-right: 2px; vertical-align: middle"/> ITA</a></td>
<td>10</td>
<td>10</td>
<td>7</td>
<td>27</td>
</tr>
<tr>
<td><a href="/countries/HUN">Hungary</a></td>
<td><a href="/countries/HUN"><img src="/images/flags/HUN.png" style="padding-right: 2px; vertical-align: middle"/> HUN</a></td>
<td>10</td>
<td>7</td>
<td>5</td>
<td>22</td>
</tr>
<tr>
<td><a href="/countries/POL">Poland</a></td>
<td><a href="/countries/POL"><img src="/images/flags/POL.png" style="padding-right: 2px; vertical-align: middle"/> POL</a></td>
<td>7</td>
<td>6</td>
<td>10</td>
<td>23</td>
</tr>
<tr>
<td><a href="/countries/AUS">Australia</a></td>
<td><a href="/countries/AUS"><img src="/images/flags/AUS.png" style="padding-right: 2px; vertical-align: middle"/> AUS</a></td>
<td>6</td>
<td>2</td>
<td>10</td>
<td>18</td>
</tr>
<tr>
<td><a href="/countries/TCH">Czechoslovakia</a></td>
<td><a href="/countries/TCH"><img src="/images/flags/TCH.png" style="padding-right: 2px; vertical-align: middle"/> TCH</a></td>
<td>5</td>
<td>6</td>
<td>3</td>
<td>14</td>
</tr>
<tr>
<td><a href="/countries/GBR">Great Britain</a></td>
<td><a href="/countries/GBR"><img src="/images/flags/GBR.png" style="padding-right: 2px; vertical-align: middle"/> GBR</a></td>
<td>4</td>
<td>12</td>
<td>2</td>
<td>18</td>
</tr>
<tr>
<td><a href="/countries/BUL">Bulgaria</a></td>
<td><a href="/countries/BUL"><img src="/images/flags/BUL.png" style="padding-right: 2px; vertical-align: middle"/> BUL</a></td>
<td>3</td>
<td>5</td>
<td>2</td>
<td>10</td>
</tr>
<tr>
<td><a href="/countries/FIN">Finland</a></td>
<td><a href="/countries/FIN"><img src="/images/flags/FIN.png" style="padding-right: 2px; vertical-align: middle"/> FIN</a></td>
<td>3</td>
<td>0</td>
<td>2</td>
<td>5</td>
</tr>
<tr>
<td><a href="/countries/NZL">New Zealand</a></td>
<td><a href="/countries/NZL"><img src="/images/flags/NZL.png" style="padding-right: 2px; vertical-align: middle"/> NZL</a></td>
<td>3</td>
<td>0</td>
<td>2</td>
<td>5</td>
</tr>
<tr>
<td><a href="/countries/ROU">Romania</a></td>
<td><a href="/countries/ROU"><img src="/images/flags/ROU.png" style="padding-right: 2px; vertical-align: middle"/> ROU</a></td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>12</td>
</tr>
<tr>
<td><a href="/countries/NED">Netherlands</a></td>
<td><a href="/countries/NED"><img src="/images/flags/NED.png" style="padding-right: 2px; vertical-align: middle"/> NED</a></td>
<td>2</td>
<td>4</td>
<td>4</td>
<td>10</td>
</tr>
<tr>
<td><a href="/countries/TUR">Turkey</a></td>
<td><a href="/countries/TUR"><img src="/images/flags/TUR.png" style="padding-right: 2px; vertical-align: middle"/> TUR</a></td>
<td>2</td>
<td>3</td>
<td>1</td>
<td>6</td>
</tr>
<tr>
<td><a href="/countries/SWE">Sweden</a></td>
<td><a href="/countries/SWE"><img src="/images/flags/SWE.png" style="padding-right: 2px; vertical-align: middle"/> SWE</a></td>
<td>2</td>
<td>2</td>
<td>4</td>
<td>8</td>
</tr>
<tr>
<td><a href="/countries/DEN">Denmark</a></td>
<td><a href="/countries/DEN"><img src="/images/flags/DEN.png" style="padding-right: 2px; vertical-align: middle"/> DEN</a></td>
<td>2</td>
<td>1</td>
<td>3</td>
<td>6</td>
</tr>
<tr>
<td><a href="/countries/YUG">Yugoslavia</a></td>
<td><a href="/countries/YUG"><img src="/images/flags/YUG.png" style="padding-right: 2px; vertical-align: middle"/> YUG</a></td>
<td>2</td>
<td>1</td>
<td>2</td>
<td>5</td>
</tr>
<tr>
<td><a href="/countries/BEL">Belgium</a></td>
<td><a href="/countries/BEL"><img src="/images/flags/BEL.png" style="padding-right: 2px; vertical-align: middle"/> BEL</a></td>
<td>2</td>
<td>0</td>
<td>1</td>
<td>3</td>
</tr>
<tr>
<td><a href="/countries/FRA">France</a></td>
<td><a href="/countries/FRA"><img src="/images/flags/FRA.png" style="padding-right: 2px; vertical-align: middle"/> FRA</a></td>
<td>1</td>
<td>8</td>
<td>6</td>
<td>15</td>
</tr>
<tr>
<td><a href="/countries/CAN">Canada</a></td>
<td><a href="/countries/CAN"><img src="/images/flags/CAN.png" style="padding-right: 2px; vertical-align: middle"/> CAN</a></td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>4</td>
</tr>
<tr>
<td><a href="/countries/SUI">Switzerland</a></td>
<td><a href="/countries/SUI"><img src="/images/flags/SUI.png" style="padding-right: 2px; vertical-align: middle"/> SUI</a></td>
<td>1</td>
<td>2</td>
<td>1</td>
<td>4</td>
</tr>
<tr>
<td><a href="/countries/ETH">Ethiopia</a></td>
<td><a href="/countries/ETH"><img src="/images/flags/ETH.png" style="padding-right: 2px; vertical-align: middle"/> ETH</a></td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>1</td>
</tr>
<tr>
<td><a href="/countries/IND">India</a></td>
<td><a href="/countries/IND"><img src="/images/flags/IND.png" style="padding-right: 2px; vertical-align: middle"/> IND</a></td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>1</td>
</tr>
<tr>
<td><a href="/countries/BAH">The Bahamas</a></td>
<td><a href="/countries/BAH"><img src="/images/flags/BAH.png" style="padding-right: 2px; vertical-align: middle"/> BAH</a></td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>1</td>
</tr>
<tr>
<td><a href="/countries/KOR">Republic of Korea</a></td>
<td><a href="/countries/KOR"><img src="/images/flags/KOR.png" style="padding-right: 2px; vertical-align: middle"/> KOR</a></td>
<td>0</td>
<td>2</td>
<td>1</td>
<td>3</td>
</tr>
<tr>
<td><a href="/countries/TTO">Trinidad and Tobago</a></td>
<td><a href="/countries/TTO"><img src="/images/flags/TTO.png" style="padding-right: 2px; vertical-align: middle"/> TTO</a></td>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
</tr>
<tr>
<td><a href="/countries/TUN">Tunisia</a></td>

In [133]:
page_dfs = pd.read_html(page_url)
page_dfs

[              0                       1
 0         Dates  14 â 21 October 1964
 1  Medal Events                      36,
                              Event   Status                    Date  \
 0                  100 metres, Men  Olympic  14 â 15 October 1964
 1                  200 metres, Men  Olympic  16 â 17 October 1964
 2                  400 metres, Men  Olympic  17 â 19 October 1964
 3                  800 metres, Men  Olympic  14 â 16 October 1964
 4                1,500 metres, Men  Olympic  17 â 21 October 1964
 5                5,000 metres, Men  Olympic  16 â 18 October 1964
 6               10,000 metres, Men  Olympic         14 October 1964
 7                    Marathon, Men  Olympic         21 October 1964
 8          110 metres Hurdles, Men  Olympic  17 â 18 October 1964
 9          400 metres Hurdles, Men  Olympic  14 â 16 October 1964
 10  3,000 metres Steeplechase, Men  Olympic  15 â 17 October 1964
 11       4 x 100 metres Relay, Men  Olympic  20 â 21 October 1964
 12       4 x 400 metres Relay, Men  Olympic  20 â 21 October 1964
 13         20 kilometres Walk, Men  Olympic         15 October 1964
 14         50 kilometres Walk, Men  Olympic         18 October 1964
 15                  High Jump, Men  Olympic  20 â 21 October 1964
 16                 Pole Vault, Men  Olympic  15 â 17 October 1964
 17                  Long Jump, Men  Olympic         18 October 1964
 18                Triple Jump, Men  Olympic         16 October 1964
 19                   Shot Put, Men  Olympic         17 October 1964
 20               Discus Throw, Men  Olympic         15 October 1964
 21               Hammer Throw, Men  Olympic  17 â 18 October 1964
 22              Javelin Throw, Men  Olympic         14 October 1964
 23                  Decathlon, Men  Olympic  19 â 20 October 1964
 24               100 metres, Women  Olympic  15 â 16 October 1964
 25               200 metres, Women  Olympic  18 â 19 October 1964
 26               400 metres, Women  Olympic  15 â 17 October 1964
 27               800 metres, Women  Olympic  18 â 20 October 1964
 28        80 metres Hurdles, Women  Olympic  18 â 19 October 1964
 29     4 x 100 metres Relay, Women  Olympic  20 â 21 October 1964
 30                High Jump, Women  Olympic         15 October 1964
 31                Long Jump, Women  Olympic         14 October 1964
 32                 Shot Put, Women  Olympic         20 October 1964
 33             Discus Throw, Women  Olympic         19 October 1964
 34            Javelin Throw, Women  Olympic         16 October 1964
 35               Pentathlon, Women  Olympic  16 â 17 October 1964
 36                             NaN      NaN                     NaN

       Participants        NOCs
 0               73          49
 1               57          42
 2               50          33
 3               47          32
 4               43          33
 5               48          29
 6               38          23
 7               68          35
 8               37          23
 9               39          25
 10              29          19
 11              85          21
 12              68          17
 13              30          15
 14              34          19
 15              28          19
 16              30          19
 17              32          20
 18              34          21
 19              22          13
 20              29          21
 21              24          13
 22              25          15
 23              22          14
 24              44          27
 25              36          24
 26              23          17
 27              23          15
 28              27          19
 29              60          15
 30              26          18
 31              31          20
 32              16          11
 33              21          15
 34              16          10
 35              20          15
 36  1018 (782/236)  80 (78/41)  ,
                              Event             Gold Gold.1  \
 0                  100 metres, Men        Bob Hayes    USA
 1                  200 metres, Men       Henry Carr    USA
 2                  400 metres, Men    Mike Larrabee    USA
 3                  800 metres, Men      Peter Snell    NZL
 4                1,500 metres, Men      Peter Snell    NZL
 5                5,000 metres, Men        Bob Schul    USA
 6               10,000 metres, Men      Billy Mills    USA
 7                    Marathon, Men     Abebe Bikila    ETH
 8          110 metres Hurdles, Men      Hayes Jones    USA
 9          400 metres Hurdles, Men       Rex Cawley    USA
 10  3,000 metres Steeplechase, Men  Gaston Roelants    BEL
 11      4 Ã 100 metres Relay, Men    United States    USA
 12      4 Ã 400 metres Relay, Men    United States    USA
 13         20 kilometres Walk, Men     Ken Matthews    GBR
 14         50 kilometres Walk, Men     Abdon Pamich    ITA
 15                  High Jump, Men    Valery Brumel    URS
 16                 Pole Vault, Men      Fred Hansen    USA
 17                  Long Jump, Men      Lynn Davies    GBR
 18                Triple Jump, Men    JÃ³zef Szmidt    POL
 19                   Shot Put, Men      Dallas Long    USA
 20               Discus Throw, Men        Al Oerter    USA
 21               Hammer Throw, Men     Romuald Klim    URS
 22              Javelin Throw, Men     Pauli Nevala    FIN
 23                  Decathlon, Men    Willi Holdorf    GER
 24               100 metres, Women      Wyomia Tyus    USA
 25               200 metres, Women    Edith McGuire    USA
 26               400 metres, Women   Betty Cuthbert    AUS
 27               800 metres, Women       Ann Packer    GBR
 28        80 metres Hurdles, Women     Karin Balzer    GER
 29    4 Ã 100 metres Relay, Women           Poland    POL
 30                High Jump, Women   Iolanda BalaÈ    ROU
 31                Long Jump, Women        Mary Rand    GBR
 32                 Shot Put, Women     Tamara Press    URS
 33             Discus Throw, Women     Tamara Press    URS
 34            Javelin Throw, Women   Mihaela PeneÈ    ROU
 35               Pentathlon, Women      Irina Press    URS

                        Silver Silver.1                Bronze Bronze.1
 0           Enrique Figuerola      CUB          Harry Jerome      CAN
 1                Paul Drayton      USA         Edwin Roberts      TTO
 2             Wendell Mottley      TTO     Andrzej BadeÅski      POL
 3               Bill Crothers      CAN       Wilson Kiprugut      KEN
 4              Josef OdloÅ¾il      TCH           John Davies      NZL
 5              Harald Norpoth      GER        Bill Dellinger      USA
 6            Mohamad Gammoudi      TUN            Ron Clarke      AUS
 7               Basil Heatley      GBR     Kokichi Tsuburaya      JPN
 8             Blaine Lindgren      USA     Anatoly Mikhaylov      URS
 9                 John Cooper      GBR      Salvatore Morale      ITA
 10           Maurice Herriott      GBR         Ivan Belyayev      URS
 11                     Poland      POL                France      FRA
 12              Great Britain      GBR   Trinidad and Tobago      TTO
 13             Dieter Lindner      GER   Vladimir Golubnichy      URS
 14                Paul Nihill      GBR     Ingvar Pettersson      SWE
 15                John Thomas      USA            John Rambo      USA
 16         Wolfgang Reinhardt      GER        Klaus Lehnertz      GER
 17               Ralph Boston      USA    Igor Ter-Ovanesyan      URS
 18             Oleg Fedoseyev      URS     Viktor Kravchenko      URS
 19               Randy Matson      USA         Vilmos VarjÃº      HUN
 20             LudvÃ­k DanÄk      TCH            Dave Weill      USA
 21           Gyula ZsivÃ³tzky      HUN             Uwe Beyer      GER
 22           Gergely KulcsÃ¡r      HUN         JÄnis LÅ«sis      URS
 23                   Rein Aun      URS    Hans-Joachim Walde      GER
 24              Edith McGuire      USA      Ewa KÅobukowska      POL
 25         Irena Kirszenstein      POL         Marilyn Black      AUS
 26                 Ann Packer      GBR           Judy Amoore      AUS
 27         Maryvonne Dupureur      FRA    Marise Chamberlain      NZL
 28             Teresa CiepÅy      POL           Pam Kilborn      AUS
 29              United States      USA         Great Britain      GBR
 30        Michele Mason-Brown      AUS      Taisiya Chenchik      URS
 31         Irena Kirszenstein      POL  Tatyana Shchelkanova      URS
 32  Renate Garisch-Culmberger      GER         Galina Zybina      URS
 33                Ingrid Lotz      GER           Lia Manoliu      ROU
 34         MÃ¡rta Antal-Rudas      HUN     Yelena Gorchakova      URS
 35                  Mary Rand      GBR       Galina Bystrova      URS  ,
                     NOC NOC.1  Gold  Silver  Bronze  Total
 0         United States   USA    14       7       3     24
 1          Soviet Union   URS     5       2      11     18
 2         Great Britain   GBR     4       7       1     12
 3               Germany   GER     2       5       3     10
 4                Poland   POL     2       4       2      8
 5           New Zealand   NZL     2       0       2      4
 6               Romania   ROU     2       0       1      3
 7             Australia   AUS     1       1       4      6
 8                 Italy   ITA     1       0       1      2
 9               Belgium   BEL     1       0       0      1
 10             Ethiopia   ETH     1       0       0      1
 11              Finland   FIN     1       0       0      1
 12              Hungary   HUN     0       3       1      4
 13       Czechoslovakia   TCH     0       2       0      2
 14  Trinidad and Tobago   TTO     0       1       2      3
 15               Canada   CAN     0       1       1      2
 16               France   FRA     0       1       1      2
 17                 Cuba   CUB     0       1       0      1
 18              Tunisia   TUN     0       1       0      1
 19                Japan   JPN     0       0       1      1
 20                Kenya   KEN     0       0       1      1
 21               Sweden   SWE     0       0       1      1]

In [134]:
# Gather Results Table
df_results = pd.read_html(page_url)[2]
df_results

,Event,Gold,Gold.1,Silver,Silver.1,Bronze,Bronze.1
0,"100 metres, Men",Bob Hayes,USA,Enrique Figuerola,CUB,Harry Jerome,CAN
1,"200 metres, Men",Henry Carr,USA,Paul Drayton,USA,Edwin Roberts,TTO
2,"400 metres, Men",Mike Larrabee,USA,Wendell Mottley,TTO,Andrzej BadeÅski,POL
3,"800 metres, Men",Peter Snell,NZL,Bill Crothers,CAN,Wilson Kiprugut,KEN
4,"1,500 metres, Men",Peter Snell,NZL,Josef OdloÅ¾il,TCH,John Davies,NZL
5,"5,000 metres, Men",Bob Schul,USA,Harald Norpoth,GER,Bill Dellinger,USA
6,"10,000 metres, Men",Billy Mills,USA,Mohamad Gammoudi,TUN,Ron Clarke,AUS
7,"Marathon, Men",Abebe Bikila,ETH,Basil Heatley,GBR,Kokichi Tsuburaya,JPN
8,"110 metres Hurdles, Men",Hayes Jones,USA,Blaine Lindgren,USA,Anatoly Mikhaylov,URS
9,"400 metres Hurdles, Men",Rex Cawley,USA,John Cooper,GBR,Salvatore Morale,ITA
10,"3,000 metres Steeplechase, Men",Gaston Roelants,BEL,Maurice Herriott,GBR,Ivan Belyayev,URS
11,"4 Ã 100 metres Relay, Men",United States,USA,Poland,POL,France,FRA
12,"4 Ã 400 metres Relay, Men",United States,USA,Great Britain,GBR,Trinidad and Tobago,TTO
13,"20 kilometres Walk, Men",Ken Matthews,GBR,Dieter Lindner,GER,Vladimir Golubnichy,URS
14,"50 kilometres Walk, Men",Abdon Pamich,ITA,Paul Nihill,GBR,Ingvar Pettersson,SWE
15,"High Jump, Men",Valery Brumel,URS,John Thomas,USA,John Rambo,USA
16,"Pole Vault, Men",Fred Hansen,USA,Wolfgang Reinhardt,GER,Klaus Lehnertz,GER
17,"Long Jump, Men",Lynn Davies,GBR,Ralph Boston,USA,Igor Ter-Ovanesyan,URS
18,"Triple Jump, Men",JÃ³zef Szmidt,POL,Oleg Fedoseyev,URS,Viktor Kravchenko,URS
19,"Shot Put, Men",Dallas Long,USA,Randy Matson,USA,Vilmos VarjÃº,HUN
20,"Discus Throw, Men",Al Oerter,USA,LudvÃ­k DanÄk,TCH,Dave Weill,USA
21,"Hammer Throw, Men",Romuald Klim,URS,Gyula ZsivÃ³tzky,HUN,Uwe Beyer,GER
22,"Javelin Throw, Men",Pauli Nevala,FIN,Gergely KulcsÃ¡r,HUN,JÄnis LÅ«sis,URS
23,"Decathlon, Men",Willi Holdorf,GER,Rein Aun,URS,Hans-Joachim Walde,GER
24,"100 metres, Women",Wyomia Tyus,USA,Edith McGuire,USA,Ewa KÅobukowska,POL
25,"200 metres, Women",Edith McGuire,USA,Irena Kirszenstein,POL,Marilyn Black,AUS
26,"400 metres, Women",Betty Cuthbert,AUS,Ann Packer,GBR,Judy Amoore,AUS
27,"800 metres, Women",Ann Packer,GBR,Maryvonne Dupureur,FRA,Marise Chamberlain,NZL
28,"80 metres Hurdles, Women",Karin Balzer,GER,Teresa CiepÅy,POL,Pam Kilborn,AUS
29,"4 Ã 100 metres Relay, Women",Poland,POL,United States,USA,Great Britain,GBR
30,"High Jump, Women",Iolanda BalaÈ,ROU,Michele Mason-Brown,AUS,Taisiya Chenchik,URS
31,"Long Jump, Women",Mary Rand,GBR,Irena Kirszenstein,POL,Tatyana Shchelkanova,URS
32,"Shot Put, Women",Tamara Press,URS,Renate Garisch-Culmberger,GER,Galina Zybina,URS
33,"Discus Throw, Women",Tamara Press,URS,Ingrid Lotz,GER,Lia Manoliu,ROU
34,"Javelin Throw, Women",Mihaela PeneÈ,ROU,MÃ¡rta Antal-Rudas,HUN,Yelena Gorchakova,URS
35,"Pentathlon, Women",Irina Press,URS,Mary Rand,GBR,Galina Bystrova,URS

In [40]:
# Clean/Resolve Ties

#df_results_tiebreaker

In [111]:
# Find Location, Long, Lat

#for event in df_results['Event']:
event = df_results['Event'][1]
# Navigate to Event Details
print("going to...   " + event)
browser.find_by_text(event).click() # this works - loop step 1
# get page url
page_url = browser.url
# reset soup
# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')

going to...   Team All-Around, Men

In [120]:
df_event_details = pd.read_html(page_url)[0]
df_event_details

              0                       1
0         Dates  14 â 21 October 1964
1  Medal Events                      36

In [135]:
# Add Year, Discipline to Results Table
df_results['Year'] = '1964'

In [136]:
df_results

,Event,Gold,Gold.1,Silver,Silver.1,Bronze,Bronze.1,Year
0,"100 metres, Men",Bob Hayes,USA,Enrique Figuerola,CUB,Harry Jerome,CAN,1964
1,"200 metres, Men",Henry Carr,USA,Paul Drayton,USA,Edwin Roberts,TTO,1964
2,"400 metres, Men",Mike Larrabee,USA,Wendell Mottley,TTO,Andrzej BadeÅski,POL,1964
3,"800 metres, Men",Peter Snell,NZL,Bill Crothers,CAN,Wilson Kiprugut,KEN,1964
4,"1,500 metres, Men",Peter Snell,NZL,Josef OdloÅ¾il,TCH,John Davies,NZL,1964
5,"5,000 metres, Men",Bob Schul,USA,Harald Norpoth,GER,Bill Dellinger,USA,1964
6,"10,000 metres, Men",Billy Mills,USA,Mohamad Gammoudi,TUN,Ron Clarke,AUS,1964
7,"Marathon, Men",Abebe Bikila,ETH,Basil Heatley,GBR,Kokichi Tsuburaya,JPN,1964
8,"110 metres Hurdles, Men",Hayes Jones,USA,Blaine Lindgren,USA,Anatoly Mikhaylov,URS,1964
9,"400 metres Hurdles, Men",Rex Cawley,USA,John Cooper,GBR,Salvatore Morale,ITA,1964
10,"3,000 metres Steeplechase, Men",Gaston Roelants,BEL,Maurice Herriott,GBR,Ivan Belyayev,URS,1964
11,"4 Ã 100 metres Relay, Men",United States,USA,Poland,POL,France,FRA,1964
12,"4 Ã 400 metres Relay, Men",United States,USA,Great Britain,GBR,Trinidad and Tobago,TTO,1964
13,"20 kilometres Walk, Men",Ken Matthews,GBR,Dieter Lindner,GER,Vladimir Golubnichy,URS,1964
14,"50 kilometres Walk, Men",Abdon Pamich,ITA,Paul Nihill,GBR,Ingvar Pettersson,SWE,1964
15,"High Jump, Men",Valery Brumel,URS,John Thomas,USA,John Rambo,USA,1964
16,"Pole Vault, Men",Fred Hansen,USA,Wolfgang Reinhardt,GER,Klaus Lehnertz,GER,1964
17,"Long Jump, Men",Lynn Davies,GBR,Ralph Boston,USA,Igor Ter-Ovanesyan,URS,1964
18,"Triple Jump, Men",JÃ³zef Szmidt,POL,Oleg Fedoseyev,URS,Viktor Kravchenko,URS,1964
19,"Shot Put, Men",Dallas Long,USA,Randy Matson,USA,Vilmos VarjÃº,HUN,1964
20,"Discus Throw, Men",Al Oerter,USA,LudvÃ­k DanÄk,TCH,Dave Weill,USA,1964
21,"Hammer Throw, Men",Romuald Klim,URS,Gyula ZsivÃ³tzky,HUN,Uwe Beyer,GER,1964
22,"Javelin Throw, Men",Pauli Nevala,FIN,Gergely KulcsÃ¡r,HUN,JÄnis LÅ«sis,URS,1964
23,"Decathlon, Men",Willi Holdorf,GER,Rein Aun,URS,Hans-Joachim Walde,GER,1964
24,"100 metres, Women",Wyomia Tyus,USA,Edith McGuire,USA,Ewa KÅobukowska,POL,1964
25,"200 metres, Women",Edith McGuire,USA,Irena Kirszenstein,POL,Marilyn Black,AUS,1964
26,"400 metres, Women",Betty Cuthbert,AUS,Ann Packer,GBR,Judy Amoore,AUS,1964
27,"800 metres, Women",Ann Packer,GBR,Maryvonne Dupureur,FRA,Marise Chamberlain,NZL,1964
28,"80 metres Hurdles, Women",Karin Balzer,GER,Teresa CiepÅy,POL,Pam Kilborn,AUS,1964
29,"4 Ã 100 metres Relay, Women",Poland,POL,United States,USA,Great Britain,GBR,1964
30,"High Jump, Women",Iolanda BalaÈ,ROU,Michele Mason-Brown,AUS,Taisiya Chenchik,URS,1964
31,"Long Jump, Women",Mary Rand,GBR,Irena Kirszenstein,POL,Tatyana Shchelkanova,URS,1964
32,"Shot Put, Women",Tamara Press,URS,Renate Garisch-Culmberger,GER,Galina Zybina,URS,1964
33,"Discus Throw, Women",Tamara Press,URS,Ingrid Lotz,GER,Lia Manoliu,ROU,1964
34,"Javelin Throw, Women",Mihaela PeneÈ,ROU,MÃ¡rta Antal-Rudas,HUN,Yelena Gorchakova,URS,1964
35,"Pentathlon, Women",Irina Press,URS,Mary Rand,GBR,Galina Bystrova,URS,1964

In [ ]:
# Scrape Location Details

location = df_event_details[1][2]
# Navigate to Location Details
print("going to...   " + location)
browser.find_by_text(location).click() # this works - loop step 1
# get page url
page_url = browser.url
# reset soup
# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')
browser.back()

In [129]:
# Merge Data into MasterCompetitionData
df_MasterCompetitionData = pd.DataFrame() #first run

In [138]:
df_MasterCompetitionData.append(df_results)

,Event,Gold,Gold.1,Silver,Silver.1,Bronze,Bronze.1,Year
0,"100 metres, Men",Bob Hayes,USA,Enrique Figuerola,CUB,Harry Jerome,CAN,1964
1,"200 metres, Men",Henry Carr,USA,Paul Drayton,USA,Edwin Roberts,TTO,1964
2,"400 metres, Men",Mike Larrabee,USA,Wendell Mottley,TTO,Andrzej BadeÅski,POL,1964
3,"800 metres, Men",Peter Snell,NZL,Bill Crothers,CAN,Wilson Kiprugut,KEN,1964
4,"1,500 metres, Men",Peter Snell,NZL,Josef OdloÅ¾il,TCH,John Davies,NZL,1964
5,"5,000 metres, Men",Bob Schul,USA,Harald Norpoth,GER,Bill Dellinger,USA,1964
6,"10,000 metres, Men",Billy Mills,USA,Mohamad Gammoudi,TUN,Ron Clarke,AUS,1964
7,"Marathon, Men",Abebe Bikila,ETH,Basil Heatley,GBR,Kokichi Tsuburaya,JPN,1964
8,"110 metres Hurdles, Men",Hayes Jones,USA,Blaine Lindgren,USA,Anatoly Mikhaylov,URS,1964
9,"400 metres Hurdles, Men",Rex Cawley,USA,John Cooper,GBR,Salvatore Morale,ITA,1964
10,"3,000 metres Steeplechase, Men",Gaston Roelants,BEL,Maurice Herriott,GBR,Ivan Belyayev,URS,1964
11,"4 Ã 100 metres Relay, Men",United States,USA,Poland,POL,France,FRA,1964
12,"4 Ã 400 metres Relay, Men",United States,USA,Great Britain,GBR,Trinidad and Tobago,TTO,1964
13,"20 kilometres Walk, Men",Ken Matthews,GBR,Dieter Lindner,GER,Vladimir Golubnichy,URS,1964
14,"50 kilometres Walk, Men",Abdon Pamich,ITA,Paul Nihill,GBR,Ingvar Pettersson,SWE,1964
15,"High Jump, Men",Valery Brumel,URS,John Thomas,USA,John Rambo,USA,1964
16,"Pole Vault, Men",Fred Hansen,USA,Wolfgang Reinhardt,GER,Klaus Lehnertz,GER,1964
17,"Long Jump, Men",Lynn Davies,GBR,Ralph Boston,USA,Igor Ter-Ovanesyan,URS,1964
18,"Triple Jump, Men",JÃ³zef Szmidt,POL,Oleg Fedoseyev,URS,Viktor Kravchenko,URS,1964
19,"Shot Put, Men",Dallas Long,USA,Randy Matson,USA,Vilmos VarjÃº,HUN,1964
20,"Discus Throw, Men",Al Oerter,USA,LudvÃ­k DanÄk,TCH,Dave Weill,USA,1964
21,"Hammer Throw, Men",Romuald Klim,URS,Gyula ZsivÃ³tzky,HUN,Uwe Beyer,GER,1964
22,"Javelin Throw, Men",Pauli Nevala,FIN,Gergely KulcsÃ¡r,HUN,JÄnis LÅ«sis,URS,1964
23,"Decathlon, Men",Willi Holdorf,GER,Rein Aun,URS,Hans-Joachim Walde,GER,1964
24,"100 metres, Women",Wyomia Tyus,USA,Edith McGuire,USA,Ewa KÅobukowska,POL,1964
25,"200 metres, Women",Edith McGuire,USA,Irena Kirszenstein,POL,Marilyn Black,AUS,1964
26,"400 metres, Women",Betty Cuthbert,AUS,Ann Packer,GBR,Judy Amoore,AUS,1964
27,"800 metres, Women",Ann Packer,GBR,Maryvonne Dupureur,FRA,Marise Chamberlain,NZL,1964
28,"80 metres Hurdles, Women",Karin Balzer,GER,Teresa CiepÅy,POL,Pam Kilborn,AUS,1964
29,"4 Ã 100 metres Relay, Women",Poland,POL,United States,USA,Great Britain,GBR,1964
30,"High Jump, Women",Iolanda BalaÈ,ROU,Michele Mason-Brown,AUS,Taisiya Chenchik,URS,1964
31,"Long Jump, Women",Mary Rand,GBR,Irena Kirszenstein,POL,Tatyana Shchelkanova,URS,1964
32,"Shot Put, Women",Tamara Press,URS,Renate Garisch-Culmberger,GER,Galina Zybina,URS,1964
33,"Discus Throw, Women",Tamara Press,URS,Ingrid Lotz,GER,Lia Manoliu,ROU,1964
34,"Javelin Throw, Women",Mihaela PeneÈ,ROU,MÃ¡rta Antal-Rudas,HUN,Yelena Gorchakova,URS,1964
35,"Pentathlon, Women",Irina Press,URS,Mary Rand,GBR,Galina Bystrova,URS,1964

In [139]:
df_MasterCompetitionData

Empty DataFrame
Columns: []
Index: []

# Below is working on potentially parsing each table into a list and then making the dataframe from the list of lists. 

### NOTE: 

It looks like the loop above is going to work and I doubt we are going to get graded on the time the code takes to process but left the link and maybe this challenge in here if we want to do it the 'most effective' way.

Maybe this would be an issue if we had more data but it didn't seem like an issue for the medals by year. 

link with good info on why not to append dataframes but not related to scraping 
- https://stackoverflow.com/questions/13784192/creating-an-empty-pandas-dataframe-then-filling-it 

## Ideas: Maybe pull tables with pd.read_html still and then send each column to a list with tolist(). Append those lists to a master list or dictionary, and then make a combined df with the data?

In [ ]:
# started some testing on scraping to lists

# /html/body/div[2]/table[5]/thead/tr/th[1]
url = "https://www.olympedia.org/editions/16"

html = browser.html
html_soup = soup(html, 'html.parser')

# set table reference
year_results_table = html_soup.find_all('table')[5]
table_headers = []
for year_results_table
# get the table headers
# set the headers as dictionary keys
# append column values to the key:values
# go to the next page and repeat
# turn the dictionary into a dataframe