In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import numpy as np

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=True)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\huang\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [3]:
# go to website to scrape
url = "https://www.olympedia.org/editions"
browser.visit(url)

# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')

In [4]:
# read html with pandas (bs4 and parser working on backend)
test_df = pd.read_html(url) # returs list of all tables on the page

In [5]:
test_df

[         #  Year               City  Country        Opened        Closed  \
 0        I  1896             Athina      NaN       6 April      15 April
 1       II  1900              Paris      NaN           NaN           NaN
 2      III  1904          St. Louis      NaN        14 May           NaN
 3       IV  1908             London      NaN       13 July           NaN
 4        V  1912          Stockholm      NaN        6 July       27 July
 5       VI  1916             Berlin      NaN           NaN           NaN
 6      VII  1920          Antwerpen      NaN     14 August     30 August
 7     VIII  1924              Paris      NaN        5 July       27 July
 8       IX  1928          Amsterdam      NaN       28 July     12 August
 9        X  1932        Los Angeles      NaN       30 July     14 August
 10      XI  1936             Berlin      NaN      1 August     16 August
 11     XII  1940           Helsinki      NaN           NaN           NaN
 12    XIII  1944             London      NaN           NaN           NaN
 13     XIV  1948             London      NaN       29 July     14 August
 14      XV  1952           Helsinki      NaN       19 July      3 August
 15     XVI  1956          Melbourne      NaN   22 November    8 December
 16    XVII  1960               Roma      NaN     25 August  11 September
 17   XVIII  1964              Tokyo      NaN    10 October    24 October
 18     XIX  1968  Ciudad de MÃ©xico      NaN    12 October    27 October
 19      XX  1972           MÃ¼nchen      NaN     26 August  11 September
 20     XXI  1976          MontrÃ©al      NaN       17 July      1 August
 21    XXII  1980             Moskva      NaN       19 July      3 August
 22   XXIII  1984        Los Angeles      NaN       28 July     12 August
 23    XXIV  1988              Seoul      NaN  17 September     2 October
 24     XXV  1992          Barcelona      NaN       25 July      9 August
 25    XXVI  1996            Atlanta      NaN       19 July      4 August
 26   XXVII  2000             Sydney      NaN  15 September     1 October
 27  XXVIII  2004             Athina      NaN     13 August     29 August
 28    XXIX  2008            Beijing      NaN      8 August     24 August
 29     XXX  2012             London      NaN       27 July     12 August
 30    XXXI  2016     Rio de Janeiro      NaN      5 August     21 August
 31   XXXII  2020              Tokyo      NaN       23 July      8 August
 32  XXXIII  2024              Paris      NaN           NaN           NaN
 33   XXXIV  2028        Los Angeles      NaN           NaN           NaN

                    Competition           Unnamed: 7
 0               6 â 13 April                  NaN
 1        14 May â 28 October                  NaN
 2       1 July â 23 November                  NaN
 3      27 April â 31 October                  NaN
 4            5 May â 27 July                  NaN
 5                          â  Not held due to war
 6    23 April â 12 September                  NaN
 7            4 May â 27 July                  NaN
 8         17 May â 12 August                  NaN
 9        30 July â 14 August                  NaN
 10             2 â 16 August                  NaN
 11                         â  Not held due to war
 12                         â  Not held due to war
 13       26 July â 14 August                  NaN
 14        14 July â 3 August                  NaN
 15  22 November â 8 December                  NaN
 16  25 August â 11 September                  NaN
 17           11 â 24 October                  NaN
 18           12 â 27 October                  NaN
 19  26 August â 11 September                  NaN
 20        18 July â 1 August                  NaN
 21        20 July â 3 August                  NaN
 22        6 July â 12 August                  NaN
 23  17 September â 2 October                  NaN
 24        24 July â 9 August                  NaN
 25        20 July â 4 August                  NaN
 26  13 September â 1 October                  NaN
 27            11 â 29 August                  NaN
 28             6 â 24 August                  NaN
 29       25 July â 12 August                  NaN
 30             3 â 21 August                  NaN
 31        21 July â 8 August                  NaN
 32                         â                  NaN
 33                         â                  NaN  ,
         #  Year                      City  Country       Opened       Closed  \
 0       I  1924                  Chamonix      NaN   24 January   5 February
 1      II  1928              Sankt Moritz      NaN  11 February  17 February
 2     III  1932               Lake Placid      NaN   4 February  13 February
 3      IV  1936    Garmisch-Partenkirchen      NaN   6 February  16 February
 4     NaN  1940    Garmisch-Partenkirchen      NaN          NaN          NaN
 5     NaN  1944         Cortina d'Ampezzo      NaN          NaN          NaN
 6       V  1948              Sankt Moritz      NaN   30 January   8 February
 7      VI  1952                      Oslo      NaN  15 February  25 February
 8     VII  1956         Cortina d'Ampezzo      NaN   26 January   5 February
 9    VIII  1960              Squaw Valley      NaN  18 February  28 February
 10     IX  1964                 Innsbruck      NaN   29 January   9 February
 11      X  1968                  Grenoble      NaN   6 February  18 February
 12     XI  1972                   Sapporo      NaN   3 February  13 February
 13    XII  1976                 Innsbruck      NaN   4 February  15 February
 14   XIII  1980               Lake Placid      NaN  13 February  24 February
 15    XIV  1984                  Sarajevo      NaN   8 February  19 February
 16     XV  1988                   Calgary      NaN  13 February  28 February
 17    XVI  1992               Albertville      NaN   8 February  23 February
 18   XVII  1994               Lillehammer      NaN  12 February  27 February
 19  XVIII  1998                    Nagano      NaN   7 February  22 February
 20    XIX  2002            Salt Lake City      NaN   8 February  24 February
 21     XX  2006                    Torino      NaN  10 February  26 February
 22    XXI  2010                 Vancouver      NaN  12 February  28 February
 23   XXII  2014                     Sochi      NaN   7 February  23 February
 24  XXIII  2018               PyeongChang      NaN   9 February  25 February
 25   XXIV  2022                   Beijing      NaN          NaN          NaN
 26    XXV  2026  Milano-Cortina d'Ampezzo      NaN          NaN          NaN

                   Competition           Unnamed: 7
 0   26 January â 4 February                  NaN
 1          11 â 19 February                  NaN
 2           4 â 15 February                  NaN
 3           6 â 16 February                  NaN
 4                         â  Not held due to war
 5                         â  Not held due to war
 6   30 January â 8 February                  NaN
 7          14 â 25 February                  NaN
 8   26 January â 5 February                  NaN
 9          19 â 28 February                  NaN
 10  27 January â 9 February                  NaN
 11          4 â 18 February                  NaN
 12          3 â 13 February                  NaN
 13          3 â 15 February                  NaN
 14         12 â 24 February                  NaN
 15          7 â 19 February                  NaN
 16         13 â 28 February                  NaN
 17          8 â 23 February                  NaN
 18         12 â 27 February                  NaN
 19          7 â 22 February                  NaN
 20          9 â 24 February                  NaN
 21         11 â 26 February                  NaN
 22         12 â 28 February                  NaN
 23          6 â 23 February                  NaN
 24          8 â 25 February                  NaN
 25                        â                  NaN
 26                        â                  NaN  ,
     #  Year       City  Country   Opened   Closed     Competition  Unnamed: 7
 0 NaN  1956  Stockholm      NaN  10 June  17 June  11 â 17 June         NaN,
     #  Year    City  Country    Opened Closed         Competition  Unnamed: 7
 0 NaN  1906  Athina      NaN  22 April  2 May  22 April â 2 May         NaN,
      #  Year          City  Country     Opened      Closed       Competition  \
 0    I  2010     Singapore      NaN  14 August   26 August  12 â 26 August
 1   II  2014       Nanjing      NaN  16 August   28 August  14 â 28 August
 2  III  2018  Buenos Aires      NaN  6 October  18 October  6 â 18 October
 3   IV  2026         Dakar      NaN        NaN         NaN               â

    Unnamed: 7
 0         NaN
 1         NaN
 2         NaN
 3         NaN  ,
      #  Year         City  Country       Opened       Closed  \
 0    I  2012    Innsbruck      NaN   13 January   22 January
 1   II  2016  Lillehammer      NaN  12 February  21 February
 2  III  2020     Lausanne      NaN    9 January   22 January
 3   IV  2024      Gangwon      NaN          NaN          NaN

           Competition  Unnamed: 7
 0   13 â 22 January         NaN
 1  12 â 21 February         NaN
 2   10 â 22 January         NaN
 3                 â         NaN  ,
    #  Year    City  Country  Opened  Closed              Competition  \
 0  1  1859  Athina      NaN     NaN     NaN              15 November
 1  2  1870  Athina      NaN     NaN     NaN              15 November
 2  3  1875  Athina      NaN     NaN     NaN            11 â 18 May
 3  4  1889  Athina      NaN     NaN     NaN  1 December â 30 April

    Unnamed: 7
 0         NaN
 1         NaN
 2         NaN
 3         NaN  ,
          #     Year     City  Country  Opened  Closed Competition  Unnamed: 7
 0      1.0  776 BCE  Olympia      NaN     NaN     NaN         â         NaN
 1      2.0  772 BCE  Olympia      NaN     NaN     NaN         â         NaN
 2      3.0  768 BCE  Olympia      NaN     NaN     NaN         â         NaN
 3      4.0  764 BCE  Olympia      NaN     NaN     NaN         â         NaN
 4      5.0  760 BCE  Olympia      NaN     NaN     NaN         â         NaN
 ..     ...      ...      ...      ...     ...     ...         ...         ...
 289  289.0   377 CE  Olympia      NaN     NaN     NaN         â         NaN
 290  290.0   381 CE  Olympia      NaN     NaN     NaN         â         NaN
 291  291.0   385 CE  Olympia      NaN     NaN     NaN         â         NaN
 292  292.0   389 CE  Olympia      NaN     NaN     NaN         â         NaN
 293  293.0   393 CE  Olympia      NaN     NaN     NaN         â         NaN

 [294 rows x 8 columns]]

In [6]:
print(f'Total tables: {len(test_df)}')

Total tables: 8

In [7]:
# NOTE: code below could also be used to pull Winter from the winter table 
# look for tables with Tokyo
table_tokyo = pd.read_html(url, match="Tokyo", converters={"City":str})
# len(table_tokyo) # returns 1 so that is the table that we want

In [8]:
# read table as DF
sum_olympic_org = table_tokyo[0]
sum_olympic_org.head()

# NOTE: country coming in as NaN because it is a picture of a flag. Scrape country codes from the img tags.

,#,Year,City,Country,Opened,Closed,Competition,Unnamed: 7
0,I,1896,Athina,NaN,6 April,15 April,6 â 13 April,NaN
1,II,1900,Paris,NaN,NaN,NaN,14 May â 28 October,NaN
2,III,1904,St. Louis,NaN,14 May,NaN,1 July â 23 November,NaN
3,IV,1908,London,NaN,13 July,NaN,27 April â 31 October,NaN
4,V,1912,Stockholm,NaN,6 July,27 July,5 May â 27 July,NaN

In [9]:
# trying to get the country codes
# get the image tag from the correct column in the first table
# set table reference
table_to_scrape = html_soup.find_all('table')[0]

# for td in html_soup.find_all('td'):
#     if td.img:
#         print(td.img['src'])

# get table rows
table_body = table_to_scrape.find_all('tr')

In [10]:
# get number of rows in the table
body_rows = table_body[0:]
# len(body_rows)

In [11]:
body_rows

[<tr>
 <th>#</th>
 <th>Year</th>
 <th>City</th>
 <th>Country</th>
 <th>Opened</th>
 <th>Closed</th>
 <th>Competition</th>
 <th></th>
 </tr>,
 <tr>
 <td><a href="/editions/1">I</a></td>
 <td><a href="/editions/1">1896</a></td>
 <td><a href="/editions/1">Athina</a></td>
 <td><img src="/images/flags/GRE.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 6 April</td>
 <td>15 April</td>
 <td>6 – 13 April</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/2">II</a></td>
 <td><a href="/editions/2">1900</a></td>
 <td><a href="/editions/2">Paris</a></td>
 <td><img src="/images/flags/FRA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>14 May – 28 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/3">III</a></td>
 <td><a href="/editions/3">1904</a></td>
 <td><a href="/editions/3">St. Louis</a></td>
 <td><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>14 May</td>
 <td></td>
 <td> 1 July – 23 November</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/5">IV</a></td>
 <td><a href="/editions/5">1908</a></td>
 <td><a href="/editions/5">London</a></td>
 <td><img src="/images/flags/GBR.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>13 July</td>
 <td></td>
 <td>27 April – 31 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/6">V</a></td>
 <td><a href="/editions/6">1912</a></td>
 <td><a href="/editions/6">Stockholm</a></td>
 <td><img src="/images/flags/SWE.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 6 July</td>
 <td>27 July</td>
 <td> 5 May – 27 July</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/50">VI</a></td>
 <td><a href="/editions/50">1916</a></td>
 <td><a href="/editions/50">Berlin</a></td>
 <td><img src="/images/flags/GER.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>—</td>
 <td>
 Not held due to war
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/7">VII</a></td>
 <td><a href="/editions/7">1920</a></td>
 <td><a href="/editions/7">Antwerpen</a></td>
 <td><img src="/images/flags/BEL.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>14 August</td>
 <td>30 August</td>
 <td>23 April – 12 September</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/8">VIII</a></td>
 <td><a href="/editions/8">1924</a></td>
 <td><a href="/editions/8">Paris</a></td>
 <td><img src="/images/flags/FRA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 5 July</td>
 <td>27 July</td>
 <td> 4 May – 27 July</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/9">IX</a></td>
 <td><a href="/editions/9">1928</a></td>
 <td><a href="/editions/9">Amsterdam</a></td>
 <td><img src="/images/flags/NED.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>28 July</td>
 <td>12 August</td>
 <td>17 May – 12 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/10">X</a></td>
 <td><a href="/editions/10">1932</a></td>
 <td><a href="/editions/10">Los Angeles</a></td>
 <td><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>30 July</td>
 <td>14 August</td>
 <td>30 July – 14 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/11">XI</a></td>
 <td><a href="/editions/11">1936</a></td>
 <td><a href="/editions/11">Berlin</a></td>
 <td><img src="/images/flags/GER.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 1 August</td>
 <td>16 August</td>
 <td>2 – 16 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/51">XII</a></td>
 <td><a href="/editions/51">1940</a></td>
 <td><a href="/editions/51">Helsinki</a></td>
 <td><img src="/images/flags/FIN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>—</td>
 <td>
 Not held due to war
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/52">XIII</a></td>
 <td><a href="/editions/52">1944</a></td>
 <td><a href="/editions/52">London</a></td>
 <td><img src="/images/flags/GBR.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>—</td>
 <td>
 Not held due to war
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/12">XIV</a></td>
 <td><a href="/editions/12">1948</a></td>
 <td><a href="/editions/12">London</a></td>
 <td><img src="/images/flags/GBR.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>29 July</td>
 <td>14 August</td>
 <td>26 July – 14 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/13">XV</a></td>
 <td><a href="/editions/13">1952</a></td>
 <td><a href="/editions/13">Helsinki</a></td>
 <td><img src="/images/flags/FIN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>19 July</td>
 <td> 3 August</td>
 <td>14 July –  3 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/14">XVI</a></td>
 <td><a href="/editions/14">1956</a></td>
 <td><a href="/editions/14">Melbourne</a></td>
 <td><img src="/images/flags/AUS.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>22 November</td>
 <td> 8 December</td>
 <td>22 November –  8 December</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/15">XVII</a></td>
 <td><a href="/editions/15">1960</a></td>
 <td><a href="/editions/15">Roma</a></td>
 <td><img src="/images/flags/ITA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>25 August</td>
 <td>11 September</td>
 <td>25 August – 11 September</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/16">XVIII</a></td>
 <td><a href="/editions/16">1964</a></td>
 <td><a href="/editions/16">Tokyo</a></td>
 <td><img src="/images/flags/JPN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>10 October</td>
 <td>24 October</td>
 <td>11 – 24 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/17">XIX</a></td>
 <td><a href="/editions/17">1968</a></td>
 <td><a href="/editions/17">Ciudad de México</a></td>
 <td><img src="/images/flags/MEX.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>12 October</td>
 <td>27 October</td>
 <td>12 – 27 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/18">XX</a></td>
 <td><a href="/editions/18">1972</a></td>
 <td><a href="/editions/18">München</a></td>
 <td><img src="/images/flags/FRG.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>26 August</td>
 <td>11 September</td>
 <td>26 August – 11 September</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/19">XXI</a></td>
 <td><a href="/editions/19">1976</a></td>
 <td><a href="/editions/19">Montréal</a></td>
 <td><img src="/images/flags/CAN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>17 July</td>
 <td> 1 August</td>
 <td>18 July –  1 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/20">XXII</a></td>
 <td><a href="/editions/20">1980</a></td>
 <td><a href="/editions/20">Moskva</a></td>
 <td><img src="/images/flags/URS.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>19 July</td>
 <td> 3 August</td>
 <td>20 July –  3 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/21">XXIII</a></td>
 <td><a href="/editions/21">1984</a></td>
 <td><a href="/editions/21">Los Angeles</a></td>
 <td><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>28 July</td>
 <td>12 August</td>
 <td> 6 July – 12 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/22">XXIV</a></td>
 <td><a href="/editions/22">1988</a></td>
 <td><a href="/editions/22">Seoul</a></td>
 <td><img src="/images/flags/KOR.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>17 September</td>
 <td> 2 October</td>
 <td>17 September –  2 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/23">XXV</a></td>
 <td><a href="/editions/23">1992</a></td>
 <td><a href="/editions/23">Barcelona</a></td>
 <td><img src="/images/flags/ESP.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>25 July</td>
 <td> 9 August</td>
 <td>24 July –  9 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/24">XXVI</a></td>
 <td><a href="/editions/24">1996</a></td>
 <td><a href="/editions/24">Atlanta</a></td>
 <td><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>19 July</td>
 <td> 4 August</td>
 <td>20 July –  4 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/25">XXVII</a></td>
 <td><a href="/editions/25">2000</a></td>
 <td><a href="/editions/25">Sydney</a></td>
 <td><img src="/images/flags/AUS.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>15 September</td>
 <td> 1 October</td>
 <td>13 September –  1 October</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/26">XXVIII</a></td>
 <td><a href="/editions/26">2004</a></td>
 <td><a href="/editions/26">Athina</a></td>
 <td><img src="/images/flags/GRE.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>13 August</td>
 <td>29 August</td>
 <td>11 – 29 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/53">XXIX</a></td>
 <td><a href="/editions/53">2008</a></td>
 <td><a href="/editions/53">Beijing</a></td>
 <td><img src="/images/flags/CHN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 8 August</td>
 <td>24 August</td>
 <td>6 – 24 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/54">XXX</a></td>
 <td><a href="/editions/54">2012</a></td>
 <td><a href="/editions/54">London</a></td>
 <td><img src="/images/flags/GBR.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>27 July</td>
 <td>12 August</td>
 <td>25 July – 12 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/59">XXXI</a></td>
 <td><a href="/editions/59">2016</a></td>
 <td><a href="/editions/59">Rio de Janeiro</a></td>
 <td><img src="/images/flags/BRA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td> 5 August</td>
 <td>21 August</td>
 <td>3 – 21 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/61">XXXII</a></td>
 <td><a href="/editions/61">2020</a></td>
 <td><a href="/editions/61">Tokyo</a></td>
 <td><img src="/images/flags/JPN.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td>23 July</td>
 <td> 8 August</td>
 <td>21 July –  8 August</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/63">XXXIII</a></td>
 <td><a href="/editions/63">2024</a></td>
 <td><a href="/editions/63">Paris</a></td>
 <td><img src="/images/flags/FRA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>—</td>
 <td>
 </td>
 </tr>,
 <tr>
 <td><a href="/editions/64">XXXIV</a></td>
 <td><a href="/editions/64">2028</a></td>
 <td><a href="/editions/64">Los Angeles</a></td>
 <td><img src="/images/flags/USA.png" style="padding-right: 2px; vertical-align: middle"/></td>
 <td></td>
 <td></td>
 <td>—</td>
 <td>
 </td>
 </tr>]

In [12]:
# loop through rows and get the image source tags


# define empty list to hold the src tags
flag_images = []

# set row number to pass to table_body[]
for row_num in range(len(body_rows)):

    # loop through each row in the table body and find all rows
    for row in table_body[row_num].find_all('td'):
         
        # check to see if the row has an img tag 
        if row.img:
            # append the img src tag to a list
            flag_images.append(row.img['src'])

In [13]:
# use regex to get the country code from the img src
import re
country_codes = []
# loop through list and pull 3 alphanumeric before '.'
for src in flag_images:
    code = re.findall(r"(\w{3})\.", src) # maybe not the most efficient way but all the strings were the same so took a shot at it
    # append to list
    country_codes.append(code)

In [14]:
# regex loop returned a list of lists so extract into single list
country_codes = [x[0] for x in country_codes]

In [15]:
# get rid of columns we don't need
sum_olympic_cln = sum_olympic_org[['Year', 'City', 'Country']].copy()
sum_olympic_cln.head()

   Year       City  Country
0  1896     Athina      NaN
1  1900      Paris      NaN
2  1904  St. Louis      NaN
3  1908     London      NaN
4  1912  Stockholm      NaN

In [16]:
# replace the NaNs in the Country column with country_codes list
sum_olympic_cln['Country'] = country_codes
sum_olympic_cln.head()

   Year       City Country
0  1896     Athina     GRE
1  1900      Paris     FRA
2  1904  St. Louis     USA
3  1908     London     GBR
4  1912  Stockholm     SWE

In [17]:
# check DF
sum_olympic_cln.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     34 non-null     int64
 1   City     34 non-null     object
 2   Country  34 non-null     object
dtypes: int64(1), object(2)
memory usage: 944.0+ bytes

In [18]:
sum_olympic_org

,#,Year,City,Country,Opened,Closed,Competition,Unnamed: 7
0,I,1896,Athina,NaN,6 April,15 April,6 â 13 April,NaN
1,II,1900,Paris,NaN,NaN,NaN,14 May â 28 October,NaN
2,III,1904,St. Louis,NaN,14 May,NaN,1 July â 23 November,NaN
3,IV,1908,London,NaN,13 July,NaN,27 April â 31 October,NaN
4,V,1912,Stockholm,NaN,6 July,27 July,5 May â 27 July,NaN
5,VI,1916,Berlin,NaN,NaN,NaN,â,Not held due to war
6,VII,1920,Antwerpen,NaN,14 August,30 August,23 April â 12 September,NaN
7,VIII,1924,Paris,NaN,5 July,27 July,4 May â 27 July,NaN
8,IX,1928,Amsterdam,NaN,28 July,12 August,17 May â 12 August,NaN
9,X,1932,Los Angeles,NaN,30 July,14 August,30 July â 14 August,NaN
10,XI,1936,Berlin,NaN,1 August,16 August,2 â 16 August,NaN
11,XII,1940,Helsinki,NaN,NaN,NaN,â,Not held due to war
12,XIII,1944,London,NaN,NaN,NaN,â,Not held due to war
13,XIV,1948,London,NaN,29 July,14 August,26 July â 14 August,NaN
14,XV,1952,Helsinki,NaN,19 July,3 August,14 July â 3 August,NaN
15,XVI,1956,Melbourne,NaN,22 November,8 December,22 November â 8 December,NaN
16,XVII,1960,Roma,NaN,25 August,11 September,25 August â 11 September,NaN
17,XVIII,1964,Tokyo,NaN,10 October,24 October,11 â 24 October,NaN
18,XIX,1968,Ciudad de MÃ©xico,NaN,12 October,27 October,12 â 27 October,NaN
19,XX,1972,MÃ¼nchen,NaN,26 August,11 September,26 August â 11 September,NaN
20,XXI,1976,MontrÃ©al,NaN,17 July,1 August,18 July â 1 August,NaN
21,XXII,1980,Moskva,NaN,19 July,3 August,20 July â 3 August,NaN
22,XXIII,1984,Los Angeles,NaN,28 July,12 August,6 July â 12 August,NaN
23,XXIV,1988,Seoul,NaN,17 September,2 October,17 September â 2 October,NaN
24,XXV,1992,Barcelona,NaN,25 July,9 August,24 July â 9 August,NaN
25,XXVI,1996,Atlanta,NaN,19 July,4 August,20 July â 4 August,NaN
26,XXVII,2000,Sydney,NaN,15 September,1 October,13 September â 1 October,NaN
27,XXVIII,2004,Athina,NaN,13 August,29 August,11 â 29 August,NaN
28,XXIX,2008,Beijing,NaN,8 August,24 August,6 â 24 August,NaN
29,XXX,2012,London,NaN,27 July,12 August,25 July â 12 August,NaN
30,XXXI,2016,Rio de Janeiro,NaN,5 August,21 August,3 â 21 August,NaN
31,XXXII,2020,Tokyo,NaN,23 July,8 August,21 July â 8 August,NaN
32,XXXIII,2024,Paris,NaN,NaN,NaN,â,NaN
33,XXXIV,2028,Los Angeles,NaN,NaN,NaN,â,NaN

In [19]:
# get rid of everything before 1964 and after 2016
analysis_years = sum_olympic_cln.copy()
analysis_years.drop(analysis_years[(analysis_years['Year'] < 1964) | (analysis_years['Year'] > 2016)].index, inplace=True)

In [20]:
analysis_years.rename(columns={"City": "Host_City", "Country":"Host_Country"}, inplace=True)
# analysis_years.head()

In [21]:
# send years with host cities and countries to csv
# analysis_years.to_csv("host_cities.csv")

In [22]:
# merge the dataframes - doing this after becuase I didn't want to re-run the scrape.

# load host cities as DF
# host_cities_df = pd.read_csv("host_cities.csv", index_col=0)

In [23]:
# load medals scrape csv as DF
# all_country_medals_df = pd.read_csv("complete_year_datascrape_07182021.csv", index_col=0)

In [24]:
# merge the dataframes on year
# combined_data = all_country_medals_df.merge(right=host_cities_df, how="left", on="Year")
# combined_data.head()

In [25]:
# send merged dataframe to .csv
# combined_data.to_csv("medal_data_by_year.csv")

# Moving to individual year medals pages
1 - navigate to correct page

2 - locate medal table

3 - load medal table as DF with index as the year

4 - merge with the summer olympic table -

In [26]:
# get years into a list so you can use them for href and click
years_list = analysis_years['Year'].tolist()

# years are int - need them to be string to pass to scraping loop so convert
years_list = [str(x) for x in years_list]

In [27]:
years_list

['1964',
 '1968',
 '1972',
 '1976',
 '1980',
 '1984',
 '1988',
 '1992',
 '1996',
 '2000',
 '2004',
 '2008',
 '2012',
 '2016']

In [35]:
# go to website to scrape
url = "https://www.olympedia.org/editions"
browser.visit(url)

# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')

# test list = successful for 2 years
test_years = ['1964', '1968']
fix_years = ['2016']
# set iterator
# counter = 0

# df dictionary - testing
# https://stackoverflow.com/questions/30233982/merge-dataframes-in-a-dictionary

all_years = {}
df_MasterCompetitionData = pd.DataFrame()

# start for loop to get all of the year medal tables
for year in fix_years: # change back to years_list when testing complete

    browser.find_by_text(year).click() # this works - loop step 1
    print("new olympics, going to...   " + year)
##### IN YEAR LOOP #####
    # get page url - loop step 2
    page_url = browser.url
    print(page_url)
    # parse HTML
    html = browser.html
    html_soup = soup(html, 'html.parser')
    #test_disc_df = pd.read_html(url)
    table_disciplines = pd.read_html(page_url)
    other_disciplines = pd.read_html(page_url)
    # len(table_tokyo) # returns 1 so that is the table that we want
    #table_disciplines
    #other_disciplines


    #Gather List of Main Disciplines
    df_table_disciplines = pd.read_html(page_url)[3]
    if (year == '1984'):
        print("----------its 1984-------------")
        df_table_disciplines = table_disciplines[2]
    #df_table_disciplines

    df_table0 = df_table_disciplines[0]
    df_table1 = df_table_disciplines[1]
    df_table2 = df_table_disciplines[2]

    pieces = {"1": df_table0,"2": df_table1,"3": df_table2}
    df_table_disciplines = pd.concat(pieces)

    main_disciplines = df_table_disciplines.tolist()

#    #Gather list of Other Disciplines
#    df_other_disc = pd.read_html(page_url)[4]
#
#
#    df_table0 = df_other_disc[0]
#    df_table1 = df_other_disc[1]
#    df_table2 = df_other_disc[2]

#    pieces = {"1": df_table0,"2": df_table1,"3": df_table2}
#    df_other_disc = pd.concat(pieces)

#    other_disciplines = df_other_disc.tolist()

    # Combine List of Disciplines and Drop NaN
#    discipline_combo = main_disciplines + other_disciplines
#    df_disciplines_all = pd.DataFrame(discipline_combo)
    df_disciplines_all = pd.DataFrame(main_disciplines)
    df_disciplines_all = df_disciplines_all.dropna()

    
    #####################################
    ##### IN COMPETITION LOOP #####
    for competition in df_disciplines_all[0]:
        # Bug 2000 CTR
        if (competition == 'Cycling Track' or competition == 'Sailing'):
            print("CTR Bug, avoiding")
            continue
        if (year == '2008' and (competition == 'Diving' or competition == 'Shooting')):
            print("CTR Bug, avoiding")
            continue       
        if (year == '2012' and (competition == 'Rowing')):
            print("CTR Bug, avoiding")
            continue
        if (year == '2016' and (competition == 'Diving' or competition == 'Rugby Sevens')):
            print("CTR Bug, avoiding")
            continue   
        #Find the right competition

        #competition = df_disciplines_all[0][0]
        print("going to...   " + str(competition))
        print("     completed " + year + " " + str(competition))
        browser.find_by_text(competition).click() # this works - loop step 1
        
        # get page url
        page_url = browser.url
        # reset soup
        # parse HTML
        html = browser.html
        html_soup = soup(html, 'html.parser')
        page_dfs = pd.read_html(page_url)

        # Gather Results Table
        df_results = pd.read_html(page_url)[2]
        df_results

        # Clean/Resolve Ties

        #df_results_tiebreaker


        # Add Year, Discipline to Results Table
        df_results['Year'] = year
        df_results['Discipline'] = competition
        # Merge Data into MasterCompetitionData
        df_MasterCompetitionData = df_MasterCompetitionData.append(df_results)
        
        #df_MasterCompetitionData = df_results #first run
        #df_MasterCompetitionData.append(df_results)
        # Go Back to Year Page
        browser.back()
    ##### OUT COMPETITION LOOP #####
    
        
    # go back to the main page
    print("-----completed " + year + " -----")
    browser.back()
##### OUT YEAR LOOP #####


browser.quit()

new olympics, going to...   2016
https://www.olympedia.org/editions/59
going to...   Archery
     completed 2016 Archery
going to...   Artistic Gymnastics
     completed 2016 Artistic Gymnastics
going to...   Artistic Swimming
     completed 2016 Artistic Swimming
going to...   Athletics
     completed 2016 Athletics
going to...   Badminton
     completed 2016 Badminton
going to...   Basketball
     completed 2016 Basketball
going to...   Beach Volleyball
     completed 2016 Beach Volleyball
going to...   Boxing
     completed 2016 Boxing
going to...   Canoe Slalom
     completed 2016 Canoe Slalom
going to...   Canoe Sprint
     completed 2016 Canoe Sprint
going to...   Cycling BMX Racing
     completed 2016 Cycling BMX Racing
going to...   Cycling Mountain Bike
     completed 2016 Cycling Mountain Bike
going to...   Cycling Road
     completed 2016 Cycling Road
CTR Bug, avoiding
CTR Bug, avoiding
going to...   Equestrian Dressage
     completed 2016 Equestrian Dressage
going to...   Equestrian Eventing
     completed 2016 Equestrian Eventing
going to...   Equestrian Jumping
     completed 2016 Equestrian Jumping
going to...   Fencing
     completed 2016 Fencing
going to...   Football
     completed 2016 Football
going to...   Golf
     completed 2016 Golf
going to...   Handball
     completed 2016 Handball
going to...   Hockey
     completed 2016 Hockey
going to...   Judo
     completed 2016 Judo
going to...   Marathon Swimming
     completed 2016 Marathon Swimming
going to...   Modern Pentathlon
     completed 2016 Modern Pentathlon
going to...   Rhythmic Gymnastics
     completed 2016 Rhythmic Gymnastics
going to...   Rowing
     completed 2016 Rowing
CTR Bug, avoiding
CTR Bug, avoiding
going to...   Shooting
     completed 2016 Shooting
going to...   Swimming
     completed 2016 Swimming
going to...   Table Tennis
     completed 2016 Table Tennis
going to...   Taekwondo
     completed 2016 Taekwondo
going to...   Tennis
     completed 2016 Tennis
going to...   Trampolining
     completed 2016 Trampolining
going to...   Triathlon
     completed 2016 Triathlon
going to...   Volleyball
     completed 2016 Volleyball
going to...   Water Polo
     completed 2016 Water Polo
going to...   Weightlifting
     completed 2016 Weightlifting
going to...   Wrestling
     completed 2016 Wrestling
-----completed 2016 -----

In [ ]:
# debug
df_disciplines_all[0][competition]

In [32]:
df_MasterCompetitionData

,Event,Gold,Gold.1,Silver,Silver.1,Bronze,Bronze.1,Year,Discipline,Status,Date,Participants,NOCs
0,"Individual, Men",Simon Fairweather,AUS,Vic Wunderle,USA,Wietse van Alten,NED,2000,Archery,NaN,NaN,NaN,NaN
1,"Team, Men",Republic of Korea,KOR,Italy,ITA,United States,USA,2000,Archery,NaN,NaN,NaN,NaN
2,"Individual, Women",Yun Mi-Jin,KOR,Kim Nam-Sun,KOR,Kim Su-Nyeong,KOR,2000,Archery,NaN,NaN,NaN,NaN
3,"Team, Women",Republic of Korea,KOR,Ukraine,UKR,Germany,GER,2000,Archery,NaN,NaN,NaN,NaN
0,"Individual All-Around, Men",Aleksey Nemov,RUS,Yang Wei,CHN,Oleksandr Beresh,UKR,2000,Artistic Gymnastics,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,"Cross-Country, Women",Jenny Rissveds,SWE,Maja WÅoszczowska,POL,Catharine Pendrel,CAN,2016,Cycling Mountain Bike,NaN,NaN,NaN,NaN
0,"Road Race, Individual, Men",Greg Van Avermaet,BEL,Jakob Fuglsang,DEN,RafaÅ Majka,POL,2016,Cycling Road,NaN,NaN,NaN,NaN
1,"Individual Time Trial, Men",Fabian Cancellara,SUI,Tom Dumoulin,NED,Chris Froome,GBR,2016,Cycling Road,NaN,NaN,NaN,NaN
2,"Road Race, Individual, Women",Anna van der Breggen,NED,Emma Johansson,SWE,Elisa Longo Borghini,ITA,2016,Cycling Road,NaN,NaN,NaN,NaN
3,"Individual Time Trial, Women",Kristin Armstrong,USA,Olga Zabelinskaya,RUS,Anna van der Breggen,NED,2016,Cycling Road,NaN,NaN,NaN,NaN

In [ ]:
for competition in df_disciplines_all[0]:
    print(competition)

In [ ]:
df_MasterCompetitionData

In [36]:
df_MasterCompetitionData.to_csv(r'2016_fragmented.csv', index = False)

In [ ]:
# Find Location, Long, Lat

#for event in df_results['Event']:
event = df_results['Event'][1]
# Navigate to Event Details
print("going to...   " + event)
browser.find_by_text(event).click() # this works - loop step 1
# get page url
page_url = browser.url
# reset soup
# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')

In [ ]:
df_event_details = pd.read_html(page_url)[0]
df_event_details

In [ ]:
# Scrape Location Details

location = df_event_details[1][2]
# Navigate to Location Details
print("going to...   " + location)
browser.find_by_text(location).click() # this works - loop step 1
# get page url
page_url = browser.url
# reset soup
# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')
browser.back()

In [ ]:
# Merge Data into MasterCompetitionData
df_MasterCompetitionData = pd.DataFrame() #first run

In [ ]:
df_MasterCompetitionData.append(df_results)

In [ ]:
df_MasterCompetitionData

# Below is working on potentially parsing each table into a list and then making the dataframe from the list of lists. 

### NOTE: 

It looks like the loop above is going to work and I doubt we are going to get graded on the time the code takes to process but left the link and maybe this challenge in here if we want to do it the 'most effective' way.

Maybe this would be an issue if we had more data but it didn't seem like an issue for the medals by year. 

link with good info on why not to append dataframes but not related to scraping 
- https://stackoverflow.com/questions/13784192/creating-an-empty-pandas-dataframe-then-filling-it 

## Ideas: Maybe pull tables with pd.read_html still and then send each column to a list with tolist(). Append those lists to a master list or dictionary, and then make a combined df with the data?

In [ ]:
# started some testing on scraping to lists

# /html/body/div[2]/table[5]/thead/tr/th[1]
url = "https://www.olympedia.org/editions/16"

html = browser.html
html_soup = soup(html, 'html.parser')

# set table reference
year_results_table = html_soup.find_all('table')[5]
table_headers = []
for year_results_table
# get the table headers
# set the headers as dictionary keys
# append column values to the key:values
# go to the next page and repeat
# turn the dictionary into a dataframe