In [6]:
# dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [7]:
url = ("https://www.olympedia.org/counts/edition/61")

# start browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Get LATEST driver version for 92.0.4515
Trying to download new driver from https://chromedriver.storage.googleapis.com/92.0.4515.107/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\tgrah\.wdm\drivers\chromedriver\win32\92.0.4515.107]

In [8]:
# define function to flatten list of lists
def flatten_list(a_list):
    flat_list = []
    for element in a_list:
        if type(element) is list:
            for item in element:
                flat_list.append(item)
        else:
            flat_list.append(element)
    return flat_list

In [11]:
browser.visit(url)

# get page url
page_url = browser.url

# reset soup
# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')

# set the year with a counter
year = 2020
# set table on the year page to the value of that year in a dictionary
# should only be one table on the page to scrape
comp_by_year = pd.read_html(page_url)[0]

# reset header
comp_by_year.columns = comp_by_year.iloc[0] 
# take every row after the first row
comp_by_year = comp_by_year[1:]


# reset the index
comp_by_year.reset_index(inplace=True, drop=True)

# create list of columns
comp_cols = [0]

# get the number of columns
total_cols = len(comp_by_year.columns)
# we wat the last 3 columns so subtract 3
pull_cols = total_cols-3

# add those columns to list for competition data
comp_cols.append(list(range(pull_cols,total_cols)))
# flatten the list
comp_cols = flatten_list(comp_cols)
# use list to pull the data we want from the df
comp_by_year = comp_by_year.iloc[:, comp_cols]

# drop the first row
comp_by_year.drop(index=0, inplace=True)

# rename the columns
comp_by_year.columns = ['Country Code', 'Male', 'Female', 'Total']

# append column with the year
comp_by_year['Year'] = year

In [12]:
comp_by_year.head()

  Country Code Male Female Total  Year
1          AFG    4      2     6  2020
2          ALB    6      3     9  2020
3          ALG   31     13    44  2020
4          AND    1      1     2  2020
5          ANG    4     16    20  2020

In [13]:
browser.quit()

In [17]:
comp_by_year.replace('-', 0, inplace=True)

In [23]:
# get the event results
# go to website to scrape
url = "https://www.olympedia.org/editions"


# start browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

browser.visit(url)

# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')

fix_years = "2020"

df_2020_events = pd.DataFrame()

browser.find_by_text(fix_years).click() # this works - loop step 1
print("new olympics, going to...   " + fix_years)

INFO:WDM:

====== WebDriver manager ======
INFO:WDM:====== WebDriver manager ======
Current google-chrome version is 92.0.4515
INFO:WDM:Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
INFO:WDM:Get LATEST driver version for 92.0.4515
Driver [C:\Users\tgrah\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache
INFO:WDM:Driver [C:\Users\tgrah\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

TypeError: can only concatenate str (not "int") to str

In [24]:
# get page url - loop step 2
page_url = browser.url
print(page_url)
# parse HTML
html = browser.html
html_soup = soup(html, 'html.parser')
#test_disc_df = pd.read_html(url)
table_disciplines = pd.read_html(page_url)
other_disciplines = pd.read_html(page_url)

https://www.olympedia.org/editions/61

In [27]:
#Gather List of Main Disciplines
df_table_disciplines = pd.read_html(page_url)[2]
if (year == '2020'):
    print("----------its 2020-------------")
    df_table_disciplines = table_disciplines[2]
#df_table_disciplines

# df_table0 = df_table_disciplines[0]
# df_table1 = df_table_disciplines[1]
# df_table2 = df_table_disciplines[2]

pieces = {"1": df_table0,"2": df_table1,"3": df_table2}
df_table_disciplines = pd.concat(pieces)

main_disciplines = df_table_disciplines.tolist()

In [ ]:
df_disciplines_all = pd.DataFrame(main_disciplines)

In [28]:
df_table_disciplines.head()

                     0                    1               2
0       3x3 Basketball         Cycling Road         Sailing
1              Archery        Cycling Track        Shooting
2  Artistic Gymnastics               Diving   Skateboarding
3    Artistic Swimming  Equestrian Dressage        Softball
4            Athletics  Equestrian Eventing  Sport Climbing

In [29]:
df_table0 = df_table_disciplines[0]
df_table1 = df_table_disciplines[1]
df_table2 = df_table_disciplines[2]

In [33]:
pieces = {"1": df_table0,"2": df_table1,"3": df_table2}
df_table_disciplines = pd.concat(pieces)

In [35]:
df_table_disciplines.dropna(inplace=True)
main_disciplines = df_table_disciplines.tolist()

In [43]:
# test_comp = main_disciplines[0]
# test_comp = 'Cycling Track'

In [46]:
# empty dictionary to hold competition dfs
all_competitions = {}

In [48]:
url = "https://www.olympedia.org/editions/61"

browser.visit(url)

page_url = browser.url

for comp in main_disciplines:

    print(f"Going to {comp}...")

    browser.find_by_text(comp).click()

    page_url = browser.url

    all_competitions[comp] = pd.read_html(page_url)[2]

    # add discipline
    all_competitions[comp]['Discipline'] = comp

    print(f"{comp} completed.")

    browser.back()

Going to 3x3 Basketball...
3x3 Basketball completed.
Going to Archery...
Archery completed.
Going to Artistic Gymnastics...
Artistic Gymnastics completed.
Going to Artistic Swimming...
Artistic Swimming completed.
Going to Athletics...
Athletics completed.
Going to Badminton...
Badminton completed.
Going to Baseball...
Baseball completed.
Going to Basketball...
Basketball completed.
Going to Beach Volleyball...
Beach Volleyball completed.
Going to Boxing...
Boxing completed.
Going to Canoe Slalom...
Canoe Slalom completed.
Going to Canoe Sprint...
Canoe Sprint completed.
Going to Cycling BMX Freestyle...
Cycling BMX Freestyle completed.
Going to Cycling BMX Racing...
Cycling BMX Racing completed.
Going to Cycling Mountain Bike...
Cycling Mountain Bike completed.
Going to Cycling Road...
Cycling Road completed.
Going to Cycling Track...
Cycling Track completed.
Going to Diving...
Diving completed.
Going to Equestrian Dressage...
Equestrian Dressage completed.
Going to Equestrian Eventing...
Equestrian Eventing completed.
Going to Fencing...
Fencing completed.
Going to Golf...
Golf completed.
Going to Hockey...
Hockey completed.
Going to Judo...
Judo completed.
Going to Karate...
Karate completed.
Going to Marathon Swimming...
Marathon Swimming completed.
Going to Modern Pentathlon...
Modern Pentathlon completed.
Going to Rhythmic Gymnastics...
Rhythmic Gymnastics completed.
Going to Rowing...
Rowing completed.
Going to Rugby Sevens...
Rugby Sevens completed.
Going to Sailing...
Sailing completed.
Going to Shooting...
Shooting completed.
Going to Skateboarding...
Skateboarding completed.
Going to Softball...
Softball completed.
Going to Sport Climbing...
Sport Climbing completed.
Going to Surfing...
Surfing completed.
Going to Swimming...
Swimming completed.
Going to Table Tennis...
Table Tennis completed.
Going to Taekwondo...
Taekwondo completed.
Going to Tennis...
Tennis completed.
Going to Trampolining...
Trampolining completed.
Going to Triathlon...
Triathlon completed.
Going to Weightlifting...
Weightlifting completed.
Going to Wrestling...
Wrestling completed.

In [49]:
# check dictionary
len(all_competitions)

44

In [50]:
len(main_disciplines)

44

In [54]:
df_2020_medals = pd.concat(all_competitions)
df_2020_medals.info()
df_2020_medals.head()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 295 entries, ('3x3 Basketball', 0) to ('Wrestling', 16)
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Event       295 non-null    object
 1   Gold        295 non-null    object
 2   Gold.1      295 non-null    object
 3   Silver      295 non-null    object
 4   Silver.1    295 non-null    object
 5   Bronze      295 non-null    object
 6   Bronze.1    295 non-null    object
 7   Discipline  295 non-null    object
dtypes: object(8)
memory usage: 20.7+ KB

                                  Event               Gold Gold.1  \
3x3 Basketball 0    3x3 Basketball, Men             Latvia    LAT
               1  3x3 Basketball, Women      United States    USA
Archery        0        Individual, Men         Mete Gazoz    TUR
               1              Team, Men  Republic of Korea    KOR
               2      Individual, Women             An San    KOR

                                     Silver Silver.1  \
3x3 Basketball 0  Russian Olympic Committee      ROC
               1  Russian Olympic Committee      ROC
Archery        0              Mauro Nespoli      ITA
               1             Chinese Taipei      TPE
               2             Yelena Osipova      ROC

                                      Bronze Bronze.1      Discipline
3x3 Basketball 0                      Serbia      SRB  3x3 Basketball
               1  People's Republic of China      CHN  3x3 Basketball
Archery        0           Takaharu Furukawa      JPN         Archery
               1                       Japan      JPN         Archery
               2               Lucilla Boari      ITA         Archery

In [55]:
df_2020_medals.to_clipboard()

In [42]:
browser.quit()